[2014-10-04 07:31] hilohiro opened #1 "名前の表示のデザイン改善"

[2014-10-04 07:48] hilohiro opened #5 "興味があることをタグ付けしたい"
## 欲求
- 自分と同じ興味を持っている人を知りたい、アクセスしたい
- 自分と同じ興味を持っている人からアクセスして欲しい
## 仕様
- ユーザーは自分が興味があることを複数設定できる
- ユーザーは他の人が興味があることを表示できる
- ユーザーはある分野に興味がある人の一覧を表示できる

[2014-10-05 04:29] hilohiro opened #13 "github/twitterのIDでユーザー検索したい"

[2014-10-10 11:45] yuji-shimoda commented on #13
これは、文字列で検索したいってことですよね？

[2014-10-14 09:00] hilohiro commented on #13
そうですね。github/twitterのユーザーIDを入力して検索すると、そのIDを持っている人を表示する動作です。

[2014-10-17 14:58] yuji-shimoda opened #33 "tag を他人に書き換えられてしまう"

[2014-10-17 15:01] yuji-shimoda opened #34 "他人のタグをお気に入りして、users#show で表示したい"

[2014-12-10 21:39] JunichiIto opened #44 "リスト管理機能を作る"
- 勉強会ごとにリストをまとめられるようにする。
- リストの作成や編集は誰でもできるようにする（Wiki的な感じで）

[2014-12-21 09:09] JunichiIto opened #56 "利用規約を作成する"
一般公開されるサービスなので利用規約があった方が良い気がする。
（が、まだそこまでいらない気もする。。。）

[2014-12-21 09:10] JunichiIto opened #57 "Google Analyticsを導入する"
とりあえず、簡易的なアクセスカウンタみたいなノリで導入しておいた方がいい気がする。

下田さんのアカウントで作成して、コミッタ陣に権限付与、みたいな形式か？

[2014-12-21 09:11] JunichiIto opened #58 "Faviconを作る"
機能的なメリットはほとんどないが、Faviconやアイコンがあると雰囲気が出て愛着が沸きそう。

[2014-12-21 09:12] JunichiIto opened #59 "ユーザー検索時にデータが1件もない場合に「データがありません」を表示する"
よりユーザーフレンドリーな仕様に。

[2014-12-21 12:21] yuji-shimoda commented on #58
あと、GitHub 連携時に私のアイコンが表示されるので、それも合わせて変更したいです。

[2014-12-21 12:22] yuji-shimoda commented on #59
確かにメッセージを表示する方が親切なので、必要ですね。

[2014-12-21 12:30] yuji-shimoda commented on #57
とりあえず、サービスに登録しました。トラッキング コードをページに貼り付けるように記載されていますが、トップページをトラッキングするんですか？

[2014-12-21 12:33] yuji-shimoda commented on #56
最低限の利用規約は、必要かもしれませんね。
＃ひとまず、西脇.rb と 神戸.rb 以外でも利用されるようになったら考えようかな、、、

[2014-12-21 12:53] yuji-shimoda opened #60 "contributor の一覧ページを作成する"
現状、トップページに Author として私の名前（@yuji_shimoda） が記載されているのですが
本番環境で動くコード（やデザインなど）コントリビューターの名前を表示するために
専用のページを作成したいです。

[2014-12-21 20:34] JunichiIto commented on #57
Google Analytics(GA)は全ページに付けます。
なのでlayoutsファイルに付ける感じですね。

あと、ステージングと本番環境のそれぞれでコードを発行してください。
（ステージングは数値を見る目的ではなく、GAの動作確認用です）

[2014-12-22 21:52] JunichiIto opened #62 "Eventごとに質問と回答欄を用意する"
「勉強会ごとにリストを作る」という運用を想定するなら、勉強会ごとの質問項目と、その回答欄がほしいです。

たとえばもくもく会であれば「何を作る予定ですか？」みたいな感じで。

[2014-12-22 21:53] JunichiIto opened #63 "メールアドレスを登録して、新しいメンバーの通知を受け取るようにしたい"
メールアドレスを登録すると、「XXXさんがKobe Rubyist Connectに参加しました！」みたいな通知が来ると嬉しいかも。

[2014-12-22 21:58] JunichiIto opened #64 "メンバーのソーシャルな活動を可視化する"
たとえば参加メンバーの
- Twitterでの発言
- GitHub上のアクティビティ（コミットしたとかスターを付けたとか）
- Qiita上のアクティビティ（投稿したとかストックしたとか）

の最新5件とかを表示すると、「へ～、この人はこんなことやってるんだ」というパーソナリティがわかって面白いかも。
もちろん、表示するデータは誰でもアクセスできるパブリックな情報のみです。

[2014-12-24 12:06] springaki commented on #57
このチケット組み込みまですべて引き受けましょうかー？

[2014-12-24 12:11] yuji-shimoda commented on #57
Aki さん、ありがとうございます。本番環境用の設定は、サイトで登録済みなんですがステージング環境のが、まだ作成出来ていません。Google Analytics のサイトって、すごく分かりにくい。
これって、引き継いだりとか出来るんでしょうか？

[2014-12-24 15:30] springaki commented on #57
@yuji-shimoda  すべてこちらで作って組み込んで、皆さんに見てもらえるように権限付けられますよー。

もしせっかく作ったし...って感じならアナリティクス設定=>ユーザ設定 でメールアドレスを追加してもらえれば共有できますー。

[2014-12-24 22:02] JunichiIto opened #65 "GitHub認証失敗時の適切な処理を追加"
Callback URLが不一致だったりするとエラーが起きるので、「認証できませんでした」的なエラーメッセージを表示するようにする。

再現するのが面倒なので、できればテストコードもほしい。

[2014-12-24 22:18] yuji-shimoda commented on #57
なるほど、共有出来るんですね。Google Analytics のサイト分かりにくすぎるんで、お願いしてもいいですか？

[2014-12-25 22:42] JunichiIto opened #67 "Rails 4.2アップグレード"
早めに上げたいけど、周辺のgemの対応状況とかもあるから、1～2ヶ月様子を見てから上げた方がいいかも。

[2014-12-25 23:23] JunichiIto opened #69 "READMEをちゃんと書く"

[2014-12-25 23:24] JunichiIto opened #70 "ライセンスを明記する"
誰かOSSのライセンスに詳しい人います？

[2014-12-25 23:26] JunichiIto opened #71 "Rubyist Connectに参加した日時と情報をプロフィール更新した日時を表示する"

[2014-12-25 23:28] JunichiIto opened #72 "デフォルトのユーザー一覧は新しい参加者ほど上に表示する"
新しい顔ぶれが先にぱっと見える方がいい気がする。

[2014-12-26 11:05] shoji-k opened #73 "Doorkeeperと連携して勉強会参加者一覧を表示する"
勉強会ごとの参加者が一覧で見れるようにする
次の勉強会は誰が来るか、を見たいことがある

[2014-12-26 15:39] springaki commented on #57
@yuji-shimoda 了解ー

[2014-12-31 10:23] kanizmb opened #76 "このアプリの骨子を明確にしたい"
このアプリの骨子を明確にして、それに肉づけする形で進めると
- アプリの方向がぶれない
- 作業の優先順位がつけやすい
- 画面上での優先度がつけやすい

などができて良さそうでは〜と思います:blush:

[2014-12-31 10:32] kanizmb commented on #76
例えばこんな感じです。
思い付きで書いているのでピントがずれてたらすみません:bow:

## 骨子

### このアプリで目指すこと
- 神戸界隈のRubyistの交流
- 神戸界隈のRuby/Rails情報の集約

### 交流とは？
- メンバープロフィールの共有
- メンバーの動きを知る
- イベント情報の共有
  - イベント開催情報
  - イベントレポート
- 質問＆回答

## 肉付け

### プロフィール項目
- アイコン
- 名前
- 各種アカウントへのリンク（github, twitter, facebook...）
- 興味のある分野（現状のタグ機能 #5）
- リンク（ブログや自作アプリなど）
- 自己紹介文

### メンバーの動きとは
- 新規メンバー参加の通知
- 既存メンバーの更新通知（ソーシャル活動の可視化 #64）

### 共有するイベント情報
-

[2015-01-01 01:17] yuji-shimoda commented on #76
まず、このアプリのコンセプトは名前のとおり Rubyist を繋げることに重点を置いています。
西脇.rb と 神戸.rb のおかげで沢山の Rubyist に出逢えることが出来ましたが、まだまだ沢山の
Rubyist に出逢えていないと思うので。ソーシャルな活動は、Twitter や Facebook、youRoom を通じて
活動すれば良いと思うのですが、他の SNS サービスでは各個人が Rubyist であるかどうかを
決定付けるような情報になかなかリーチ出来ないので、そのニッチな需要を埋めれればと考えています。ただサービスである以上は、何らかの value が必要なので
まずは勉強会特化型のツールとしてサービスを育てたいなと考えています。
＃要は、自分たちの勉強会で便利なツールとして開発しよう！という感じです。

逆に、他の SNS サービスなどで代替出来る機能は、無理に自分たち

[2015-01-01 01:20] yuji-shimoda commented on #70
詳しくは無いですが、MIT ライセンスにしようかなと考えています。
http://ja.wikipedia.org/wiki/MIT_License

[2015-01-01 01:21] yuji-shimoda commented on #69
これは、（多分）私の仕事ですね。

[2015-01-01 01:27] yuji-shimoda commented on #76
あと、kobe はサブドメインなので需要があれば
いずれは kobe を外して http://rubyist.co/ で運営出来ればなぁと考えています。

[2015-01-01 14:01] kanizmb commented on #76
ご回答ありがとうございます！！神戸は仮のくくりなんですね。
以下に今ある機能、お答えいただいたコメント、既存のissueから私の理解をまとめました。
現状の内容として大きく間違っていなければ一旦このissueはcloseします。
もし違っていれば遠慮なくご指摘ください〜。

### このアプリが目指すこと
- Rubyistのリスト化
- 勉強会に便利な機能の提供

### このアプリでやらないこと
- 他のSNSサービスなどで代替出来る機能の提供

### ターゲット
- Rubyist
- 地域は問わず（神戸と限らない）

### 主な機能
- **Rubyistのリスト化**
  - プロフィール情報の集約 [#76](#issuecomment-68477653)
  - 直近のソーシャル活動が見える #64
  - 登録済みユーザの検索, 閲覧 #13 #59
  - 新着ユーザ

[2015-01-04 05:04] #57 closed, assigned to springaki

[2015-01-05 12:42] yuji-shimoda commented on #70
特に問題無ければ、マージしたいと思います。
コメントあればお願いします。

[2015-01-06 03:11] yuji-shimoda commented on #70
MITライセンスとして公開しました。クローズします。

[2015-01-06 10:46] ymoto opened #79 "自己紹介未入力であればログイン後にプロフィール編集画面を表示する（アラート付きで）"
初めてログインした際に、ユーザ情報をどうやって登録（更新？）したらよいのかわからず、しばらく迷いました。

初めてログインした直後はユーザ情報を更新する画面に誘導するとか、ユーザ情報登録のボタン？を分かりやすくするとかして、ユーザ情報登録の画面にたどり着きやすくなればよいなと思います。

[2015-01-07 13:26] yuji-shimoda commented on #76
@kanizmb 取りまとめ、ありがとうございました。README.md に内容を反映させ更新しました。

[2015-01-08 07:53] kanizmb commented on #76
@yuji-shimoda @springaki
マージありがとうございます！
具体的な機能については個別のissueで進めれば良いかなと思いますので、こちらは一旦closeします〜。

[2015-01-08 07:53] #76 closed, assigned to nobody

[2015-01-08 08:13] yuji-shimoda commented on #69
この issue は、一旦クローズしても良いでしょうか？

[2015-01-08 09:01] JunichiIto commented on #69
まだちゃんと見てないけどOKです！
直したいところがあったらまた新しいissue上げます。

他のissueも同じ進め方でOKです。（言い出しっぺの返事が遅いときは自主的にclose、という形式）

[2015-01-08 09:15] yuji-shimoda commented on #69
了解です

[2015-01-08 09:15] #69 closed, assigned to yuji-shimoda

[2015-01-08 13:30] Koichi-Kobayashi opened #80 "ログイン不要で閲覧だけ出来てもいいんじゃない？"

[2015-01-08 14:08] yuji-shimoda commented on #79
確かに、現状のデザインだと分かりにくいかも
ロジック側で対処するのか、デザイン側で対処するのか
方法は色々あるかと思いますが、もう少し分かり易い
インターフェースにしないとダメですね。

[2015-01-08 14:14] yuji-shimoda commented on #80
（賛否両論あるかもしれませんが）Rubyist 同士を繋げるためのサービスなので
ログイン無しの閲覧機能は、不要な気がします。
＃ログイン無しで閲覧されても connect 出来ないので
一応、退会機能は実装済みなのでログインを前提としたサービスで良い気がしますが
いかがでしょうか？

[2015-01-08 15:00] yuji-shimoda commented on #71
プロフィールの更新日（時）は、表示した方が良い気がしました。

[2015-01-08 15:01] yuji-shimoda commented on #73
良く分かってないんですが、Doorkeeper API か何かで取得可能なんでしょうか？

[2015-01-08 15:04] yuji-shimoda commented on #72
確かに、newcomer は気になりますね。connect 率も上がりそう！

[2015-01-08 15:06] yuji-shimoda commented on #63
イメージとしては、info@rubyist.co みたいなメールアドレスから通知が送信される感じで合ってますか？

[2015-01-08 15:10] yuji-shimoda commented on #63
heroku だと、sendgrid というサービスが主流なんでしょうか？

[2015-01-08 15:18] yuji-shimoda commented on #58
ググったら、http://iconifier.net/ というサイトがオススメらしいんですが
favicon とか作ったことが無いので、有識者の方にご教示頂きたいです。

[2015-01-08 23:14] shoji-k commented on #73
すいません、できるかどうか調べられてません
Doorkeeper API で取れたらいいなと思って書きました

[2015-01-09 01:51] Koichi-Kobayashi commented on #80
#76 のコメントにも書かれているように、
西脇.rb ＆ 神戸.rb の勉強会前にyouRoomで自己紹介を書く際の
面倒な事を省くという事を主としているのであれば、ログイン前提で良い気がしました。

Rubyist を繋げることに重点を置くという観点では、
ログインしないとどんなサービスか分からないので、
ログインしなくてもどんな事が出来るサービスか分かれば良いと思いました。

[2015-01-09 03:07] yuji-shimoda commented on #80
多分、サイト（サービス）に関する説明が抜けているというご指摘ですね。
＃つまり、 About ページが必要と理解しました。

認識に齟齬が無ければ、新しくissue を作成します。こちらはクローズで良いでしょうか？

[2015-01-09 03:14] Koichi-Kobayashi commented on #80
その認識で相違ないです。

[2015-01-09 03:14] #80 closed, assigned to nobody

[2015-01-09 03:22] yuji-shimoda opened #81 "About ページを作成する"
サイト（サービス）に関する説明が無いため

[2015-01-09 09:39] kanizmb commented on #73
前に調べた時に、参加者の一覧はHTMLをパースするしかないみたいな話を見かけました。
- [Doorkeeper の参加者一覧が欲しい。調べたことを書いておく](https://gist.github.com/eiel/6899547)

（補足: 記事が古くてclass名が現在の内容と少し違うようです。ご注意下さい。）

[2015-01-09 10:55] aq2bq opened #82 "ユーザー詳細ページに活動タイムラインをつける"
身近なrubyistがどんな活動しているのか、どんな分野に対して興味があるのか、タイムラインでざっと見れたらわかりやすいのではと思いました。

具体的には、他のissueでも出ているDoorkeeperでのアクティビティ、
- Qiita,StackOverflowでのアクティビティ
- ブログのRSS
- GitHubでのPublic Activity

などを時系列に表示しておけば、そのRubyistの最近の関心あることがあって、コミュニケーションが捗るのではと思いますがいかがでしょうか？
rubyist-connectのコンセプトから離れてなければいいのですが。

[2015-01-09 11:02] aq2bq commented on #82
#64 を見逃していて、かぶっていました。。とりあえず補足ということで。

[2015-01-09 12:25] springaki commented on #82
@aq2bq  duplicated なので #64に同じ内容をコメントしていただいた後、閉じていただけると助かります !!

[2015-01-09 13:45] #82 closed, assigned to nobody

[2015-01-09 13:46] aq2bq commented on #64
身近なrubyistがどんな活動しているのか、どんな分野に対して興味があるのか、タイムラインでざっと見れたらわかりやすいのではと思いました。

具体的には、他のissueでも出ているDoorkeeperでのアクティビティ、
- Qiita,StackOverflowでのアクティビティ
- ブログのRSS
- GitHubでのPublic Activity
- SlideShare

などを時系列に表示しておけば、そのRubyistの最近の関心あることがあって、コミュニケーションが捗るのではと思いますがいかがでしょうか？

rubyist-connectのコンセプトから離れてなければいいのですが。

[2015-01-09 14:01] yuji-shimoda commented on #64
Ruby に関する活動に限らず、興味関心事や最近の活動内容が見える化されるという事ですね。
個人的には、凄く良いアイデアと思います！
＃機能として実装するのは、すごく難しそうなイメージなんですが。
上記のようなサービスは、聞いたことが無いので実現すると結構すごいツールな気がする

[2015-01-09 14:27] yuji-shimoda commented on #13
Ransackを使う
https://github.com/yuji-shimoda/rubyist-connect/blob/master/app/models/user.rb#L31

[2015-01-09 14:34] yuji-shimoda commented on #13
User 以外のリソースで検索出来るようになれば、placeholder の "User" を削除する
https://github.com/yuji-shimoda/rubyist-connect/blob/master/app/views/layouts/application.html.slim#L31

[2015-01-09 14:39] yuji-shimoda commented on #1
ユーザ一覧を表示した際、名前やニックネームは画像の吹き出しとして表示させたい。
http://iamceege.github.io/tooltipster/

[2015-01-09 20:49] JunichiIto commented on #63
そうですね。noreplyとかでも良いです。

昔はSendgridを使ってましたが最近は高機能 + 無料枠も大きいMandrillを使ってます。

[2015-01-09 20:54] JunichiIto opened #83 "漠然とプロフィールを書いてもらうのではなく、あらかじめ質問項目を作っておく"
漠然と「自己紹介をしてください」と言われるよりも、「Rubyは何年使ってますか？」「仕事ですか、趣味ですか？」「Ruby以外の言語を含むプログラミング歴はどれくらいですか？」みたいに、具体的な質問項目があった方が話が広がりやすいと思う。

参考：
少し似てるissueはこちら。
ただし、こっちはリストごと(勉強会ごと）の質問項目を作成するところが異なる。

https://github.com/yuji-shimoda/rubyist-connect/issues/62

[2015-01-09 20:58] JunichiIto opened #84 "マージ済みのブランチは削除する"
masterと現在進行中のブランチだけを残すような運用にしたい。

[2015-01-09 21:10] kanizmb commented on #64
去年サービス終了した iddy.jp がイメージに近いのかな、と思いました。
http://www.ariel-networks.com/blogs/tokuriki/cat36/cat37/iddy.html
http://internet.watch.impress.co.jp/cda/news/2007/03/09/15036.html
http://hyper-text.org/archives/2007/05/iddy_new_template.shtml

![image](https://cloud.githubusercontent.com/assets/4459676/5687333/dcab7ca2-988e-11e4-9527-1ad1b15ab924.png)
![image](https://cloud.githubusercontent.com/assets/4

[2015-01-10 01:35] JunichiIto commented on #1
スペースも空けた方がいいのでは

[2015-01-10 01:36] JunichiIto commented on #83
開始年を入れると、年数が自動計算される

圧縮する年数も表示？

週平均？

[2015-01-10 01:37] JunichiIto opened #85 "自己紹介欄はMarkdownにする"

[2015-01-10 01:40] JunichiIto opened #86 "自分の興味のある技術分野を登録したり、他のメンバーが興味を持っている技術分野を検索できるようにする"

[2015-01-10 01:41] JunichiIto opened #87 "コミュニティでグループを作る"

[2015-01-10 01:42] JunichiIto opened #88 "Qiitaアカウントの登録"

[2015-01-10 01:44] JunichiIto opened #89 "生年月日を入力して年齢を表示する"

[2015-01-10 01:45] JunichiIto opened #90 "メインのペインが横に動く"

[2015-01-10 01:46] JunichiIto opened #91 "一覧で自己紹介文が全部見えるようにする"
続きがわかるように、...で終わらせる。

[2015-01-10 01:51] JunichiIto opened #92 "ページネーションを付ける"

[2015-01-10 02:59] kanizmb opened #96 "GitHub API 用の画像を変更する"
GitHub認証時に表示されるアイコンを添付ファイルに変更してください @yuji-shimoda

![ruby_gem_illust02](https://cloud.githubusercontent.com/assets/4459676/5690245/cd718cfa-98bf-11e4-91c0-b6b445ecf635.png)

[2015-01-10 03:00] yamasy1549 opened #97 "ページ全体のデザインをかっこよくしたい"
今とってもBootstrapなので。
（navbar、button、paginationとか）

Bootstrapを使いながらもBootstrap臭をなくしたいです！！

[2015-01-10 03:02] tsuyoz opened #98 "Rubyを始めた年月を登録し、RUby歴を自動計算させて表示させる"

[2015-01-10 03:04] heiz123 commented on #88
対応しました　https://github.com/yuji-shimoda/rubyist-connect/pull/95

[2015-01-10 03:05] takaesu-ug opened #100 "Qiitaアカウントの未登録、登録状態で色が変わらない。"
Qiitaアカウントを設定していなくても、常に色が緑色となっている。

[2015-01-10 03:54] kanizmb commented on #97
トップページ案とロゴフォント（webフォント）案リストつくってみました
https://dl.dropboxusercontent.com/u/350306729/rubyistconnect_fonts.html

![image](https://cloud.githubusercontent.com/assets/4459676/5690369/c78b03ea-98c7-11e4-9d8d-b3151f06818d.png)

[2015-01-10 04:01] izumin5210 opened #101 "HTML5のinput[type=date]がIEなどで非対応"
[`ActionView::Helpers::FormHelper#date_field`](http://edgeapi.rubyonrails.org/classes/ActionView/Helpers/FormHelper.html#method-i-date_field)だと哀しいブラウザがある

参考: [HTML5で追加されたinput typeのブラウザ対応について検証してみた。 | 株式会社LIG](http://liginc.co.jp/web/html-css/html/42756)

[2015-01-10 04:02] izumin5210 commented on #101
#89
#98

[2015-01-10 04:04] JunichiIto commented on #44
- ユーザーはリストのＣＲＵＤができる
  - リストには名前が付けられる
- ユーザーはリストのメンバーを追加、削除できる
- ユーザーはリストの一覧を確認できる
- ユーザーはリストに含まれるユーザーの一覧を確認できる

備考
- リストは勉強会ごとに作成されるイメージ
  - 例:
    - KRCハッカソンというリストを作る
    - KRCハッカソンの参加者20名をリストに追加できる

[2015-01-10 04:05] izumin5210 commented on #101
jQuery UIの[Datepicker](http://jqueryui.com/datepicker/)という手もあるが，年を遡るのがしんどい
（HTML5のdate pickerなら数字で入力可）

[2015-01-10 04:30] kanizmb commented on #97
ユーザー一覧ページのワイヤフレームです
![image](https://cloud.githubusercontent.com/assets/4459676/5690439/c664f4ee-98cc-11e4-99d7-d6749470d303.png)

[2015-01-10 05:06] 0tofu opened #104 "自己紹介入力時のMarkdownのプレビュー表示を追加する"

[2015-01-10 05:22] #89 closed, assigned to nobody

[2015-01-10 05:23] #100 closed, assigned to nobody

[2015-01-10 05:23] #92 closed, assigned to nobody

[2015-01-10 05:24] #88 closed, assigned to nobody

[2015-01-10 06:16] kanizmb opened #107 "トップページ用テキスト原稿を作る"
@yuji-shimoda
https://dl.dropboxusercontent.com/u/350306729/rubyistconnect_fonts.html
- [ ] キャッチコピー
- [ ] サービス概要テキスト
- [ ] about 用見出し3件

の作成をお願いします。
必要に応じて構成や文字分量の変更も可能です。

[2015-01-10 06:38] JunichiIto commented on #84
`git push --delete upstream issues/#1` みたいなコマンドで削除した。

[2015-01-10 06:38] #84 closed, assigned to nobody

[2015-01-10 06:39] #58 closed, assigned to nobody

[2015-01-10 06:48] JunichiIto commented on #101
普通のテキストボックスとして入力すれば一応機能するので、いったん対応不要とします。

[2015-01-10 06:48] #101 closed, assigned to nobody

[2015-01-10 07:41] #59 closed, assigned to nobody

[2015-01-10 07:45] JunichiIto opened #112 "テキストエリアのline heightが大きすぎる"

[2015-01-10 07:47] JunichiIto opened #113 "Markdown: スペースを二つ入れなくてもbrタグで改行してほしい"

[2015-01-10 07:49] tanaka-yoshi10 commented on #13
対応しました
https://github.com/yuji-shimoda/rubyist-connect/pull/114

[2015-01-10 08:00] yuji-shimoda commented on #107
# キャッチフレーズ（案）
- Ruby の世界は、まだまだ広い
- Rubyist とツナガル
- Rubyist は、すぐそこに
- 繋がろう Rubyist
- Hello Ruby World

# サービス概要テキスト
- Rubyist Connect は、Rubyist と Rubyist を繋げることで
  Rubyist をサポートします。

# About の見出し３つ

## Share
- 近くの Rubyist と

## Search
- 趣味の近い Rubyist を

## Education
- 勉強会をサポート

[2015-01-10 08:04] takaesu-ug opened #116 "Qiitaアカウントラベルのi18n対応"
Qiitaアカウントのラベルがi18nが未対応
![2015-01-10 17 03 03](https://cloud.githubusercontent.com/assets/1174586/5690861/a2e550ae-98ea-11e4-9333-6164a72d9d0c.png)

[2015-01-10 08:13] takaesu-ug commented on #116
対応しました。
https://github.com/yuji-shimoda/rubyist-connect/pull/117

[2015-01-10 08:14] yamasy1549 opened #118 "ユーザ一覧は3カラムにする"
makiさんの参考に
![c664f4ee-98cc-11e4-99d7-d6749470d303](https://cloud.githubusercontent.com/assets/7820884/5690881/090d1b7c-98ec-11e4-9e4d-cf1d22544463.png)

[2015-01-10 08:27] izumin5210 opened #122 "Eventまわりのfeature specかく"
:pizza:

[2015-01-10 08:28] #90 closed, assigned to nobody

[2015-01-10 08:31] Koichi-Kobayashi opened #123 "Eventの登録時に楽観ロックの制御が必要じゃない？"
現状、Eventは誰でも登録出来て後勝ちになっている。

Rails4で楽観的ロックを実装する
http://ruby-rails.hatenadiary.com/entry/20141209/1418123425

[2015-01-10 08:36] yuji-shimoda commented on #107
# サービス概要テキスト
- Rubyist Connect は、あなたの身近な Rubyist や趣味の近い Rubyist を探すことができます。
  そして、魅力的な Rubyist とつながって一緒に勉強してみませんか。

[2015-01-10 08:49] #116 closed, assigned to nobody

[2015-01-10 08:50] #85 closed, assigned to nobody

[2015-01-10 08:51] JunichiIto commented on #73
イベント機能を使って手動で管理するので、いったんクローズします。

[2015-01-10 08:51] #73 closed, assigned to nobody

[2015-01-10 08:51] #72 closed, assigned to nobody

[2015-01-10 08:51] izumin5210 commented on #112
textareaの親についてる`form-group-lg`を除けば修正できそうです

[2015-01-10 08:51] #44 closed, assigned to nobody

[2015-01-10 09:09] t-oginogin opened #126 "GitHubニックネームと他のニックネームが異なる場合GitHubニックネームで検索できない"
t_oginoginだと見つかるけど、t-oginoginだと見つからない

[2015-01-10 13:31] JunichiIto opened #127 "自己紹介が空欄のユーザーは一覧に表示しない"
「とりあえず覗いてみただけ」というユーザーが一覧に表示されるとノイズになるので、自己紹介が入力されているかどうかで利用に前向きなユーザーかどうかを判断する。
（夕方に下田さんやAkiさんと議論してた件です）

[2015-01-10 13:35] JunichiIto commented on #79
- 自己紹介欄が空白の場合、ログイン直後にプロフィール編集画面を表示する
  - その際、以下のような文言をalert表示する
  - 「あなたの自己紹介を入力すると、ユーザー一覧にあなたが表示されます」
  - 「この編集画面は画面右上のギアアイコン（ここにアイコンを入れる）からいつでも開くことができます」

みたいな仕様にするのはどうでしょう？

[2015-01-10 13:37] JunichiIto commented on #127
この仕様に関連して、自己紹介が空欄のユーザーはログイン直後にプロフィール画面へ遷移させる。

前向きなユーザーは何か書いてくれるだろうし、やる気の無いユーザーは毎回ここをスルーして他の情報を見にいくはず。

https://github.com/yuji-shimoda/rubyist-connect/issues/79

[2015-01-10 13:41] JunichiIto commented on #98
初心者もベテランも、これなら簡単に入力できるはず、というユースケースが思いつかないので、いったんクローズします。

良いアイデアがあれば新しいissueを発行してください。

[2015-01-10 13:41] #98 closed, assigned to nobody

[2015-01-10 13:41] kanizmb commented on #107
ありがとうございました。
反映してプルリク出しました。

[2015-01-10 13:41] #107 closed, assigned to yuji-shimoda

[2015-01-10 13:49] JunichiIto opened #128 "タグ機能の（一時）廃止"
タグ機能、どういう仕様になっていて、どういう活用をすればいいのか、いまいちハッキリしておらず、開発する側にとっても利用する側にとっても混乱の元になりそうなので、いったんコードごと消してしまうのが良いのでは？

タグ機能については方向性がハッキリしたタイミングでゼロから再構築するのがよいと思います。

[2015-01-10 13:54] JunichiIto commented on #97
@yamasy1549  @kanizmb
https://github.com/yuji-shimoda/rubyist-connect/pull/115 と https://github.com/yuji-shimoda/rubyist-connect/pull/125 がマージされたので、いったんこのissueはクローズします。
残タスクがあれば新しいissueを作成してください。

[2015-01-10 13:54] #97 closed, assigned to nobody

[2015-01-10 13:55] JunichiIto commented on #33
タグ機能の仕様や使い方が不明確なのでいったんクローズします。

[2015-01-10 13:55] #33 closed, assigned to nobody

[2015-01-10 13:55] JunichiIto commented on #34
タグ機能の仕様や使い方が不明確なのでいったんクローズします。

[2015-01-10 13:55] #34 closed, assigned to nobody

[2015-01-10 13:56] JunichiIto commented on #5
タグ機能の仕様や使い方が不明確なのでいったんクローズします。

[2015-01-10 13:56] #5 closed, assigned to yuji-shimoda

[2015-01-10 13:56] #13 closed, assigned to nobody

[2015-01-10 13:59] yuji-shimoda commented on #128
はい、タグ機能は一旦リセットで問題無いです。

[2015-01-10 14:00] JunichiIto commented on #86
タグ機能、やりたいことがまだふわっとしているので、もしやるならもう少し具体的なユースケースや仕様に固めたいです。

参考：タグ絡みの別issue

https://github.com/yuji-shimoda/rubyist-connect/issues/5

[2015-01-10 14:07] yuji-shimoda commented on #127
はい、自己紹介欄が未入力のユーザはプロフィール画面へ遷移させる仕様だと
ファーストログインのユーザにも優しいと思いますし、私は賛成です。
あと、User モデルに出身地（居住地？）を入力するのを促しておけばリージョンを
分ける際にスムーズと感じました。

[2015-01-10 14:42] yuji-shimoda commented on #127
ちなみに、居住地はプルダウン形式で県を表示させて入力させる方式が良いのではと
Aki さんにコメント頂きました。これは、別 issue ですね

[2015-01-10 14:45] yuji-shimoda commented on #60
TOPページの Author も yuji_shimoda -> rubyist-connect developers に要修正。

[2015-01-10 14:48] yuji-shimoda opened #130 "sign out のリンクを、アイコンに変更する"
ひとまず、fa-sign-out に変更すれば良いかも
http://fortawesome.github.io/Font-Awesome/icon/sign-out/

[2015-01-10 22:04] t-oginogin commented on #126
GitHubのニックネームはt-oginoginと思っていたら、ニックネームではないとのこと。

[2015-01-10 22:05] t-oginogin commented on #126
GitHubはニックネームではなくアカウントで検索できるとうれしい

[2015-01-10 22:44] JunichiIto opened #131 "よくある質問ページを作る"
サービスの目的や簡単な操作説明を載せておく。
GitHubのWikiにFAQページを作って、そこへリンクを張るだけでもOK。

こういうリンクってよくあるのは「フッターに表示」かな？

[2015-01-10 22:46] JunichiIto commented on #131
FAQページには「その他、質問やご要望はGitHub issueからどうぞ。 => https://github.com/yuji-shimoda/rubyist-connect/issues/new 」みたいな項目も作る。

[2015-01-10 22:56] JunichiIto opened #132 "イベント編集ページでユーザーのチェックボックスにプロフィール画像を表示する"

[2015-01-10 22:58] JunichiIto opened #133 "イベント編集ページでユーザーの選択をもっとリッチにする"
イメージ的にはこんな感じ？

http://kwski.net/jquery/1081/

[2015-01-10 23:57] yamasy1549 commented on #130
ついでにline-heightも調整して、アイコンが中央に来るようにしておきます！

[2015-01-11 01:18] JunichiIto opened #134 "トップページのアラートをわかりやすい場所に表示する"
今は画面の一番下にあって見づらい。
画面を開いたらすぐ目に付く場所に表示したい。

[2015-01-11 01:33] JunichiIto opened #135 "ベータ版であることを明記する"
まだまだ発展途中なので。

[2015-01-11 01:34] JunichiIto opened #136 "機能追加やバグ修正のお知らせ欄を作る"
けど、毎回更新するのはが面倒かも・・・。

[2015-01-11 04:45] JunichiIto opened #138 "住んでいる都道府県の選択と、市区町村の入力ができるようにする"
いくつか入力パターンが考えられそうです。
- 住んでる都道府県を選択する
- 住んでる地域（関西、四国、関東等）を選択する
- よく参加する勉強会の地域を選択する
- 地域を1つだけ選択する or 複数選択できる

個人的には「よく参加する勉強会の地域を複数選択する」というのが、一番いいのかな〜と思ったり。

たとえば弘野さんだったら、山陰地方と関西地方のRubyistとつながりたい、というニーズがありそう。

住んでる地域、ってしちゃうと山陰地方（または鳥取県）しか選べなくなってしまう。

[2015-01-11 04:46] JunichiIto commented on #127
居住地の件は以下のissueに書きました。

https://github.com/yuji-shimoda/rubyist-connect/issues/138

[2015-01-11 07:47] yuji-shimoda commented on #138
都道府県で入力して貰って、表示する時は少し広い地域で表示するように
すれば良いかなと考えています（いずれは）。現状の登録者を考えると、
居住地域は散らばっていないと考えますが、その判断材料としても、
居住地域の入力を促したいです。

[2015-01-11 08:29] yuji-shimoda commented on #81
TOPページに About があるので、この issue は close しようかと思います。

[2015-01-11 08:29] #81 closed, assigned to nobody

[2015-01-11 08:35] yuji-shimoda commented on #1
この件、懇親会で maki さんに否定されました。＃現状の表示された状態の方が良いとのこと
スペースも以前より空いており見やすくなっていると思うのでクローズしたいと思います。

[2015-01-11 08:35] #1 closed, assigned to yuji-shimoda

[2015-01-11 08:55] yuji-shimoda commented on #130
production に deploy 済みで問題無さそうなので、クローズします。

[2015-01-11 08:55] #130 closed, assigned to nobody

[2015-01-11 08:58] yuji-shimoda commented on #96
GitHub アプリケーション側に、上記の画像を追加しました。クローズします。

[2015-01-11 08:58] #96 closed, assigned to yuji-shimoda

[2015-01-11 09:01] yuji-shimoda commented on #131
そうなると、そろそろ Organization account にリポジトリを移管する感じでしょうか？

[2015-01-11 09:05] yuji-shimoda commented on #135
TOP の Rubyist Connect 横に小さく beta と表示するのが一番、目に付く気がします。

[2015-01-11 09:24] yuji-shimoda opened #139 "イベントiconを右上に移動させて、他のiconとサイズを合わせる"
iconは、右上に集約させた方が良いかなと思いました。

[2015-01-11 09:25] yuji-shimoda opened #140 "iconの機能説明を吹き出しで表示させる"
GitHub のイメージです

[2015-01-11 09:46] yuji-shimoda opened #141 "TOPページの more ボタンのリンク先がない"
TOPに表示されていないメンバーを追加で表示するのか、ログインさせるのかどちらを想定しておりますでしょうか？

[2015-01-11 10:39] JunichiIto commented on #141
もっと見たい人はログインしてね！という動きがいいかなーと思います。

[2015-01-11 10:47] JunichiIto commented on #138
じゃあ、いったんは居住地を入力、一覧表示はその都道府県が含まれる地域（関西、四国等）にする、って感じにしますかねー。

発展形としては、「興味のある都道府県（一覧表示の対象にしたい都道府県）をユーザーが取捨選択できる」みたいな仕様が考えられるかも。（これは後回しでOK）

あと、自己紹介と同じく、都道府県も入力していないとログイン直後に編集画面に飛ばされる仕様にしたい。

最後に、任意入力項目として市区町村も入れられる（フリー入力のテキストボックス）、というのはどうでしょう？

[2015-01-11 10:48] JunichiIto commented on #135
そんな感じですね。＞Rubyist Connect 横に小さく beta と表示

[2015-01-11 10:50] JunichiIto commented on #131
んー、別にWikiページが下田さんリポジトリにあっても問題ないのでは？と僕は思ったんですが。
何か思うところがあれば教えてください。

[2015-01-11 10:58] yuji-shimoda commented on #131
ライセンスに記載のとおり、開発は rubyist-connect developers に主導権が移った感じなので、
リポジトリも個人ではなくて、Organization account に移管して管理/運営した方が良いのかなと思いました。

[2015-01-11 10:58] yuji-shimoda commented on #131
ちなみに、現状 Wiki ページが私のリポジトリにあっても、問題は無いですー。

[2015-01-11 10:59] JunichiIto commented on #123
これはね〜、僕も業務系SEをやってる頃は結構気にしてたけど、web系がメインになってからはほとんど聞かなくなりましたね。

後勝ちで更新されると誰かのお金が失われるとか、やたら頻繁に更新が衝突するとか、そういう深刻なレベルであれば考慮が必要ですが、そうでなければ「最悪、後勝ちでもいいんじゃね？」という雰囲気です。

参考までに、GitHubのWikiページの動きを確認してみましたが、楽観的ロックは働いておらず、後勝ちになりました。

というわけで、いったんクローズさせてもらいますね。

「楽観的ロックを付けないとこんな深刻な問題が！！」というのが発覚した時にまた議論させてください。

[2015-01-11 10:59] #123 closed, assigned to nobody

[2015-01-11 11:02] yuji-shimoda commented on #138
はい、県の入力だけだと Rubyist との近さが感じられないので市区町村も入力出来るのは賛成です。

[2015-01-11 11:38] springaki commented on #123
@JunichiIto  内容については +1 ですー

相手の同意を得てから closeすると更によいかもー :cherry_blossom:
あんまりにも反応なかったりすれば様子見て Collaborator陣で closeしましょー。

[2015-01-11 12:02] kanizmb commented on #135
こちら私の方で対応しますー

[2015-01-11 12:07] yuji-shimoda commented on #135
@kanizmb よろしくお願いしますー

[2015-01-11 12:41] springaki commented on #138
素晴らしい !

神戸市とか西脇市が入れられる !! :+1:

[2015-01-11 13:20] yuji-shimoda commented on #135
production に deploy 済みです！クローズしますー

[2015-01-11 13:20] #135 closed, assigned to nobody

[2015-01-11 14:19] yuji-shimoda commented on #141
ログインの方向で問題無いですよね！ リンク先を http://kobe.rubyist.co/users/auth/github に設定するだけでしょうか？

[2015-01-11 15:02] kanizmb commented on #141
ログインの想定でした。
リンクの貼り方がわからず保留のままコミットしてたのを忘れていました。すみません :bow:

[2015-01-11 15:12] yuji-shimoda commented on #141
全然、大丈夫ですよー :+1:

[2015-01-11 20:11] JunichiIto opened #145 "アラートにcloseボタンを付ける"
こんなイメージです。

http://getbootstrap.com/components/#alerts-dismissible

[2015-01-11 20:31] JunichiIto commented on #123
これはねー、僕も半分agreeなんですが、そうすると「このissueはあとでクローズしなきゃ」というタスクが増えるので、避けたいなーと思っています。

issueの件数が少ないときはいいんですが、今は結構数があるので極力少なくしたいなという思いがありまして。

GitHub issueはいつでもreopenしたり、コメントを追加したりできるので、close後も議論はできるのかなーと思っています。

というわけで僕は積極的なcloseに一票です。

[2015-01-11 20:52] JunichiIto opened #146 "トップページのユーザー一覧と、イベント編集画面のユーザー一覧（チェックボックス）もactiveなユーザーのみを表示する"
コードを見る限り、ログイン後のユーザー一覧だけになってそう。

https://github.com/yuji-shimoda/rubyist-connect/pull/142/

[2015-01-11 21:00] #140 closed, assigned to nobody

[2015-01-11 21:06] JunichiIto opened #147 "ページのタイトルを動的に変更する"
今どのページにいるのか、というのがわかるように。

titleをスマートに管理するgemとか、なんかあるのかな？

[2015-01-11 21:22] JunichiIto commented on #79
https://github.com/yuji-shimoda/rubyist-connect/pull/142

で、「自己紹介欄が空白の場合、ログイン直後にプロフィール編集画面を表示する」は実装されましたが、アラートの表示はまだ実装されていません。

「なんでこの画面なの？？どうしたらいいの？？」ということになってしまうので、早めに説明を入れたい。

[2015-01-11 21:28] Koichi-Kobayashi commented on #147
パンくずリストとか？

http://muryoimpl.com/blog/2014/04/03/gertel-gem/

[2015-01-11 21:28] JunichiIto opened #148 "もっとたくさんメンバーを見渡したい（ユーザー一覧の改善もろもろ）"
現状のユーザー一覧だと、僕のMacBroで6人ぐらいのメンバーしか表示されない。
画面の右半分もほとんど空きスペースになっている。

![screen shot 2015-01-12 at 6 24 03](https://cloud.githubusercontent.com/assets/1148320/5696899/d2e1b4f2-9a23-11e4-8636-90e165999f5e.png)

だんだんメンバーが増えてきているので、スクロールせずにもっとたくさんのメンバーを見渡せるような画面デザインにしたい。

今のユーザー一覧よりも、トップページのアイコン一覧の方が「にぎやか」な感じがして、楽しそう。

どこか参考になりそうなサイトはあるかな～？たとえば「スタック・オーバーフロー」とか？

http://ja.stackoverflow.com/users

![scree

[2015-01-11 21:34] JunichiIto commented on #147
パンくずは別件ですね～。

僕が意図していたのはタブに表示されるタイトルのことでした。

![screen shot 2015-01-12 at 6 32 19](https://cloud.githubusercontent.com/assets/1148320/5696928/fb4d779a-9a24-11e4-8bdf-7175b1956f79.png)

[2015-01-11 21:36] JunichiIto commented on #127
@m-taira さんが対応してくれたのでcloseします。どうもありがとう！！

https://github.com/yuji-shimoda/rubyist-connect/pull/142

[2015-01-11 21:36] #127 closed, assigned to nobody

[2015-01-11 21:38] JunichiIto commented on #118
ユーザー一覧については僕もここでissueを挙げました。

https://github.com/yuji-shimoda/rubyist-connect/issues/148

どうするのがいいのかな～？？

[2015-01-11 21:39] JunichiIto commented on #91
https://github.com/yuji-shimoda/rubyist-connect/issues/118

の対応で改善される可能性があるので、このissueはいったんcloseします。

[2015-01-11 21:39] #91 closed, assigned to nobody

[2015-01-11 21:43] Koichi-Kobayashi commented on #147
そっちな感じがしてました。。
タブの幅に収まるのか・・・ってのも気になりますね。

meta-tagsとか？
http://morizyun.github.io/blog/meta-tags-sitemap-generator-rails-seo/

[2015-01-11 22:43] JunichiIto commented on #147
タブの幅の問題は無視してもいいかなーと思ってます。
とりあえず動的に変わればOK、ってな感じです。

紹介してもらったmeta-tagsはちょっと高機能すぎるかなーという気もしますね。。。
SEOを重視するなら有効そうですけど、今の時点ではそこまで考えていないので。
もうちょっとシンプルなgemがあったらいいな～。

[2015-01-11 23:57] JunichiIto commented on #67
試しに4.2に上げてみたら特に問題は出なかったので、マージしちゃいました。

[2015-01-11 23:57] #67 closed, assigned to nobody

[2015-01-12 00:20] JunichiIto commented on #128
バイバイ、タグ機能。

[2015-01-12 00:20] #128 closed, assigned to JunichiIto

[2015-01-12 00:29] JunichiIto opened #153 "Qiitaアイコンの見栄えを良くする"
機能的な問題は無いといえ、せっかくクールなデザインをスポイルしちゃいそうなので、いい感じに変えたいなあ。

[2015-01-12 00:32] #145 closed, assigned to nobody

[2015-01-12 00:43] JunichiIto commented on #153
FontAwesomeではないけど、この画像を使ってみるとか。

![qiita](https://cloud.githubusercontent.com/assets/1148320/5697826/5959416a-9a3f-11e4-8d11-838a8195c97e.png)

![qiita-2](https://cloud.githubusercontent.com/assets/1148320/5697827/5be385ee-9a3f-11e4-905b-98b9aa619a8b.png)

ちなみに画像はここから取ってきて、モノクロ変換は僕の方でやりました。（著作権うんぬんの話になるとややこしいけど。。。）

http://qiita.com/icons/favicons/public/apple-touch-icon.png

[2015-01-12 00:59] #79 closed, assigned to nobody

[2015-01-12 01:21] JunichiIto commented on #139
https://github.com/yuji-shimoda/rubyist-connect/pull/154

[2015-01-12 01:21] #139 closed, assigned to nobody

[2015-01-12 01:25] kanizmb opened #155 "トップページの fontawesome アイコン部分をヘルパーメソッドを使った書き方に変更"
[code]

のようにHTMLでベタ書きされているところを、

[code]

のようにヘルパーメソッドを使った書き方に変更する。
#### 参考

[RailsにFont Awesomeを導入するGem - Qiita](http://qiita.com/succi0303/items/7f76d53ebe54dab41124)

[2015-01-12 02:05] kanizmb opened #156 "トップページの new member アイコンにユーザー名の入ったtooltipを付ける"
未ログイン時トップページの new member アイコン部分、
デフォルトアイコンだと見分けがつかないので、補足情報として
- マウスオーバーした時（PC）
- touch した時（スマートフォン）

に、tooltip でユーザー名が出ても良いかなと思います。
（画面がごちゃつくので、常時表示じゃない方が良さそう？）

作業優先度は低です。
#### 実装方法参考
- #144
- #1 の [Tooltipster - The jQuery Tooltip Plugin](http://iamceege.github.io/tooltipster/)
#### 実装したい箇所

![image](https://cloud.githubusercontent.com/assets/4459676/5698103/68a90322-9a48-11e4-8559-c7c104a97ed3

[2015-01-12 02:17] yuji-shimoda commented on #156
同意します。＃github のIDを表示するようにしておけば良いかも

[2015-01-12 02:19] yuji-shimoda commented on #153
Qiita のicon、確かに気になりますよねー

[2015-01-12 02:20] yuji-shimoda commented on #147
ページタイトルの Kobe も外しちゃいますか？

[2015-01-12 02:21] JunichiIto commented on #156
いいと思います！
大した機能ではないけど、そういう「おもてなし感」がアプリのUXを改善する鍵なのかも？と思う今日この頃。

というわけで、早目にやっちゃってもいいんじゃないでしょうか？

[2015-01-12 02:22] kanizmb commented on #153
なんとかしてみますー

[2015-01-12 02:24] yuji-shimoda commented on #136
rubyist-connect の Twitter アカウントを作成して、そこでアナウンスしておくのが楽でしょうか？

[2015-01-12 02:25] JunichiIto commented on #147
アプリがだいぶん進化しつつあるので、あえてKobeに限定する必要性も薄れてきてる気がしますね。
そろそろ改名する時期かな？

[2015-01-12 02:27] yuji-shimoda commented on #156
new member を辞めて、contributor にしてしまうのはどうでしょうか？ #60

[2015-01-12 02:32] JunichiIto commented on #138
この機能が実装されたら、今の場所っていう項目は不要になりますね。

[2015-01-12 02:52] yuji-shimoda opened #157 "TOPページの Author を変更する"
yuji_shimoda -> rubyist-connect developers に変更

[2015-01-12 02:56] yuji-shimoda commented on #157
ついでにタイトルの Kobe も外しちゃってよいでしょうか？

[2015-01-12 04:00] JunichiIto commented on #157
思い切ってKobe外しちゃいますか！

[2015-01-12 04:02] JunichiIto commented on #157
rubyist-connect developers = 西脇.rb＆神戸.rbなのでは？（まあ現状は、ですが）

てか、西脇.rb＆神戸.rbの名前が出てないなら、コミュニティの宣伝も兼ねてどこかに載せたいなーと思ったり。

[2015-01-12 04:05] yuji-shimoda commented on #157
現状は、rubyist-connect developers = 西脇.rb＆神戸.rb　かも
ふと考えましたが、自分はどちらのコミュニティ所属だろうと考えてしまいました :sweat:

[2015-01-12 04:06] JunichiIto commented on #157
そこは深く考えちゃダメです。
その場のノリで、適当に答えるのが正解w

[2015-01-12 04:07] JunichiIto commented on #155
そういうリファクタリング、個人的には好きです！！

[2015-01-12 04:23] tanaka-yoshi10 commented on #153
FontAwesomeでなんとかしようと試行錯誤してみましたが難しかったので、画像でできた方が柔軟性があっていいのでと思いました。(FontAwesomeのことをわかってなかっただけかもしれないですが)

[2015-01-12 05:33] yuji-shimoda opened #160 "TOPページの member 表示をランダムにする"
細かいですが、TOPページの new members は Rubyist に変更して欲しい

[2015-01-12 05:35] kanizmb commented on #153
進捗です
![image](https://cloud.githubusercontent.com/assets/4459676/5699323/3e7c6a24-9a68-11e4-8ef0-19105ea532cf.png)

[2015-01-12 05:40] yuji-shimoda commented on #153
:+1:

[2015-01-12 06:01] JunichiIto commented on #153
いいね！

[2015-01-12 07:24] JunichiIto commented on #136
Twitterだと、どんどん流れていってしまうのでちょっと違う気が。
なんらのページはいる気がします。

とはいえ、TwitterやFacebookページがあると、ユーザーとコミュニケーションが取りやすいので別件で検討してみましょう。

[2015-01-12 07:25] JunichiIto opened #161 "TwitterアカウントやFacebookページを作る"
ユーザーとのコミュニケーションツールとして活用する。

[2015-01-12 07:30] yuji-shimoda commented on #136
Twitter アカウントは、開設しました！

[2015-01-12 07:33] yuji-shimoda commented on #161
Twitter は、こちらです。https://twitter.com/RubyistConnect

[2015-01-12 07:34] yuji-shimoda commented on #161
Facebook ページは、作ったことが無いのですが簡単ですか？

[2015-01-12 09:09] JunichiIto commented on #161
簡単に作れますよー。
ネットをググれば情報がたくさん見つかるはず。

[2015-01-12 09:17] JunichiIto opened #164 "READMEからInstall dependenciesを削除する"
バージョンはどんどん変わるので保守が大変そう。

[2015-01-12 10:42] JunichiIto opened #165 "top.css.sassで警告が出る"
Herokuデプロイ時にこんなメッセージが出る。

[code]

が、top.css.sassは使用していない気がするので、削除するだけでいいかも。

以下はデプロイログのすべて。

[code]

[2015-01-12 10:48] JunichiIto opened #166 "404ページや500ページのデザインをクールにしたい"
今はRailsのデフォルトが出てくるので。

http://kobe.rubyist.co/nnect/hdjdjdjd

たぶん、このファイルを修正すれば良いはず。

https://github.com/yuji-shimoda/rubyist-connect/tree/master/public

ただし、500エラーだけはS3とか別のサイトに配置しないとダメだった気がする。（うろ覚え）

[2015-01-12 10:49] JunichiIto commented on #165
top.cssは使ってるとのこと。

[2015-01-12 10:50] JunichiIto commented on #165
メッセージを読む限り、この行が怪しい。

https://github.com/yuji-shimoda/rubyist-connect/blob/master/app/assets/stylesheets/top.css.sass#L187

[2015-01-12 10:51] kanizmb commented on #165
エラーの原因わかりました！インデントがおかしいです :bow:
修正します

[2015-01-12 11:15] kanizmb opened #167 "フォント用のスタイルシートを scss から sass に書き直す"
https://github.com/yuji-shimoda/rubyist-connect/blob/master/app/assets/stylesheets/fonts.css.scss
変更しようと思って忘れてました。

[2015-01-12 11:20] JunichiIto commented on #167
念のため確認ですが

http://css2sass.herokuapp.com

や

https://html2slim.herokuapp.com

はご存知ということでOKですよね？

[2015-01-12 12:37] springaki commented on #155
いいですね !!
余談ですが、i tag を使ってる理由ってなにかあるんですか？

[2015-01-12 12:49] springaki commented on #157
両方なんじゃないですかねー :sweat:

[2015-01-12 13:23] kanizmb commented on #167
記憶の彼方にうっすら見覚えがありますが、sassやslimを覚えたいという気持ちもあり、変換サービスを使うのは完全に思いついていませんでした！
お手本として変換して調べるというのをやればよかったです。

[2015-01-12 13:39] kanizmb commented on #165
上でインデントがおかしいと書いていますが、articleになんらかのスタイルを割り当てようとして、時間が間に合わずにそのままになってしまっていたのを思い出しました。
ひとまずエラー解消のみ対応して、スタイル割り当ては別のissueにします。

[2015-01-12 13:46] kanizmb commented on #155
:smile:

@springaki
font awesome 公式で iタグがサンプルとして載っているからで、個人的に深い意味はありませんー。
http://fortawesome.github.io/Font-Awesome/icon/gamepad/

[2015-01-12 13:56] springaki commented on #113
@JunichiIto @0tofu Thanks !

[2015-01-12 13:56] #113 closed, assigned to springaki

[2015-01-12 14:05] springaki commented on #165
私がDeployした限りではこのエラーは出なかったなー。なんなんでしょう？

[code]

[2015-01-12 14:24] springaki commented on #155
@kanizmb おぉー本当だ。そういうものなんですねー。なんか i tag の趣旨とちょっと違うのかと思ってたので不思議だったのでした。

[2015-01-12 15:41] #155 closed, assigned to springaki

[2015-01-12 19:46] JunichiIto commented on #167
あ、今まで手作業で変換してたんですね。
僕は最初っから変換サービスを使ってます ^^;

同じような変換サイトで

http://js2coffee.org/

とか

http://html2haml.herokuapp.com/

みたいなサイトもあるので、「言語間の翻訳」が必要になった場合はこうしたツールを探してみると良いかもしれません。

[2015-01-12 19:52] JunichiIto commented on #155
アイコン = iタグ、は最近よく見かけるパターンですね。
ちょっと調べてみました。

http://stackoverflow.com/questions/11135261/should-i-use-i-tag-for-icons-instead-of-span

ベストアンサーを要約すると、
- 短く書ける
- iconのiのように見える
- HTMLの意味よりも記述スピードが重視されたバッドプラクティスだ

と書かれていますね。
「iconのiみたいだから、iタグでいいじゃん」っていうことみたいですw

[2015-01-12 21:56] JunichiIto commented on #122
テスト書きました－。

https://github.com/yuji-shimoda/rubyist-connect/commit/2e2aa431a1dab4d1cfc444c861a58c93e41d1091

[2015-01-12 21:56] #122 closed, assigned to nobody

[2015-01-12 22:01] JunichiIto commented on #165
Fixed: https://github.com/yuji-shimoda/rubyist-connect/pull/169

[2015-01-12 22:01] #165 closed, assigned to nobody

[2015-01-12 22:02] JunichiIto commented on #153
:tada: https://github.com/yuji-shimoda/rubyist-connect/pull/163

[2015-01-12 22:02] #153 closed, assigned to nobody

[2015-01-12 22:03] JunichiIto commented on #146
Implemented: https://github.com/yuji-shimoda/rubyist-connect/pull/162

[2015-01-12 22:03] #146 closed, assigned to nobody

[2015-01-12 22:16] JunichiIto commented on #157
いや、両方なんだけど、毎回「西脇.rb＆神戸.rb」って長いでしょ？
だから頭にぱっと浮かんだ方で話したり書いたりしてもらったら良いです、という意味でしたw

[2015-01-12 22:19] JunichiIto commented on #157
で、これどうしましょう？

https://github.com/yuji-shimoda/rubyist-connect/pull/159

今のところ西脇.rb＆神戸.rbでしか開発していないので、

[code]

ってしたいなー、というのが僕個人の意見です。

[2015-01-12 22:35] JunichiIto opened #171 "イベント編集の編集履歴を残す＆作成日時/作成者/更新日時/更新者を表示する"
https://github.com/airblade/paper_trail を使うと楽に実装できるかも。

[2015-01-12 22:36] JunichiIto opened #172 "イベント機能でイベントURLを入力＆表示できるようにする"
DoorkeeperなどのURLを入力できるようにする

[2015-01-12 22:38] JunichiIto opened #173 "イベント一覧画面に「イベント機能とは何か？」を説明する"
典型的なユースケース等を説明する。
（本当は言葉で説明しなくても理解できるようなUIが理想的だけど）

[2015-01-12 22:42] JunichiIto commented on #171
編集履歴はとりあえず残しておくだけでよい。
必要であれば（更新衝突の問題が表面化してきたときなどに）表示することを検討する。

[2015-01-12 23:18] kanizmb commented on #166
エンジニア向けのサイトなのでGitHubのようにエラー番号を大きく出してもいいかもですね（笑
エラーのお知らせとともにアクセスできなかった後の次のアクションをガイドしてあげると、よりユーザーにフレンドリーかと思います。

たとえばこういう感じです。
- サーバーやシステムの不具合 -> 公式Twitterアカウントへのリンクまたは埋め込み
- ユーザーが見つからない -> ユーザー検索窓で再検索
- イベントページが見つからない -> 最近のイベントを表示

全部やるのではなく、そのエラーページで最も多くありそうなケースに対応すれば良いと思います。

例:
[お探しのページは見つかりません。(404: Not Found) - Qiita](http://qiita.com/sdagfs)

[2015-01-12 23:57] kanizmb commented on #167
効率UPのために先人の労力をどんどん活用していかないとですね！
slim単体ではなく、slim + rails view になった時にわからなくなっているケースもあるので、質問するにしてもその辺をしっかり切り分けて聞くように注意しなければ。

[2015-01-13 01:01] yuji-shimoda commented on #157
現状だと、上記の案で問題無さそうです。
新しく外部(西脇.rb＆神戸.rb以外のコミュニティ所属)の方が join した場合は、
どんどん長くなりそうだけど

[2015-01-13 03:45] JunichiIto opened #174 "development環境やstaging環境を識別できるようにする"
こんなgemの存在を知ったので試しに使ってみたい。

https://github.com/dtaniwaki/rack-dev-mark
http://konyu.hatenablog.com/entry/2014/11/12/225705

[2015-01-13 03:46] JunichiIto commented on #166
同感です！

[2015-01-13 04:30] izumin5210 commented on #122
ありがとうございます…！

[2015-01-13 06:05] springaki commented on #155
おぉ〜なるほど。そんなんでいいの？ww
ありがとうございます。:smile:

[2015-01-13 06:41] yuji-shimoda commented on #136
これも Wiki で作成します？それとも、GitHub Pages 立ち上げます？

[2015-01-13 06:44] yuji-shimoda opened #175 "GitHub アイコンの動作を GitHub トップページのアイコン動作に合わせる"
GitHub トップメニューの Octcat アイコンにマウスを合わせた際の青色のイメージです

[2015-01-13 06:46] yuji-shimoda opened #176 "SNSアカウントがリンクされていない場合は、アイコンを隠したい"
リンクされていないアイコン（クリック出来な）なら、見えない方が良いかなと思いました。

[2015-01-13 06:59] springaki commented on #174
rack-dev-mark 便利ですよー。agree :+1:

[2015-01-13 09:33] kanizmb opened #177 "application.css.sass Typo修正"
imporet -> import :bow:

https://github.com/yuji-shimoda/rubyist-connect/blob/master/app/assets/stylesheets/application.css.sass#L7

[2015-01-13 10:35] JunichiIto commented on #176
うーむ、どっちもメリット、デメリットがありそう。
今の仕様でもリンクは無いよ、っていうのは見て分かるし、アイコンがサービスごとに縦に揃うからこのままでもいいんじゃない？っていう気がします。

[2015-01-13 10:37] JunichiIto commented on #136
どっちがいいだろう？Wikiしか考えてなかったけど、GitHub pagesの方がデザインを自由に変えれてベターかな？

[2015-01-13 11:02] JunichiIto commented on #157
いったん Nishiwaki.rb & Kobe.rbにさせてもらいました。
何か不都合があればまた議論させてください。

https://github.com/yuji-shimoda/rubyist-connect/pull/178

[2015-01-13 11:02] #157 closed, assigned to yuji-shimoda

[2015-01-13 11:17] yuji-shimoda commented on #157
:+1:

[2015-01-13 11:38] yuji-shimoda opened #179 "kobe のサブドメインを変更する"
サービス名的にも kobe が外れましたし、ユーザ（コントリビューター）に弘野さんやmakiさん、pinzolo さんやむらじゅんさんがいるので、kobe を外してもいいかなと思いました。
＃kobe が付いているから、登録しないユーザがいると機会損失になりますし、、、
ただ heroku で運用する以上、サブドメインの方が楽（ルートドメインにするとなると、有料のDNSサービスとか、Amazon Route53 + S3）だし、ルートドメインで運用するメリットはそれほど無い気がするので、この際サブドメインを変更しようと思います。
無難に www.rubyist.co とかで良いかなと。
他に良いサブドメイン名や、反対意見があればコメントお願いします。

[2015-01-13 11:46] kanizmb commented on #176
未設定時は #dcdcdc ぐらいの薄グレーにして無効の感じを強調するとよさそうです。
あと一覧ではもっとアイコン小さくて良いと思います。

[2015-01-13 11:51] JunichiIto opened #180 "Webマスターツールを導入する"
とりあえず今すぐ使う予定はなくても、データを貯めておくと何かあったときにすぐ活用できそうなので。

[2015-01-13 11:51] kanizmb commented on #179
よくわかっていないですがこんな情報ありました。

[Express - herokuにルートドメインを無料で設定する - Qiita](http://qiita.com/Tkashiro/items/8249455477bbb5333118)
[お名前.comを使ってHerokuのルートドメインを設定する - Qiita](http://qiita.com/numa08/items/d4ad9454f0baefc8c784)
[Herokuアプリ:無料で独自ドメインをルートドメインにする - Hello world, I am kgmx.](http://kgmx.hatenablog.com/entry/2014/09/04/090232)

[2015-01-13 11:53] JunichiIto opened #181 "Google Analyticsに目標を設定する"
設定するならログインボタンのクリック率とかかなー。
でも現状のままだと数値が取りにくいかもしれない。

まあ現時点ではサイトの明確なゴールが特にあるわけじゃないんですが。

[2015-01-13 12:25] yuji-shimoda commented on #179
ルートドメインの設定については、[heroku dev center](https://devcenter.heroku.com/articles/custom-domains) に記載のとおり出来なくも無いんですが、どうしてもルートドメインで運用したいという
強いコダワリがない限り、コストや労力に見合わない気がしています。
また、Rails が動く PaaS で heroku 以上のサービスが見付からなかったというのも理由の１つ。
現状、ドメイン取得のコスト以外は掛かっていませんし出来るところまで heroku で頑張るという
話を、伊藤さんとしていました。とりあえず、サブドメイン運用が一番リーズナブルかと考えています。

[2015-01-13 12:29] JunichiIto commented on #179
おや、こんなところにもルートドメイン（ネイキッドドメイン）に関する情報がありますよ～？？
http://blog.jnito.com/entry/2014/05/04/090537

このサイトはルートドメイン + Herokuで運用できてるみたいw
http://coupe-baguette.com/

・・・なんですが、サブドメインは付けておいた方が良いと思います。
ずっとhttpのままならいいんですが、もし将来的にhttpsを利用としたいときにルートドメインが使えないからです。

今のところはhttpsにする予定はないですが、将来絶対無いとは言い切れないので、サブドメインは付けておいた方が無難でしょうね。

付けるとしたらwwwかな～。
それ以外あまりアイデアもないし。

あと考慮する点としては、kobeのサブドメインでアクセスしてきた人をリダイレクトさせるかどうかですね。

[2015-01-13 13:13] kanizmb commented on #179
むむむ？esa.ioがルートドメインでSSL使えているような。
プランか何かが違うんでしょうか。
[esa.io - we love heroku](http://welove.herokuapp.com/sites/364)

[2015-01-13 14:35] yuji-shimoda commented on #179
esa.io は、[dnsimple](https://dnsimple.com/pricing)というサービスを使っているようですね。
$3/m みたいです。

[2015-01-13 14:39] yuji-shimoda commented on #176
確かに、一覧の時はもう少しicon小さくても良い気がします。
あと、PCで閲覧してるときは２列とか３列くらいで表示したいですね！

[2015-01-13 15:13] yuji-shimoda commented on #161
Facebook ページは、サブドメインの移行とリポジトリの Org 移行が完了してから着手します。

[2015-01-13 15:19] yuji-shimoda commented on #60
この件、今後のメンテナンス・コストも考えるとハッカソンでコントリビュート出来なかった参加者に
細かい修正でも良いのでコミットして貰って、github のコントリビューターのページで済ませたいです。

[2015-01-13 15:26] Koichi-Kobayashi opened #183 "ユーザー一覧とかにイベント参加回数が欲しい"
回数の部分をクリックしたら、今まで参加したイベントの一覧に飛ぶとか。

[2015-01-13 20:01] kanizmb commented on #176
[このコミット](https://github.com/yuji-shimoda/rubyist-connect/commit/23a4096c60c65ac5a20b30f6f18105e4e9326113)で、同じpartialでもページごとに別々のstyleが割り当てられるように変更してあるので、ご活用くださいませ〜

例:
https://github.com/yuji-shimoda/rubyist-connect/blob/master/app/assets/stylesheets/users.css.sass

[code]

[2015-01-13 21:35] #177 closed, assigned to nobody

[2015-01-13 21:36] #164 closed, assigned to yuji-shimoda

[2015-01-13 21:36] JunichiIto commented on #164
https://github.com/yuji-shimoda/rubyist-connect/pull/182

[2015-01-13 21:39] JunichiIto opened #185 "リポジトリを個人からorganizationへ移管する"
Assigneeを柔軟に指定したりできるように。

TODO（随時追加してください）
- [x] gitterへ事前アナウンス
- [x] README > Contributingのリンクを変更する
- [x] GitHub Application の設定移管
- [x] Wiki のリポジトリ情報を更新
- [x] gitterへ事後アナウンス & create & invite (リポジトリ移管とともにgitter room削除されたので)

[2015-01-13 21:44] JunichiIto commented on #179
なるほど、ANAMEを使えばSSLもいけるのか。

http://qiita.com/Oakbow/items/8f76ca074f51fc3bd89c#2-3

じゃあネイキッドで進めるのもアリかもですね。

http://blog.jnito.com/entry/2014/05/04/090537 で紹介しているCloudFlareは無料で使えますよ。

[2015-01-14 00:40] yuji-shimoda commented on #179
ドキュメントがありました。
http://www.higherorderheroku.com/articles/cloudflare-dns-heroku/

[2015-01-14 01:34] springaki commented on #180
:+1:

[2015-01-14 03:29] t-oginogin opened #186 "KRCメンバー間で連絡が取り合えるような仕組みがあっても良いかも"
- フォーム入力からメッセージを送れるようにする？
- SlackなどにKRCの部屋を作っておき、KRCからリンクを貼るなどでどうか？

[2015-01-14 03:44] JunichiIto opened #187 "QiitaアイコンをGitHubに公開する"
公開時は以下の記載を付ける。

”Qiita、Qiita:Team等のロゴをご利用希望の際はsupport@qiita.com までお問い合わせください。”

で、フォントアイコンをgemにして公開、ってどうやるんだろ？
そもそもgemだとRubyの人しか使えないのでベストではないかも。

このあたり、いい配布方式をご存知の方がいたら教えてください。

[2015-01-14 05:10] kanizmb commented on #187
gemにこだわらないのであれば、普通にフォントとして配布でしょうか...？
ライセンス周りは私もよくわかりません〜。

2013年上半期 無料ダウンロード利用出来るwebアイコンフォントまとめ http://programmerbox.com/2013-07-18_free_web_icon_font/

[2015-01-14 09:35] kanizmb opened #188 "SNSリンク用Qiitaアイコンをオフィシャルなものに差し替え"
#187 の派生issueです。

いただいたaiファイルを使って作ったアイコンフォントに差し替え。

[2015-01-14 09:40] kanizmb commented on #187
アイコン化しましたー。
以下関連ファイルがまとまったzipファイルです。
https://www.dropbox.com/s/3cil3m73j2mgxm1/qiita_icon.zip?dl=0

一応こういう設定しておきました。
![qiita_icon_setting](https://cloud.githubusercontent.com/assets/4459676/5736731/a9fc4a0c-9c1c-11e4-946a-08bf7c427df3.png)

[2015-01-14 20:10] JunichiIto commented on #188
リリースしました！

[2015-01-14 20:10] #188 closed, assigned to nobody

[2015-01-14 20:12] JunichiIto opened #191 "ヘッダメニューにある"Rubyist Connect"もトップページと同じフォントにする"
ついでに beta も小さく入れたい。

[2015-01-14 20:20] JunichiIto opened #192 "gitterのチャットをプライベートにする"
別にpublicでも害は無いだろうけど、外から丸見えなのもちょっと恥ずかしい。（ガラス張りの家に住んでる感じ）

プライベートモードみたいなものがあればプライベートにして、招待した人だけが参加できる、みたいな形にしたい。

そんなことできるんでしょうか？ > @springaki

[2015-01-14 20:25] JunichiIto commented on #187
@kanizmb ありがとうございます！
zipファイルの内容をこのまんま新しいGitHubリポジトリにpushして公開すればそれでいい気がしてきました。
GitHubならzipダウンロード用のリンクも付いてますし。

あと、READMEとかを編集したいな～と思ったときも、pull req送れますしね。

お時間のあるときにやってみてください～。

[2015-01-14 21:52] yuji-shimoda commented on #185
本日 1/15 の晩に移行予定です。よろしくお願いします。

[2015-01-14 21:54] yuji-shimoda commented on #179
リポジトリの移行に合わせて、DNSとサブドメインからルートドメインに変更しようと考えています。
コメントあればお願いしますー。

[2015-01-15 07:25] kanizmb commented on #187
承知しました。
ファイルの場所は、 /public/downloads/qiita_icon_font/ 辺りでOKでしょうか？

[2015-01-15 07:48] springaki commented on #192
できたハズです。 org にしたらやりましょうか。

[2015-01-15 07:55] JunichiIto commented on #187
ん？認識がちょっと違うかも。
rubyist-connectとは完全に独立させて、 @kanizmbさんのリポジトリで公開するイメージでした。
たとえばこんな感じ。（"web font open source github" というキーワードでググりました）

https://github.com/aristath/elusive-iconfont

https://github.com/iconic/open-iconic

https://github.com/FortAwesome/Font-Awesome

Bowerとかに対応させると完璧っぽいです。（Bower、使ったことないですが）

[2015-01-15 07:57] JunichiIto commented on #192
:+1:
お願いしますー。

[2015-01-15 08:23] kanizmb commented on #187
なるほど！そういうことでしたか。
RubyistConnectのどこに置いてリンク貼るのだろう... と悩んでしまいました :sweat:

公開のお作法がよくわかっていないので、ちょっと調べてみて対応しますね！
Bowerも合わせて見てみます〜 :dash:  いろいろありがとうございます。

[2015-01-15 08:32] yuji-shimoda commented on #187
そういえば、ライセンスは MIT にしていたんですが Qiita icon ライセンスとのデュアルライセンスにしないといけない？

[2015-01-15 08:38] yuji-shimoda commented on #70
Qiita アイコンの取り扱いについて、記載する必要があるかも

[2015-01-15 08:38] kanizmb commented on #187
ブランドアイコンを含むfont awesomeのライセンスはこういう感じになっていますね。
http://fortawesome.github.io/Font-Awesome/license/

[2015-01-15 08:54] yuji-shimoda commented on #187
こんな感じ？

Qiita アイコンおよび商標は、[Increments株式会社](http://increments.co.jp/)の著作物です。
Increments株式会社の許諾なく、Qiita アイコンを使用することはできません。

[2015-01-15 08:55] yuji-shimoda commented on #187
[マイクロソフトの著作物の使用について](http://www.microsoft.com/ja-jp/mscorp/legal/permission/default.aspx) が、参考になるかも

[2015-01-15 09:45] JunichiIto commented on #187
@yuji-shimoda Qiitaの中の人からはとりあえず「Qiita、Qiita:Team等のロゴをご利用希望の際はsupport@qiita.com までお問い合わせください。」と書いておいて、と言われています。
現在はQiita内で「規約の策定を準備中」らしいです。

ちなみにメールの全文は @kanizmb に転送してあります。

[2015-01-15 09:46] t-oginogin commented on #156
トップページのメンバーですが、new member、contributor #60 、ランダム #160と案が出てますが、私はトップページはランダムにして、contributorは別ページで良いかと思います。

[2015-01-15 11:57] JunichiIto opened #193 "旧URLへのリクエストを新URLへリダイレクトする"
これを使ってセットアップする。

https://github.com/SonicGarden/rack_redirectorr

[2015-01-15 11:58] yuji-shimoda commented on #193
サブドメインもルートドメインも CNAME で転送できるみたいですよ！

[2015-01-15 12:00] springaki commented on #193
SonicGarden製 !!
これはなんですか？使わないとリダイレクトできないもの？

[2015-01-15 12:51] yuji-shimoda commented on #179
ルートドメインに変更しました。クローズします。

[2015-01-15 12:51] #179 closed, assigned to yuji-shimoda

[2015-01-15 13:07] yuji-shimoda commented on #156
はい、その予定です :+1:

[2015-01-15 14:36] yuji-shimoda commented on #131
よくあるご質問（FAQ）

### GitHub のアカウント登録をしていないのですが、Rubyist Connect を利用することはできますか？

GitHub アカウントが必要なサービスであるため、利用することはできません。
お手数ですが、[GitHub](https://github.com/)の Sign up for GitHub からアカウントを登録してください。

### Rubyist Connect にログインする度に毎回、ユーザー登録のページに飛ばされます。どうすれば一覧のページを表示できますか？

Rubyist Connect は、Rubyist が Rubyist を見付ける手助けをするために運営されています。
自己紹介の文章が登録されていないユーザーは、自己紹介の文章を登録頂くようにユーザー登録のページに遷移します。
自己紹介文章を登録頂くことで、ログイン後す

[2015-01-15 14:41] yuji-shimoda commented on #187
rubyist-connect リポジトリのREADME(License)に、上記の１文を入れておけば良いでしょうか？

[2015-01-15 14:44] yuji-shimoda commented on #86
タグ機能は削除されたので、一旦クローズしませんか？

[2015-01-15 14:44] yuji-shimoda commented on #160
あと、TOPのアイコン数も３列で綺麗に表示して欲しいので２１個に変更したい

[2015-01-15 14:46] yuji-shimoda commented on #186
これは、Twitter とかのサービスを利用して貰えば良いかなぁと考えていましたが
GitHub 以外の SNS アカウントを登録していないユーザに対しては、どーすればいいの？という
疑問が浮かびました。

[2015-01-15 14:53] kanizmb commented on #187
これ届いていない模様ですー @JunichiIto

[2015-01-15 15:13] yuji-shimoda commented on #160
#194 で、new members の変更をコミットしました。なので、ランダム表示だけで良いです :+1:

[2015-01-15 15:23] yuji-shimoda commented on #60
github のコントリビューターのページは、以下ですね。
https://github.com/rubyist-connect/rubyist-connect/graphs/contributors

ただ、サービスとしてユーザの目線で考えると必要の無いページではある :sweat_drops:

[2015-01-15 15:42] springaki commented on #186
そういう人はそういうコミュニケーションを望んでないのじゃないかなーと推測しますが、望んでいるけれど登録してないケースってあるのでしょうかねー？

[2015-01-15 15:48] springaki commented on #185
作業終了〜。おつかれさまでした :smile:

[2015-01-15 15:48] #185 closed, assigned to yuji-shimoda

[2015-01-15 15:59] yuji-shimoda commented on #186
確かにTwitterくらいは、登録して欲しいかも。rubyist connect 内でのメッセージ機能は無くて良い気がしますー。READMEに記載の通り、他のサービスで代替出来る機能はあえて作りません。それでも、要望が出てきたら考えましょう :+1:

[2015-01-15 20:32] JunichiIto commented on #193
現状リダイレクトできてますね。
CloudFlareの設定のおかげかな？

対応不要と言うことでクローズしますね。

[2015-01-15 20:32] #193 closed, assigned to JunichiIto

[2015-01-15 20:36] JunichiIto opened #195 "Heroku schedulerの設定、不要なら削除する"
@yuji-shimoda
`curl http://kobe.rubyist.co/`を1時間おきに実行していますが、これはHerokuが眠らないようにするためのスケジューラですか？

もしそうであれば現在はNew Relicがpingを飛ばしてるのでこのスケジューラは不要になります。

[2015-01-15 20:51] JunichiIto opened #196 "トップページでユーザーのアイコンをクリックすると認証ページへ飛ぶようにする"
「あ、このユーザー、どんな人だろう？気になる～」
=> リンクをクリック => 認証ページ表示 => 認証
=> そのユーザーの詳細ページが開く

・・・という流れが理想。

[2015-01-15 20:53] JunichiIto opened #197 "ActionController::RoutingError (No route matches [GET] "/apple-touch-icon-152x152-precomposed.png") のようなエラーが出る"
ログにこんなエラーが出てます。

[code]

[2015-01-15 21:12] t-oginogin commented on #186
確かにTwitterあれば最初の連絡はとれますね！
というわけで一旦クローズしておきます。

[2015-01-15 21:13] t-oginogin commented on #156
了解です〜

[2015-01-15 21:55] JunichiIto commented on #187
@kanizmb aiファイルを送ったメールに書いてある「ライセンス等について」の項を指しています。

[2015-01-15 21:55] yuji-shimoda commented on #195
はい、そうですー。削除しておきます :+1:

[2015-01-15 21:56] JunichiIto commented on #60
個人的にはあまり必要性を感じないですね～。
クローズしちゃってもいいんじゃない？

[2015-01-15 21:56] yuji-shimoda commented on #195
削除しておきましたー :+1:

[2015-01-15 21:56] #195 closed, assigned to nobody

[2015-01-15 21:59] yuji-shimoda commented on #193
はい、CloudFlare のページルールで 301 redirect が出来るらしいので設定してから寝ました :+1:
https://support.cloudflare.com/hc/en-us/articles/200172286-How-do-I-do-url-forwarding-with-CloudFlare-

[2015-01-15 22:01] yuji-shimoda commented on #60
どうしても作成して欲しいという方がいれば、コメントくださいー。
特にコメント無ければクローズしておきますー。＃クローズ後もコメントできますが

[2015-01-15 22:01] JunichiIto commented on #86
この案自体は寺田さんから出たものです。
クローズするとなかったことになるので備忘録的に置いておこうかな～と思っています。
とりあえず紛らわしいので「タグ機能」という言葉を使わないタイトルにしました。

※GitHub issueは優先度や仕様が固まっているのかどうかを表現しづらいのが難点ですね。
仕様が決まっててすぐに対応できるものを上に集めたりしたいな～。

[2015-01-15 22:03] yuji-shimoda commented on #86
了解ですー。そこは、Milestone で対応？

[2015-01-15 22:16] JunichiIto commented on #86
うーん、issueには3つぐらい状態があるのかなーと思っています。
1. 優先度の高い機能。早く対応してほしい。
2. 仕様は固まっているが、なくてもそこまで困らない機能。「なるはや」で対応されると嬉しい。
3. 要件がまだふわっとしているので着手できない。まずは目的や仕様を固めるところから。

Milestoneが該当するのは1かなー。
2はたくさんあるのでいちいちマイルストーンを付けていくのは大変。
で、このissueは3に該当する感じ。

ちなみにPivotal Trackerだとドラッグアンドドロップで移動して、3カラムで表現できるから理想的なんですが。

![pivotal](http://depth-first.com/images/posts/chemwriter-tracker.png)

1,2はcurrentかbacklogに入って、3はiceboxに入る。
2の中でも

[2015-01-15 22:25] yuji-shimoda commented on #196
確かに、トップページのユーザアイコンからGitHub認証を経て
詳細ページにリダイレクトして欲しいですね。

[2015-01-15 22:27] yuji-shimoda commented on #86
おー、こんなツールがあるんですね :+1: 便利そう

[2015-01-15 23:16] JunichiIto commented on #86
便利なんだけど、有料なんですよね。。。

[2015-01-15 23:24] JunichiIto opened #198 "GitHub issueをもっと使いやすくする（ZenHub導入？）"
https://github.com/rubyist-connect/rubyist-connect/issues/86

の続きです。

GitHub issueをPivotalのように使いやすくする[ZenHub](https://chrome.google.com/webstore/detail/zenhub-for-github/ogcgkffhplmphkaahpmffcafajaocjbd)っていうChrome extensionがあるみたいですね。

http://qiita.com/sotayamashita/items/2cc6a32a0994b5069c7e

http://blog.isao.co.jp/post/87265630773/github-issue-zenhub

http://d.hatena.ne.jp/takezoe/20140607#p1

導入

[2015-01-15 23:28] #141 closed, assigned to nobody

[2015-01-15 23:31] JunichiIto commented on #131
細かい点はさておき、全体的によいと思います－ :+1:

[2015-01-15 23:33] JunichiIto commented on #131
ここは「Q.イベント機能とは何ですか？」「A.勉強会の参加者をグルーピングする機能です」みたいな形の方がユーザー目線に立っているかなーと思いました。

[2015-01-15 23:47] yuji-shimoda commented on #131
とりあえず、ブレストして後でWikiに纏める予定です！

[2015-01-15 23:47] JunichiIto commented on #56
買ってみました。

![h27-01-16 8 36 46](https://cloud.githubusercontent.com/assets/1148320/5769252/500bdc60-9d5c-11e4-99cf-5e2250c53ab0.jpg)

これから読みまーす。

[2015-01-15 23:54] yuji-shimoda commented on #56
:+1:

[2015-01-15 23:57] yuji-shimoda commented on #56
グローバル展開も視野に :sparkles: 笑

[2015-01-16 01:18] springaki commented on #193
あれ CloudFlare 使ってるんでしたっけ？

[2015-01-16 01:31] springaki commented on #86
正直 GitHub issue は issueとしてだけ使いたいような気もしますね。そんなに feature上がってこないと予測してこのままにしてたんですが、そろそろ厳しいですね。

Pivotalもいいんですが、高機能すぎ & 有料だからなぁ。
Trello でいいんじゃないですか？

[2015-01-16 01:36] springaki commented on #198
使った事あります。

問題は何を使うかよりは何を解決したいのかですねー。このレベルで issue上がってくるとツラいし、そういうのは gitterとかのコミュニケーションツールで揉んで欲しいなぁという感じ。

あとは issueで featureやstoryを管理するのかどうか。

[2015-01-16 03:06] yuji-shimoda commented on #193
ルートドメインへの移行に伴い、DNS を CloudFlare に変更しました :+1:

[2015-01-16 04:08] springaki commented on #193
あ、そうなんですね。伊藤さんが知ってるって事はどこかでその発言をしてたって事か。
見逃してました。すみません〜 ><

[2015-01-16 05:48] yuji-shimoda commented on #193
#179 で伊藤さんから無料だと教えて貰いました :+1:

[2015-01-16 06:26] kanizmb commented on #187
@JunichiIto なるほどです！

[2015-01-16 06:44] springaki commented on #193
なるほどなるほど。情報にたどり着きました。ありがとうございます !! :sparkles:

[2015-01-16 07:25] springaki commented on #197
参考まで http://qiita.com/matsui_q/items/c3d32181a0661a908291

[2015-01-16 09:01] kanizmb commented on #197
256×256px 画像作りました。ご活用ください〜。
（画像やデザインに関係するタスク、私以外の方がやってくださってかまいませんよー？）
![apple-touch-icon](https://cloud.githubusercontent.com/assets/4459676/5773769/903a6dfe-9da9-11e4-988e-0f2aeebea642.png)

[2015-01-16 09:55] JunichiIto commented on #197
ありがとうございます！

はい、ごもっともです・・・・ :sweat:

いつまでも @kanizmb さんに依存してたらダメですよね～。

Adobe製品を使うような作業はちょっと無理ですが、それ以外の作業はプログラマもトライしてダメ出し受けないといけませんね。

この記事で紹介されてるみたいに。

http://www.sonicgarden.jp/201501_interview_designer1

[2015-01-16 10:12] yuji-shimoda commented on #197
ドキュメント整備とか、Facebookページなどのタスクが完了したら、デザイン系のissue に着手しますので、その時はレビュー宜しくお願いしますー @kanizmb

[2015-01-16 12:27] springaki commented on #192
あ。これプライベートリポジトリでもない限り無理かも。

[2015-01-16 12:52] yuji-shimoda commented on #161
Facebook ページを作成しましたー
https://www.facebook.com/Rubyist.Connect

[2015-01-16 12:52] #161 closed, assigned to yuji-shimoda

[2015-01-16 12:52] #60 closed, assigned to yuji-shimoda

[2015-01-16 13:07] yuji-shimoda commented on #70
とりあえず、README の License Qiita ロゴに関する内容を追記しておきましたー。

[2015-01-16 13:07] #70 closed, assigned to yuji-shimoda

[2015-01-16 13:12] yuji-shimoda commented on #131
FAQ の Wiki を作成しましたー。
https://github.com/rubyist-connect/rubyist-connect/wiki/FAQ

[2015-01-16 13:12] #131 closed, assigned to yuji-shimoda

[2015-01-16 13:14] yuji-shimoda commented on #136
メンテナンスコストを考えると、Wiki がリーズナブルなので Wiki にします。

[2015-01-16 14:20] yuji-shimoda commented on #136
## リリースノート

### 2015/01/10 [KRC ハッカソン](http://nishiwaki-koberb.doorkeeper.jp/events/18705)にて追加された機能一覧
- ユーザ一覧ページのユーザ表示順序を、変更しました。（新規ユーザーが上位に表示されます）
- ユーザ一覧のページに、ページネーション機能を追加しました。
- サイト・デザインを大幅に変更しました。（トップ、メインページのデザインとfavicon の追加）
- ユーザー情報に Qiita リンク機能と、年齢表示機能を追加しました。(生年月日を入力し、自動計算します）
- 自己紹介文を、Markdown で記入するように変更しました。
- セミナー、勉強会、イベントなどを管理するための機能を追加しました。
- 検索したユーザーが見付からなかった場合に、該当ユーザーがいない旨を表示するように変

[2015-01-16 14:21] yuji-shimoda commented on #136
とりあえず、コミットを追いかけてリストにしています。抜けや漏れや、誤りがあればご指摘ください。お願いします。

[2015-01-16 14:53] yuji-shimoda commented on #136
### 2015/01/11
- サイト・デザインを変更しました。（beta サービスであることを明記、sign out のリンクをアイコン化、アイコンの説明を吹き出しで表示）
- 自己紹介の文章を登録していないユーザーは、自己紹介の文章登録を促すために
  ログイン後、設定ページに転送されるようになりました。

### 2015/01/12
- Rails 4.2 にアップデートされました。Rails 4.2 リリースノートは、[こちら](http://railsguides.jp/4_2_release_notes.html)
- 早期リリースされていた、タグ機能が削除されました。
- サイト・デザインを変更しました。（イベントアイコンの表示場所）
- サイト名が "Kobe Rubyist Connect" から、"Rubyist Connect" に変更されました。
- イベントに

[2015-01-16 14:54] yuji-shimoda commented on #136
上記の記載内容に問題が無ければ、Wiki へページ作成します。

[2015-01-16 14:57] yuji-shimoda commented on #192
無理なら無理で仕方ないですねー :sweat: クローズにします？

[2015-01-16 15:20] yuji-shimoda opened #200 "ユーザー一覧ページのアイコンサイズを、もうすこし小さくしたい"
#176 で話題になった件です。

[2015-01-16 15:21] springaki commented on #197
アクセスして Errorが発生しなくなったのを確認。

[2015-01-16 15:21] #197 closed, assigned to springaki

[2015-01-16 15:22] springaki commented on #197
参考URL: https://developer.apple.com/library/ios/documentation/AppleApplications/Reference/SafariWebContent/ConfiguringWebApplications/ConfiguringWebApplications.html#//apple_ref/doc/uid/TP40002051-CH3-SW4

[2015-01-16 15:23] yuji-shimoda commented on #197
対応ありがとうございますー :+1:

[2015-01-16 15:24] springaki commented on #197
Before:
![img_0747](https://cloud.githubusercontent.com/assets/534628/5778490/05a5ecf0-9ddf-11e4-9853-a6326f78c1b0.png)

After:
![img_0748](https://cloud.githubusercontent.com/assets/534628/5778509/1f5b386c-9ddf-11e4-8b52-0d7b6106d0a5.png)

[2015-01-16 15:28] springaki commented on #131
:+1:

[2015-01-16 21:50] kanizmb commented on #197
最終的な目標は、チームの一人一人が自分で作るアプリ際の技術を身につけることだと思っているので、デザインの作業を独り占めしないように気をつけています。
この考えから、トップページは誰でも編集できるようほぼ画像を使っていません。
面倒臭いとかではないので、その辺り誤解なきようにお願いしますね！
デザイナーでないと厳しい部分は引き続き担当しますし、レビューも :ok_woman:  です〜。
あと自分がやりたい所は遠慮なく奪っていきます（笑

@springaki
アイコン設定ありがとうございます！:sparkles:

[2015-01-16 22:01] kanizmb commented on #200
一覧ページのデザイン系issueが分散していますが、#148 に集約してはどうでしょうか？
（ユーザーのために）一覧性をUPするという目的に向かって進めば、どうするのが良いか明確になってくると思います！ :blush:

[2015-01-16 22:29] JunichiIto opened #201 "Facebookページを作り直す"
@yuji-shimoda
https://www.facebook.com/Rubyist.Connect のドットが気になるので https://www.facebook.com/RubyistConnect の方がいいです。

URLを変更するのは回数制限があった気がするので（名前だったかな？）、このタイミングであれば旧ページを削除して新しいページを作った方がいいかなと思います。

[2015-01-16 23:07] JunichiIto commented on #192
これという代替案もないのでいったんクローズします－。

[2015-01-16 23:07] #192 closed, assigned to nobody

[2015-01-17 01:00] yuji-shimoda commented on #201
![2015-01-17 9 58 32](https://cloud.githubusercontent.com/assets/2437500/5786830/823ded6c-9e2f-11e4-810f-8a89f6dd25d2.png)

アカウント作り直したんですが、ドットなしは無理そうですー

[2015-01-17 01:50] yuji-shimoda commented on #136
Wiki にリリースノートを作成しました！
https://github.com/rubyist-connect/rubyist-connect/wiki/ReleaseNotes

[2015-01-17 01:50] #136 closed, assigned to yuji-shimoda

[2015-01-17 01:54] springaki commented on #197
@kanizmb よい方向性だと思っています。@kanizmb もコードがんがん書いてねー :smile_cat:

[2015-01-17 02:00] springaki commented on #201
おや？試しに今やってみたら作れたよ。使いますか？

[2015-01-17 02:00] springaki commented on #201
ちなみにURL変更の回数制限は1回だったはずですー

[2015-01-17 02:03] yuji-shimoda opened #203 "TOPページの説明を良くしたい"
ハッカソン当日に時間の余裕もあまりない中、作成したため改善の余地あり

[2015-01-17 02:03] yuji-shimoda commented on #203
![2015-01-17 10 56 59](https://cloud.githubusercontent.com/assets/2437500/5787176/7d7019d2-9e38-11e4-86bc-d3c772abdad1.png)
例えば、こんな感じ

[2015-01-17 02:05] yuji-shimoda commented on #201
使いたいです！

[2015-01-17 02:06] yuji-shimoda opened #204 "フッターに、Twitter や Facebook ページへのリンクを作成する"
FAQ のリンクもあったほうがいいかも

[2015-01-17 02:47] JunichiIto opened #205 "Wikiの手順を見直す"
古くなってる箇所がありそう。

[2015-01-17 03:49] springaki commented on #201
inviteしました。

[2015-01-17 04:36] JunichiIto opened #206 "db:seedを使ってローカル開発環境に初期データを投入できるようにする"
[rake db:seedを使った初期データの投入](http://www.rubylife.jp/rails/model/index10.html)

サンプルデータがあった方がローカルでの動作確認もしやすそうなので。
Fakerを使ってそれっぽいデータを作るとさらによさそう。

このissueを思いついたきっかけはこちら。

https://github.com/rubyist-connect/rubyist-connect/pull/202#issuecomment-70350415

[2015-01-17 04:40] yuji-shimoda commented on #201
ありがとうございます！

[2015-01-17 04:40] JunichiIto commented on #204
確かにフッター、ほしいですね。

[2015-01-17 04:45] JunichiIto commented on #197
@kanizmb さすが、カニパイセン！

[2015-01-17 04:50] JunichiIto commented on #136
@yuji-shimoda 作成ありがとうございます！
新しい情報が上に来るように書き直しました。

細かい話をつらつら書くと読む人がしんどいので、大きな変更だけを挙げるようにしたいですね。

[2015-01-17 04:53] JunichiIto commented on #200
そうしましょうか。
じゃあいったんこっちはクローズしますね。

[2015-01-17 04:53] #200 closed, assigned to nobody

[2015-01-17 04:56] yuji-shimoda commented on #136
新しいお知らせが上に来る方が良いですね :+1: ありがとうございます

[2015-01-17 04:58] JunichiIto commented on #70
@yuji-shimoda アイコンのライセンスの話は、アイコン単体をGitHubで公開するときに付与する文言になります。
Rubyist Connectはすでに許諾をもらってアイコンを使っているサイト、っていうイメージ。

というわけでREADMEから該当箇所を削除させてもらいました。

[2015-01-17 05:00] JunichiIto commented on #201
Thank you! 僕もinviteして～。

[2015-01-17 05:00] #201 closed, assigned to yuji-shimoda

[2015-01-17 05:03] springaki commented on #201
したよ〜。

[2015-01-17 05:10] JunichiIto commented on #201
@springaki Thanks!

[2015-01-17 05:12] yuji-shimoda commented on #198
zenhub 入れてみました。issue の状態って、以下の４つだと考えているのですが
- 課題(New Issue)
- やること(TO DO)
- 作業中(Work In Progress)
- 完了(Done)

backlog って何ですか？

[2015-01-17 05:17] yuji-shimoda commented on #70
了解です。こちらは、利用者側だからライセンスに記載する必要なしなんですね！

[2015-01-17 06:07] t-oginogin commented on #198
zenhubはorganizationリポジトリは有料になったかも。（βのときは無料だったんですけどね）
30日間はお試しで使えるので使ってみて良いですね。

[2015-01-17 06:34] kanizmb commented on #206
:sparkles:

[2015-01-17 06:45] yuji-shimoda commented on #198
おお、有償サービスですかー。残念、、、

[2015-01-17 07:05] springaki commented on #198
おぉ、そうなんだ知らなかった...

[2015-01-17 07:12] yuji-shimoda commented on #198
https://www.zenhub.io/pricing 　無料なのはあくまでも、個人利用っぽい感じですね

[2015-01-17 07:35] yuji-shimoda commented on #198
https://trello.com/ 使います？

[2015-01-17 08:00] #206 closed, assigned to JunichiIto

[2015-01-17 09:10] yuji-shimoda commented on #203
![2015-01-17 6 08 41](https://cloud.githubusercontent.com/assets/2437500/5788358/1f7bd3c0-9e74-11e4-9880-5ec6eb3941c0.png)

国際化対応

[2015-01-17 09:15] JunichiIto commented on #205
一通り見直して修正しました。

[2015-01-17 09:15] #205 closed, assigned to JunichiIto

[2015-01-17 09:16] yuji-shimoda commented on #205
ありがとうございます！

[2015-01-17 09:16] JunichiIto opened #208 "ユーザー一覧で自分のデータは先頭に表示する"
データ件数が多いと自分のデータが埋もれてしまう。
自分がどんなふうに見えているのかはすぐにチェックしたいのでは？

[2015-01-17 09:19] JunichiIto commented on #133
人数が増えるとやばい。
UI的にはどう解決すべきだろうか。。。

![screen shot 2015-01-17 at 18 17 32](https://cloud.githubusercontent.com/assets/1148320/5788376/4d39e9d6-9e75-11e4-8c95-72441e8d978b.png)

[2015-01-17 09:19] yuji-shimoda commented on #208
#118 が解決策の予定なんですが、３カラムにして左側を自分のアカウント表示領域にしたいと考えていました。そうすれば、本来はユーザ一覧に自分のアカウントを表示する必要がなくなるはず

[2015-01-17 09:21] yuji-shimoda commented on #133
これは、かなり厳しいですね :sweat:

[2015-01-17 09:22] yuji-shimoda commented on #133
実は、これもリージョン機能で表示するユーザを絞り込んでいれば解決するのでは？

[2015-01-17 09:24] yuji-shimoda commented on #133
ただし、同一リージョン内にたくさんのユーザがいると同じことですね。
ここまでサービスがスケールすると Doorkeeper からユーザ一覧を引っ張ってこないといけないかも

[2015-01-17 10:47] kanizmb commented on #208
表示位置は先頭じゃないけどこれに準じたことやろうとしてました。

[2015-01-17 10:54] kanizmb commented on #118
#148 に統合のためclose

[2015-01-17 10:54] #118 closed, assigned to nobody

[2015-01-17 10:55] kanizmb commented on #148
#118 より転載
![c664f4ee-98cc-11e4-99d7-d6749470d303](https://cloud.githubusercontent.com/assets/7820884/5690881/090d1b7c-98ec-11e4-9e4d-cf1d22544463.png)

[2015-01-17 13:39] yuji-shimoda commented on #160
この件、マージされたのでクローズしても良いですか？

[2015-01-17 13:53] yuji-shimoda commented on #203
@kanizmb 今のテキストより、英語版の方が良い気がしているのですが
問題無ければ修正しても良いですか？

[2015-01-17 13:56] yuji-shimoda commented on #176
改めて見ると、そこまで気にならないような気がしました。
また、綺麗にアイコンが並んでいる方が見栄えがするので現状維持でクローズします。

[2015-01-17 13:56] #176 closed, assigned to nobody

[2015-01-17 13:59] yuji-shimoda commented on #167
すみません、この issue は @kanizmb 担当で良いのですか？
それとも、クローズ？

[2015-01-17 13:59] yuji-shimoda commented on #160
とりあえず、クローズしておきますー

[2015-01-17 13:59] #160 closed, assigned to nobody

[2015-01-17 14:07] yuji-shimoda commented on #126
GitHub のプロフィールページにアクセスして URL に表示されているユーザー名（ユーザID　私の場合だと、yuji-shimoda）が確か、API 越しで取得出来る nickname だったと思います。API 越しで取得出来る name が、"Yuji Shimoda" だったはず
記憶違いだったらごめんなさい。

[2015-01-17 14:12] yuji-shimoda commented on #126
rubyist-connect は、GitHub だけは GitHub の仕様に合わせていたはずなので
すべてのユーザIDを横断的に検索したい場合は、GitHub のみ nickname で検索しないといけないはずですね。現状、rubyist-connect の GitHub アカウント検索機能は name で検索されている？

[2015-01-17 15:26] kanizmb commented on #167
@yuji-shimoda
担当は私でも、他の方でもかまいません。
他のファイルがすべてsassなので揃えたほうが良いと思っています。

[2015-01-17 16:38] kanizmb commented on #203
@yuji-shimoda
issueタイトルの「TOPページの説明を良く」は、「もっとユーザーにとってわかりやすく」だと思ったのですが違いますか？
このパーツは、未登録のユーザーにこのサイトが何のためにあるかの概要を素早く理解してもらうためにあります。当面のターゲットは日本人とのことでしたが、今回の変更でその機能が損なわれていないでしょうか。

文章を変更するのは賛成ですが、今の段階でここだけ英語にするのは方向が違うかな〜と思います :sweat_drops:

[2015-01-17 16:53] yuji-shimoda commented on #203
そうですねー、もともとはもっと良い言い回しにしたいという issue でした。
英語版の方がシンプルだったんですが、それを和訳してアップデートの方向で
行こうかなと思いました。いかがでしょうか？

[2015-01-17 16:55] kanizmb commented on #203
和訳した内容は何になりますか？

[2015-01-17 16:57] yuji-shimoda commented on #203
- Search 近くの Rubyist を
- Share あなたのプロフィールを
- Support 勉強会を

ですかね

[2015-01-17 17:03] kanizmb commented on #203
ひとまずOKかと思います〜。
入れてみたキャプチャをいただけますか？

[2015-01-17 17:32] #156 closed, assigned to yuji-shimoda

[2015-01-17 18:17] kanizmb commented on #167
やってみたんですが、単純に変換するだけではなぜかエラーが...

[2015-01-17 21:57] JunichiIto opened #213 "Kaminariのページャーに翻訳が当たっていない"
ネットを探せば日本語化の情報が見つかるはず。

![screen shot 2015-01-18 at 6 55 57](https://cloud.githubusercontent.com/assets/1148320/5790496/31f56032-9edf-11e4-8157-3b8581a0b0ff.png)

[2015-01-17 22:05] JunichiIto commented on #203
「xxのxxを」で並ぶと語呂がいいので「みんなの勉強会を」にしてみるのはどうでしょうか？

[2015-01-17 22:07] JunichiIto commented on #167
@kanizmb エラー画面のキャプチャやエラーメッセージのコピペを貼ってもらえるとアドバイスしやすくなると思います～。

[2015-01-17 22:25] #174 closed, assigned to yuji-shimoda

[2015-01-17 22:49] JunichiIto commented on #167
このサイトを使って変換してみました。

http://www.sasstoscss.com/

あと、拡張子もscss => sassに変更しています。

こちらの環境ではこれで動きました。試してみてください。

[2015-01-17 22:50] JunichiIto commented on #208
ここにマージします。

https://github.com/rubyist-connect/rubyist-connect/issues/148

[2015-01-17 22:50] #208 closed, assigned to nobody

[2015-01-17 22:50] JunichiIto commented on #148
参考：自分のデータは先頭に表示したい、というissueも挙げていました。

https://github.com/rubyist-connect/rubyist-connect/issues/208

[2015-01-17 22:51] #112 closed, assigned to yuji-shimoda

[2015-01-17 23:02] JunichiIto opened #215 "ユーザー名の吹き出しがかぶらないようにしたい"
gitterではこれでひとまずOKということになっていましたが、個人的には気になるので、もう少し上下の間隔を広げたいです。

![screen shot 2015-01-18 at 7 59 14](https://cloud.githubusercontent.com/assets/1148320/5790685/11b027f4-9ee8-11e4-88e5-953326c18832.png)

[2015-01-17 23:32] kanizmb commented on #215
上下をさらに空けるなら、あわせて左右も空けるほうが良いと思います。
吹き出しはあくまで補助機能なので、吹き出しが出ていない状態でバランスが取れていることを優先してください :dash:

[2015-01-17 23:42] kanizmb commented on #167
今改めてやり直してみたらうまくいきました〜 :sweat_smile:

ちなみに
- 変換サイトで変換したものはフォントが出ない
- 手入力で変換するとエラー

という状況でした。問題の原因は以下の通りです。

#### 変換サイト

http://css2sass.herokuapp.com/

[code]

であるべきところが、

[code]

となっていた。

#### 手入力時

src: の後ろにスペースが不足していた。

[code]

[2015-01-18 00:07] kanizmb commented on #167
新たに教えていただいた変換サイトでは上記問題は出ませんでした〜 :rocket:
http://www.sasstoscss.com/

[2015-01-18 00:08] #167 closed, assigned to kanizmb

[2015-01-18 00:28] yuji-shimoda commented on #203
伊藤さんの頂きます :+1:

[2015-01-18 00:32] yuji-shimoda commented on #203
![2015-01-18 9 31 22](https://cloud.githubusercontent.com/assets/2437500/5790932/e42ab3e6-9ef4-11e4-9e44-cad289b4db98.png)

[2015-01-18 02:01] kanizmb commented on #203
LGTMです:v:
テキスト修正だけなので、この内容で本番デプロイしてくださって構いません。

[2015-01-18 05:36] yuji-shimoda commented on #203
クローズしますー

[2015-01-18 05:36] #203 closed, assigned to nobody

[2015-01-18 05:41] yuji-shimoda commented on #138
海外の Rubyist が登録することも想定し、"outside japan" も追加する

[2015-01-18 07:22] JunichiIto commented on #215
なるほど、その観点はありませんでした。
勉強になります！

[2015-01-18 09:26] JunichiIto commented on #138
Qiitaになんかこんなgemの紹介が！！

世界の国とその地域名を入手する方法
http://qiita.com/Yoshi66/items/d62e0702638b15cde09d

もしかすると国際化もこれで事足りるかも？？

[2015-01-18 09:42] JunichiIto opened #219 "問い合わせ先のメールアドレスを用意する"
利用規約とかに問い合わせ先を表示する必要があるため。
受け取り人はとりあえず下田さんってことでいいかな？
問い合わせが増えてきたらチームで管理する方法を検討するということで。

でも独自ドメイン + Google appsとかにしたらお金がかかるのな？
そういう話だとちょっと微妙かなー。

[2015-01-18 09:48] JunichiIto commented on #219
まあ、最初はRubyistConnectの Twiiter IDとかでもいいのかなー。
いきなりお金かけてなくてもいい気がする。

[2015-01-18 10:00] JunichiIto commented on #56
@みんな 自分で利用規約作ったことある人はいますか？いたらヘルプ希望です。
本を読んだり、他のwebサービスの利用規約をチェックしたりしていますが、なかなか難しいな〜という感想です。
自分一人でやるよりも経験者の人を交えて作った方が効率や品質の面で得策な気がするので、協力者を募集する次第です。
よろしくお願いします！

[2015-01-18 12:45] yuji-shimoda commented on #219
zoho.com で独自ドメインのメアド、10個まで無料らしいので
ひとまず info@rubyist.co は取得済みですー。support@rubyist.co を作成して
問い合わせ窓口用のアドレスに利用しようかと考えていました。
なお、info@rubyist.co は Twitter アカウントの取得用に使っており、
普段利用している gmail.com に転送設定しています。
＃現状、ドメイン利用料金以外は無料で済んでいますー :+1:

[2015-01-18 12:53] yuji-shimoda commented on #138
heroku に demo app が公開されてました。
http://carmen-rails-demo.herokuapp.com/

都道府県は、日本語ロケールに変更しても漢字になりませんでしたが
そこだけ修正すれば大丈夫っぽいですね :+1:

[2015-01-18 13:04] yuji-shimoda commented on #138
ただし、github のリポジトリには、メンテナンスする余裕がないから
まともにしていないよと記載されていますね。
https://github.com/jim/carmen-rails

[2015-01-18 13:55] yuji-shimoda commented on #219
support@rubyist.co は、info@rubyist.co の mail alias で作成しておきました。
また、gmail への転送をやめて iPad mini で info@rubyist.co から送受信できる環境設定を実施済みです。

問い合わせ窓口は、support@rubyist.co でお願いします。
ユーザ宛に何らかの通知が必要であれば、info@rubyist.co でメール送信します。

[2015-01-18 13:55] #219 closed, assigned to nobody

[2015-01-18 14:52] springaki commented on #56
I will join. :+1:

[2015-01-18 22:42] JunichiIto commented on #56
@springaki @yuji-shimoda 手を挙げてくれてありがとう！！
話の内容的にオンラインのキャッチボールだと効率が悪そうなので、一回skypeミーティングか何か開きたいですね。
今週は東京出張があってちょっと忙しいので、来週のどこかで時間を取りたいと思います。

[2015-01-19 14:30] yuji-shimoda commented on #138
carmen-rails で、デフォルトを英語ロケールに変更し、country_code を User model に save 出来るところまでは出来たんですが country_code から subregion_select を呼び出す方法がわからず悩んでいます :sweat:

[2015-01-20 13:31] yuji-shimoda opened #220 "自己紹介文章の１行目で、h1 や h2 タグを使うとリスト表示の際にすごく目立つ"
リスト表示の際に、文字のサイズがバラバラに表示されると統一感が無くなります。
もし、h タグを利用されていたとしても、文字サイズを統一して表示したい。
＃目立ちたい人には良い機能かもしれませんが、、、

[2015-01-21 23:32] JunichiIto commented on #138
デモサイトを見てみました。
Rubyist Connectの使用目的にかなり合致しているので活用してみたいですね－。
ただ、ちょっと時間がないので今は下田さんのお手伝いはできないかも。。
最悪、勉強会当日に誰かに手伝ってもらう感じになるかな～。

[2015-01-21 23:33] JunichiIto commented on #138
もしくは作成途中のブランチをGitHubにpushしてもらったら、他の人がそこからpullして続きを手伝えるかな？
どこでどう困っているのかはコードと画面の動きを見てみないと何とも言えないので。

[2015-01-22 00:28] t-oginogin commented on #138
週末なら手伝えるのでブランチあげといてもらえるとうれしいです。

[2015-01-22 13:25] yuji-shimoda commented on #138
@JunichiIto @t-oginogin リプライありがとうございますー。週末まで頑張ってみて、出来ても出来なくてもひとまず自分のローカルリポジトリに commit します！

[2015-01-22 13:57] yuji-shimoda commented on #138
ひとまず、User モデルに country_code と、state_code を save 出来るようにはなりました。が、rspec が修正出来ていないので users_spec でこけます :sweat:
綺麗に表示出来ていないので、デザイン部分も修正が必要です。
現状のコードを、自分のローカルブランチに commit しておきます。

[2015-01-22 14:04] yuji-shimoda commented on #138
修正ファイルの一覧は、以下です。
https://github.com/yuji-shimoda/rubyist-connect/commit/0219ee8bb6a296e2e49d65fcf4c8d0d09e9690de

[2015-01-22 14:06] yuji-shimoda commented on #138
![2015-01-22 11 04 58](https://cloud.githubusercontent.com/assets/2437500/5856978/2c74a5dc-a28b-11e4-971a-c74d76e618bf.png)
キャプチャは、こんな感じです。

[2015-01-23 03:29] t-oginogin commented on #138
コードを見ての予想ですが、subregion_selectに渡すcountry_codeをどうやって渡すか？の部分で悩んでいたということでしょうか？
そしてf.object.country_codeという形で入力値を取得できることがわかって解決したということでしょうか？（このやり方は知りませんでした！）

[2015-01-23 13:14] yuji-shimoda commented on #138
いえ、お恥ずかしい話ですが以下のセットアップガイドをコピペしてたのが
原因でした。
https://github.com/jim/carmen-demo-app#readme
erb のコードを slim に変換して、そのまま利用していたんですが
モデル名の order と書いてあるところをそのまま利用していたせいで
User モデルに save 出来ていませんでした。 :sweat:

[2015-01-26 03:50] JunichiIto commented on #56
[参考情報] Qiitaで利用停止になったユーザーさんがいるみたい。

http://blog.qiita.com/post/109162836004/qiita

利用規約を作っておかないとこういうケースで困る、って買った本にも書いてありました。

[2015-01-26 08:49] t-oginogin commented on #56
この本良さそうですね！
しかも電子版もKindle版もある！
http://www.amazon.co.jp/o/ASIN/B00K2RFJK2/gihyojp-22

[2015-01-26 08:55] JunichiIto commented on #56
はい、いい本だと思います。
このあたりの知識がほとんどなかったので、どこを読んでも「へ～、そうだったのか」という感じでした。

ただ、これさえ読めばスラスラ利用規約が書けるのかというと、それはまた別問題。。。
プログラミングの勉強と同じで、自分の事例に当てはめてゼロからイチを生み出すのは本を読むだけでは難しいですね～。

[2015-02-01 07:53] t-oginogin opened #221 "Event登録時のメンバー一覧に各個人のアイコンを表示する"
文字だけだと対象者を選びにくかったので

[2015-02-01 08:12] t-oginogin opened #222 "一覧ページの表示をグループ化したい"
カテゴリを選択してグループ表示できると嬉しい
例えば
・登録時期
・地域
・Ruby歴
・得意分野
など

[2015-02-01 23:25] JunichiIto opened #223 "ユーザーがプロフィールを公開したらRCのTwitterやFacebookページでアナウンスする"
でもユーザーに合意を取らないと嫌がられるかな？？

最初は手動運用とかでも良いかもしれない。

[2015-02-01 23:40] t-oginogin commented on #223
Qiitaみたいに、ｘｘに公開するチェックボックスついてたらアナウンスするでもいいかも。

[2015-02-02 03:12] yuji-shimoda commented on #222
まずは、地域別で表示出来るようにしたいですね。

[2015-02-02 03:16] yuji-shimoda commented on #221
アイコンあった方が探しやすくなる気がしますが、アルファベット順で綺麗に並べたり、地域を指定してリスト表示させる（不動産サイトのイメージ）などの工夫があれば、もう少し探しやすくなるのかなと思いました。

[2015-02-02 12:16] t-oginogin opened #224 "勉強会の時の昼食や懇親会の出欠予定も取れるといい"
1イベントと考えるとそれぞれ作っても良いです。
あるいはイベントにサブイベントを登録できるようにするのもあり？

[2015-02-02 20:51] JunichiIto commented on #224
確かにあると便利そうですが、READMEにある「このアプリでやらないこと = 他のSNSサービスなどで代替出来る機能の提供」に該当しそうな気もしたりしなかったり。。。

あと、参加者全員がRCに登録してくれていることも前提条件になりますね。

[2015-02-03 00:08] yuji-shimoda commented on #224
#62 で代替出来そうな気がします。
イベント運営側の作業負担を軽くするという目的であれば、参加者をカウントする機能があると便利ですね！＃例えば、昼食会？名、懇親会？名などなど

[2015-02-04 16:14] yuji-shimoda opened #225 "イベントのユーザー一覧は、アイコンと名前のみにし見通しを良くしたい"
勉強会での自己紹介時に利用するページなので、できれば一画面に収まるように変更した方が良いと感じた。詳細は、user#show で見るので

[2015-02-04 19:44] JunichiIto commented on #225
https://github.com/rubyist-connect/rubyist-connect/issues/148 とかぶりそうですね。
別々のデザインを採用するのかどうか？？さしあたっては同じでも良さそうな気がしますが。

[2015-02-05 11:56] yuji-shimoda commented on #225
#148 を実装してから、考えた方が良さそうですね。ひとまず、クローズしておきます。

[2015-02-05 11:56] #225 closed, assigned to nobody

[2015-02-07 08:50] t-oginogin commented on #224
#62で十分な気がするのでこちらはクローズしておきます。
集計機能はあってもよさそうですね。

[2015-02-07 08:50] #224 closed, assigned to nobody

[2015-02-08 01:17] kanizmb commented on #187
いろいろ考えてみたのですが、この件私は実質アイコンサイトでの変換しかやっていないので、このアイコン配布はrubyist-connect名義でやるのが適当だと思います。
お手数ですがどなたかこのorgでの公開をお願いします〜。

[2015-02-08 01:40] taiyop opened #228 "ヘッダーアイコンに文言もつけたい"
見ただけで何をするアイコンなのかはっきりわからないから。

それぞれにホーム、イベント、設定、ログアウトの文言が欲しい

![image](https://cloud.githubusercontent.com/assets/1048048/6094802/8d3aa1d2-af7e-11e4-95a3-50a7d762659a.png)

[2015-02-08 02:42] yuji-shimoda commented on #62
保留

[2015-02-08 03:04] JunichiIto commented on #148
マークダウンは無効にしてプレーンテキストとして表示する、という意見も出ています。

[2015-02-08 03:54] toshima66 commented on #126
チーム: Bです。

**原因**
本番データの nickname に t_oginogin のデータが入っていたために発生していました。
おそらく、nickname カラムが追加されたタイミングなどでデータの不整合が発生していたのではないかと思われる。詳細は闇。。

**対応**
本番データの修正を行っていただき。対応完了としました。
なお、他のデータは問題なしだったようでした。

[2015-02-08 04:19] tanaka-yoshi10 opened #229 "User Searchで「_」(アンダースコア)が任意の一文字として扱われてしまう"
User Searchで「_」(アンダースコア)が任意の一文字として扱われてしまい、
意図した検索結果にならない。

SQLのLIKE文の中ではアンダースコアはワイルドカード(任意の一文字)として扱われる。
Ransackのbug?
あやしいのはここ
https://github.com/activerecord-hackery/ransack/blob/f4d7f6e0f547aae5f92f739214115dffb296926b/lib/ransack/adapters/active_record/ransack/constants.rb

[code]

[2015-02-08 04:42] Koichi-Kobayashi commented on #191
ログイン直後のヘッダメニューだけっぽいんですけど、
イベントとかの右上のアイコンにマウスを乗せたら、
"Rubyist Connect”の文字が細くなるんですけど。。。
イベントの一覧画面では太いままです。

[2015-02-08 04:46] JunichiIto commented on #191
@Koichi-Kobayashi 再現方法がわからなかったので、スクリーンショット付きで教えてください。

[2015-02-08 04:50] taiyop opened #232 "イベントの参加者が感想ブログのリンクを載せられるようにしたい"
イベント参加者がお互いの感想ブログを見つけやすくするため。

[2015-02-08 04:50] yuji-shimoda commented on #126
対応ありがとうございます。

[2015-02-08 04:50] #126 closed, assigned to nobody

[2015-02-08 04:52] Koichi-Kobayashi commented on #191
![2015-02-08 13 50 09](https://cloud.githubusercontent.com/assets/2451210/6095313/90fb581e-af99-11e4-9d84-ce5ce7946a6a.png)
↑
ログイン直後

[2015-02-08 04:56] Koichi-Kobayashi commented on #191
![2015-02-08 13 50 44](https://cloud.githubusercontent.com/assets/2451210/6095318/d4f1e45c-af99-11e4-94c3-1dde1e030f46.png)

↑
ログイン直後の画面でマウスを右上のアイコンに乗せた瞬間
吹き出しが出るログイン直後画面のみだけ細くなります。
（イベント一覧に行って、ホームのアイコンで戻ってくるともう吹き出しも出ないという・・・別issueかなー。）

再現するブラウザ：Safari、Sleipnir
再現しないブラウザ；Chrome、Firefox

[2015-02-08 05:00] Koichi-Kobayashi commented on #191
右上のアイコンの吹き出しがログイン直後しか出ない件は、
吹き出しが綺麗な吹き出しじゃなくなっているという意味です。
再現するブラウザ：Safari、Sleipnir、Chrome、Firefox

![2015-02-08 13 58 26](https://cloud.githubusercontent.com/assets/2451210/6095338/9f6a1c22-af9a-11e4-87e2-db972236a398.png)

[2015-02-08 05:00] Koichi-Kobayashi commented on #191
あ、キャプチャ撮れなかった・・・

[2015-02-08 05:07] JunichiIto opened #233 "最新のユーザー一覧だと、自分のプロフィール詳細ページを表示できない"
画像をクリックしたら自分の詳細ページを表示できるようにする

[2015-02-08 05:10] Koichi-Kobayashi commented on #191
アイコンの吹き出しの件は #144 で対応とのことですが、
トップ（ログイン直後）のみだったのかな？

[2015-02-08 05:11] hilohiro commented on #191
再現しました。トップページ以外でもリロードするとJSで作られた黒い背景のツールチップが出ますが、ページ遷移すると表示されずブラウザの普通のツールチップが表示されます。

[2015-02-08 05:12] JunichiIto opened #234 "イベントページのデザインが崩れている"

[2015-02-08 05:14] Koichi-Kobayashi commented on #191
おお！リロードすればイケてるツールチップになったｗ

[2015-02-08 05:17] JunichiIto opened #235 "ユーザー一覧の自己紹介はプレーンテキストで表示する + ある程度の長さで切る"
- h1タグとかだと表示しきれない。
- 今はCSSでちょん切っているので、 Rails側で"..."とかにする => CSSで頑張ってもよいです

[2015-02-08 05:17] youcune opened #236 "画面の幅が狭いときのデザインが考慮されていない"
- 幅が狭いと、一番上のボタンが見えなくなります
- ページャーがプロフィールの右に回り込みます
  ![2015-02-08 14 15 29](https://cloud.githubusercontent.com/assets/2869221/6095370/2cac5b5c-af9d-11e4-9199-24ca176da4de.png)

[2015-02-08 05:20] JunichiIto commented on #236
https://github.com/rubyist-connect/rubyist-connect/pull/226 => 「リキッドレイアウトに対応するか固定レイアウトに変更する」と同じ内容？

[2015-02-08 05:27] #172 closed, assigned to nobody

[2015-02-08 05:41] youcune commented on #236
1点目については違います。
2点目についても @kanizmb さんの「リキッドレイアウトに対応するか固定レイアウトに変更する」を対応すると見た目上修正されるかもしれませんが、ページャーの要素に `clear` を入れておくべきだと思います。

[2015-02-08 06:01] JunichiIto commented on #56
個人レベル（？）でやってそうなwebサービスの利用規約をいくつか集めてみました。
- http://photoll.jp/termshttp://photoll.jp/terms
- http://flyteam.jp/docs/terms
- http://saifu.me/terms
- http://www.shot-idea.com/terms
- http://matomeweb.net/rules.php

[2015-02-08 06:18] hilohiro commented on #191
リンク遷移したときはtooltip()の設定コードが呼び出されてませんね。
turbolinksとかが悪さしてるんでしょうか。

[2015-02-08 06:20] hilohiro commented on #191
これっぽいですね。
http://stackoverflow.com/questions/18760842/twitter-bootstrap-tooltip-popover-display-issues

[2015-02-08 06:32] hilohiro commented on #235
新しいデザインで2行になってましたがそれだとCSSで…にするのは難しそうです。
とりあえず手元で試して失敗しました。

[2015-02-08 06:37] tanaka-yoshi10 commented on #134
実はこのアラート不要ではないでしょうか。
Twitter,Facebookもログアウト時に特に表示はしていないようです。

トップページにアラートを出すシーンがログアウトの他にないのであれば、
アラートを消すというのはどうでしょうか。

[2015-02-08 06:40] JunichiIto commented on #134
@tanaka-yoshi10 ログイン失敗時にアラートを表示したりする可能性もあるので、やはり表示場所は直しておきたいです。

[2015-02-08 06:48] toshima66 commented on #134
@JunichiIto かぶってしまいますが。こんな感じでどうでしょうか？

![development rubyist connect-1](https://cloud.githubusercontent.com/assets/904191/6095658/73425b6e-afa9-11e4-9d6a-9f5af39765d1.png)

[2015-02-08 07:01] t-oginogin opened #240 "イベント作成/編集ページのユーザー一覧を複数列表示にする"
# 221でユーザー一覧を一旦1列にしたので、複数列に対応させる

[2015-02-08 07:03] hilohiro commented on #236
1点目についてですが、実際には対応されているようで、ページの右上部分をクリックするとメニューが降りてきます。
[三]みたいなUIが用意されているのですが、色紙設定のため見えていないようです。

[2015-02-08 07:04] hilohiro commented on #236
2点目については @youcune さんが仰る通り、`clear`を入れればいいと思います。
clearfixにするのとどっちがいいでしょう。今回だと直接`clear`でもいいようには思いますが。

[2015-02-08 07:19] youcune commented on #196
`user_omniauth_authorize_path(:github, test: 'AAA')`

で渡したパラメータを Callback 後、以下で受け取れます。

`request.env['omniauth.params']`

参考
http://stackoverflow.com/questions/6657727/devise-omniauth-how-to-pass-extra-parameters-along

[2015-02-08 14:49] #71 closed, assigned to nayutaya

[2015-02-08 15:28] murajun1978 commented on #229
issueを見返してみるとこんな感じでした
1. Non-SQLではアンダースコアをエスケープする必要ないでしょ！と言い出す
2. アンダースコアのエスケープ外す
3. いやいや、MySQLとPostgresSQLはいるでしょ
4. そして、アンダースコアを付け忘れたっぽい。。。

[#171 breaks searching for values with underscores](https://github.com/activerecord-hackery/ransack/issues/176)

[2015-02-08 22:12] yuji-shimoda opened #246 "モバイルブラウザ？(iPad mini の safari)でトップページを見ると赤い画像がズレて表示されている"
右側にスペースが空いてる状態

[2015-02-09 01:14] youcune commented on #236
:+1:

[2015-02-09 01:14] #236 closed, assigned to nobody

[2015-02-09 03:49] springaki commented on #229
@murajun1978 ありがとうございます。同じ所にたどり着きましたw

https://github.com/activerecord-hackery/ransack/releases/tag/v1.6.3 で直ってるハズなので `bundle update`して解決って事ですねー。

[2015-02-19 14:02] yuji-shimoda opened #248 "ユーザ一覧のユーザ表示を bootstrap card 表示にしたい"
#226 でも言及されていましたが、丸アイコンの方が個人的には好みなので変更したいです。

[2015-02-19 14:03] yuji-shimoda commented on #248
![2015-02-19 11 03 21](https://cloud.githubusercontent.com/assets/2437500/6267892/8a69ced6-b88b-11e4-8d39-31623d2544f3.png)

[2015-02-19 14:06] yuji-shimoda commented on #248
イベントのユーザ一覧も、アイコンが四角になってますね。

[2015-02-20 00:45] JunichiIto commented on #248
イベントページはそもそもスタイルが崩れちゃってたような気が。

丸アイコンにするのはよいと思います！

[2015-02-20 06:22] Koichi-Kobayashi opened #249 "登録しているユーザー数を表示したい"
参考例
https://pplog.net/
このサイトの下の方にある犬の足跡みたいな画像に登録ユーザ数が表示されているイメージ。
画像はRubyのマークが良いとの意見。

[2015-02-25 07:51] yuji-shimoda commented on #187
すっかり忘れていましたが、そろそろ着手しないといけませんね。
rubyist-connect 名義で、Qiita-icon リポジトリを作れば良いのでしょうか？

[2015-02-25 10:02] JunichiIto commented on #187
@yuji-shimoda はい、そんな感じにしましょうかね～。ちなみにリポジトリ名は全部小文字の方が良い気がします。（慣習的に）

[2015-02-25 13:13] yuji-shimoda commented on #187
@JunichiIto qiita-icon にします？

[2015-02-25 20:31] JunichiIto commented on #187
@yuji-shimoda はい、それでいいと思います。

[2015-02-27 11:39] yuji-shimoda commented on #187
https://github.com/rubyist-connect/qiita-icon リポジトリを作成し、zip ファイルの中身を commit しました。問題あれば、ご指摘ください。

[2015-03-02 02:10] JunichiIto commented on #187
@yuji-shimoda ありがとうございます！いったんこのissueはクローズしておきます～。

[2015-03-02 02:10] #187 closed, assigned to yuji-shimoda

[2015-04-02 00:00] JunichiIto opened #250 "Herokuの新料金体系に対応する"
正式発表はされていませんが、Herokuの料金設定が変わるようです。

http://www.octolabs.com/blogs/octoblog/2015/03/31/analysis-of-the-rumored-heroku-pricing-changes/

Free tier : Will be limited to 1 web dyno and 1 worker dyno, will sleep after 1 hour of inactivity, can be active for up to 12 hours a day, and can not support custom domains. Dynos have 512 MB RAM.

Free
- 使用できるのは1 web dynoと1 worker dynoまで
- 1時間動きがないとスリープする
- 1日で使

[2015-04-02 00:11] yuji-shimoda commented on #250
元々は、私の小遣いで賄えるような趣味のプロジェクトなので、
VPS などを検討したいと考えています。
＃コスパや条件的には、VPS の方が断然良さそうですね

[2015-04-02 04:42] JunichiIto commented on #250
そうですね、VPS移行とかでもいいかもしれません。（VPSは使ったことがないのでよくわからないけど。。）

[2015-05-12 02:19] yuji-shimoda commented on #250
公式のブログによると、Free Dyno は1日 18時間まで
カスタムドメインは、許可されているように見えます。
https://blog.heroku.com/archives/2015/5/7/heroku-free-dynos

現状維持でも問題は、無さそうですね。＃どうしようかな、、、

[2015-05-12 07:01] JunichiIto commented on #250
問題を整理すると
- 現状 = 数秒おきにpingを飛ばしてdynoが眠らないようにしている
- 今は無料で済んでいるが新料金体系だと費用が発生してしまう
- 無料のままにしたいならpingを止める
- pingを止めると一定時間アクセスがないとdynoが眠る
- dynoが眠ると、時間を空けてアクセスされたときに10秒ぐらい待たされる（初回アクセスのみ）
- 体感的にはかなり遅いので「このサイト遅いな～。もういいや」って立ち去る人が出てきそう

という感じです。
とはいえ、今のサイトの運用状況ならpingを止めて初回アクセスの遅さを許容する、っていう判断でも良さそうな気がしますね。

[2015-05-12 07:07] yuji-shimoda commented on #250
例えば、ping で Dyno プロセスを叩き起こすようにしている処理を、
AM 8:00 から AM 2:00 (18H) 程度に変更する（スケジューリング）ことは
出来ないでしょうか？

[2015-05-12 07:11] yuji-shimoda commented on #250
現状、利用しているツール(サービス？)で無理ならば
自宅で Raspberry Pi 動かして cron か何かで定期的に
HTTP アクセスするようにすれば良いかな？と
安易に考えてました。

[2015-05-12 07:37] yuji-shimoda commented on #250
以下の、New Relic の Pingers という機能でしょうか？
https://docs.newrelic.com/docs/alerts/alert-policies/downtime-alerts/availability-monitoring#pingers

[2015-05-13 02:03] JunichiIto commented on #250
はい、そうです。

[2015-05-13 02:08] JunichiIto commented on #250
そうですね～、まあそうやってもいいとは思いますが、「時間を空けてアクセスされたときに10秒ぐらい待たされる（初回アクセスのみ）」っていう問題をどれくらい深刻に捉えるかに依りますね。

「ちょっと嫌だけど許容する」という判断をすれば、New Relicのpingを停止する、っていうアクションだけで終わります。

「許容できない」とか「個人的な趣味でRas Piを使ってみたい」というのであれば、やってみるのも手だとは思いますが。

ちなみに僕は許容してもいいかな～という考えです。

[2015-05-13 05:25] JunichiIto commented on #250
了解です。じゃあこの件は対応不要（pingだけ止める）っていうことで。
agreeならissueのcloseをお願いします。

新料金になったらpingを止めるアクションが必要ですね。（いつ始まるんだろう？）

[2015-05-13 06:34] yuji-shimoda commented on #250
公式の Blog に記載のとおり、来月から適用されると思われます。
https://blog.heroku.com/archives/2015/5/7/new-dyno-types-public-beta
We believe these new dynos and pricing provide you a better set of choices when it comes to building and deploying apps. We plan to make these prices generally available next month, in June 2015. All new apps created as of that date will be on the new pricing.
＃忘れないように、今月中に ping は止めておきます。

[2015-05-13 06:34] #250 closed, assigned to nobody

[2015-05-13 19:58] JunichiIto commented on #221
対応済みなのでcloseします。

[2015-05-13 19:58] #221 closed, assigned to nobody

[2015-05-13 20:07] JunichiIto commented on #234
対応しました。

[2015-05-13 20:07] #234 closed, assigned to nobody

[2015-05-14 10:43] yuji-shimoda opened #254 "イベントページで、ユーザをランダムに表示するボタンが欲しい"
- 重複せずランダムに、ユーザを一巡表示する機能が欲しい（自己紹介の順番を考えるのが面倒）
- ボタンをクリックするだけで、次に自己紹介するユーザが表示される機能が欲しい（自己紹介時のブラウザ操作の負担を取り除きたい）

[2015-05-15 21:08] JunichiIto commented on #254
二つ目の件はよくわかります。「次のユーザ」「前のユーザ」みたいなリンクがあれば良さそうですね。

一つ目の方はどうなんだろう。。。ランダムに、っていうところがこだわるポイントなのかどうか。

たとえば[テストコード相談会の参加者一覧](http://rubyist.co/nnect/events/3)であれば、ここで表示されている順番（伊藤、荻、otokunaga...Shimoda）に表示できればそれでいいのかなーと思ったりします。

[2015-05-16 00:09] JunichiIto commented on #254
こんな感じでリンクを表示させてみました。

http://rubyist.co/nnect/events/3/users/yuji-shimoda

[2015-05-16 13:32] yuji-shimoda commented on #254
対応ありがとうございました。
今日の勉強会で自己紹介が、凄くスムーズに流れていたのを観れて
自己紹介の進行をサポートする機能としての完成度は、身内で使う分には十分と思いました。

表示の順序が、ランダムでなくても機能的には困らないので一旦クローズにします。
＃毎回ランダムに順序表示され、固定されていない方が公平かなと思った次第

[2015-05-16 13:32] #254 closed, assigned to nobody

[2015-05-16 13:53] yuji-shimoda opened #256 "ユーザの一覧表示画面で、名前が長いユーザは自己紹介文章が読めなくなる"
YuZakuro さんの表示で気付きました。

[2015-05-16 21:53] JunichiIto commented on #73
参考情報です。

[カニさんの教えてくれたリンク](https://gist.github.com/eiel/6899547)を参考にしてDoorkeeperのAPIを叩いてみましたが、やっぱり参加者一覧は取れないようです。（人数しか出てこない）

### サンプルコード

[code]

### 実行結果

[code]

[2015-05-17 08:31] JunichiIto opened #259 "イベントページの参加者をDoorkeeperから取得する"
https://github.com/rubyist-connect/rubyist-connect/issues/73 と関連。
## 仕様案
1. イベント編集画面を開く（新規、編集、どちらでもOK）
2. URL欄にDoorkeeperのURL( https://nishiwaki-koberb.doorkeeper.jp/events/24544 とか)を貼り付ける
3. 「Doorkeeperから情報を取得」ボタンが有効になる（空欄やDoorkeeperのイベントページ以外のURLの場合は無効状態）
4. 「Doorkeeperから情報を取得」ボタンをクリックする
5. Doorkeeperの情報がフォームに反映される
   -  Doorkeeperから情報を取得してマッチする参加者にチェックを付ける
   - イベント名も入力される
   - イベント開催日（項目を追加する）

[2015-05-17 08:32] JunichiIto commented on #259
APIメソッドは現在開発中。

https://github.com/rubyist-connect/rubyist-connect/pull/258

[2015-05-17 20:27] JunichiIto opened #262 "プロフィール編集時に退会ボタンが目立ちすぎる"
プロフィールを編集する際、退会ボタンがすぐ押せる場所にあって、更新ボタンが画面の下の方にあるので、間違って退会ボタンをクリックしそうになる。

[2015-05-17 22:30] yuji-shimoda commented on #262
github の Danger Zone みたいに、間違ってリポジトリを削除することの無いような？
UIに変更した方が良いかもしれませんね。

[2015-05-18 00:12] JunichiIto opened #264 "イベント編集画面に現在選択中の人数を表示する"
参加者が多いと、全員選択できているのかどうかぱっとわからない。
選択中の人数（チェックボックスがONの件数）がわかれば、過不足がすぐに把握できる。

[2015-05-18 00:14] JunichiIto opened #265 "イベント詳細画面に参加人数を表示する"
Rubyist Connect上で何人の参加者がイベントページに登録されているか確認できると、過不足なく参加者を追加できているかどうか把握しやすい。

[2015-05-19 04:01] JunichiIto opened #267 "httpのDoorkeeper URLでもDoorkeeper Syncボタンがクリックできるようにする"
httpsしか考慮してなかった。

[2015-05-19 04:03] yuji-shimoda commented on #148
自分のデータは、上部右側に小さく表示しユーザ一覧の表示数を増やした方が良い気がしてきました。

[2015-05-19 04:06] yuji-shimoda opened #268 "イベント一覧ページにデザインを適用する"
イベント一覧のページは、少し味気ないので doorkeeper のイメージ画像を小さく表示したり見栄えを良くしたい。ユーザ一覧のページみたいに複数列で表示する感じ？（doorkeeper のサイトみたいな感じのイメージ）

[2015-05-19 19:03] JunichiIto commented on #267
Fixed.
https://github.com/rubyist-connect/rubyist-connect/commit/1203bbd354ab52f0bc8e9239781cb3f16fc9e80e

[2015-05-19 19:03] #267 closed, assigned to nobody

[2015-05-19 19:29] JunichiIto opened #269 "データ編集画面でリターンキー＝サブミットになるのを避けたい"
検索画面なら「リターン = 検索実行」でもいいけど、編集系の画面だと意図せず変更内容が確定してしまう。

[2015-05-19 19:30] JunichiIto commented on #267
バグってたw

https://github.com/rubyist-connect/rubyist-connect/commit/f3900abcb1ae0784e8563775a65268c1ebeb89ea

[2015-05-21 01:59] yuji-shimoda commented on #186
Rubyist Connect の Slack Team をテスト的に、作成してみても良いかなと考えています。
開発サイドは、gitter があるので困りませんが Rubyist Connect サービスの１ユーザとして利用する
ユーザサイドの視点に立ってみると、気軽にメッセージをやりとり出来る場があっても
いいかなという考え方です。以前、寺田さんに Rubyist Connect の登録ユーザ全員にリーチする
機能ありましたっけ？って言われて考えていました。いかがでしょうか？

[2015-05-21 10:02] JunichiIto opened #270 "WikiにPhantom.jsのインストールを追加する"
Poltergeistを使うのでPhantom.jsのインストールが必要。

[2015-05-21 10:09] JunichiIto commented on #186
参考までに、チャットができるようなサービスを作るのは許可がいるみたいですよ。

[ユーザ間でチャットできるWEBサービスの立ち上げで注意すべき法律【電気通信事業法】](http://blogs.itmedia.co.jp/itbengoshi/2015/04/web.html)

なので、少なくともRubyist Connectの中でそういう機能を作るのは避けた方がいいと思います。

[2015-05-22 02:26] yuji-shimoda commented on #186
コメントありがとうございます。

Rubyist Connect 内にチャット機能は作らず、外部のチャットサービスへ誘導すれば問題無いですよね？試しに Rubyist Connect の Slack Team を作成してみました。

https://rubyist-connect.slack.com/

メールアドレスでユーザを招待する必要があるのですが、GitHub 連携時に取得した
Eメールアドレス宛てに invite するのはまずいのかな？最初は、身内だけ招待すれば良いですかね？

[2015-05-22 09:55] JunichiIto commented on #186
外部サービスへの誘導は大丈夫そうですね。

そうですね。背景がわかっている人だけに送信した方がいいと思います。

P.S.
実はSlackって名前は知ってるけど使ったことはない・・・。

[2015-05-22 10:51] springaki commented on #186
もう作ってもらっちゃったのでコメントの出遅れ感がありますが...

ユーザグループとかコミュティのようなものを作りたいのであれば、(invite や 承認が必要な)close team 運用がベースの slack よりは 自分で Join 可能な IRC とか idobata とかの方がより向いてるんじゃないかなーと思いました。

[2015-05-22 12:57] yuji-shimoda commented on #186
これ（IRCとか idobata）は、Rubyist Connect に join していないユーザも参加可能になってしまいますか？

[2015-05-23 02:40] springaki commented on #186
@yuji-shimoda
設定で切り替え可能だったような。ちょっとハッキリ覚えてないですね。誰でもjoinして欲しいわけではないんですか？
たとえば、ここにアクセスできますか？
general
https://idobata.io/#/organization/rubyist-connect/room/general

もしくは
random
https://idobata.io/organizations/rubyist-connect/rooms/ramdom/join_request/7dbd880e-247a-4b12-8607-1f392b35cd74

[2015-05-23 02:50] yuji-shimoda commented on #186
アカウント作成すれば、ゲストでログイン出来るみたいですね。どこまで利用されるか想定していないので、オープンな場が良いのかクローズな場が良いのか判断が難しいところ

[2015-05-23 04:50] springaki commented on #186
general の方には入れていますか？ (なにも設定してないので入れない想定)
random の方には入られているのは確認しました ! (guest urlを付けたので入れる想定)

もう一度改めて確認したいのですが、どのような状態を作りたいんでしたっけ？
"ユーザ同士が気軽にメッセージをやりとり出来る場" ですか？

それなら 「rubyist connect 使ってる人たちのコミュニティってどんなのかなー？」と潜在ユーザが様子を見られるようにするのもアリかもしれません。サービス登録した人のみに制限したいのであれば(その理由は何故か聞きたいケド...)  rubyist connect の中に guest login url を貼っておいてサービス登録した人だけログインできるようにする。などの運用の仕方が考えられますね。

[2015-05-23 05:09] yuji-shimoda commented on #186
general の方は、入室出来ませんでした。

この Issue での要望は、以下であるとの理解です。
- 気軽にメッセージをやりとり出来る （荻さんの要望）
- できれば、Rubyist Connect 登録ユーザ全員にリーチしたい（寺田さんの要望）

slack / idobata どちらでも、上記の項目は満たせると考えています。（合ってます？）
個人的には、Rubyist Connect をコミュニティと捉えるか、サービスとして捉えるかで
利用するチャットサービスが変わってくるのでは？と思っています。

現状、Rubyist Connect に登録しているユーザを確認するには
GitHub アカウントで認証して貰って（join して貰って）ログインすることを
前提としたサービスなので slack の方が合ってるかなぁと思いました。

ただ、Aki さんが言うように Rubyist

[2015-05-23 05:30] springaki commented on #186
の "気軽に" が測定不能なんですが メッセージのやり取りはできるので、これは満たせそう。
@t-oginogin idobata, slack, youroom のどれでも誘導できればこの要求は満たせますよね？

これは ユーザが全員明示的にチャットサービスにログインしないと不可能なので、本当に登録ユーザ全員にリーチしたいのであればどちらも達成できなさそう。

※ (Rubyist Connect 登録ユーザ全員にリーチしたい理由が書かれていればもうちょっと別の手を考えられそうです )
※※ (実は理由を知ってるからすごく意地悪な質問かもしれませんが、あの時の話を聞いているのは私と下田さんだけだったから、こういうOpenな場所では他の人にも意図が伝わるような方法で書くのが良さそう。たしかリクルーティングしたい的な内容でしたっけ？) ごめんね、めんどくさいこと書いてw :smile:

(

[2015-05-23 05:45] yuji-shimoda commented on #186
はい、ご認識のとおりです。

どのサービスを利用しても、ここが一番面倒ですよね。
slack の invite を Rubyist Connect のサービス内にボタンを設けて、
クリックしたらメールが届くように出来たらいいなぁとか考えてました。
https://github.com/outsideris/slack-invite-automation

できれば、全自動にしたいですよねー

youroom でも全然良くて、ダメな理由は特にありませんね。

[2015-05-23 06:00] yuji-shimoda commented on #148
![2015-05-23 15 00 03](https://cloud.githubusercontent.com/assets/2437500/7782642/79ae5bc4-015c-11e5-8dd1-043d4352ffb2.png)

[2015-05-23 06:03] yuji-shimoda commented on #148
ユーザ一の表示数を増やすより、スクロールせずに１画面で収まったほうが良いかなと思い
変更してみました。いかがでしょうか？

[2015-05-23 23:13] JunichiIto commented on #186
Akiさんの話とかぶるかもしれないけど、そもそもRubyist Connectのユーザーで「他のメンバーと気軽にやりとりしたい」って考えている人がどれくらいいるのかなーと思いました。

少なくとも僕は一度も会ったことがない人にオンライン上でいきなりやりとりしようとは思わないですね。。。

もちろん「試験的にやってみる」というのであれば止める理由はないんですが。

ただ、Rubyist Connectのメンバー全員に「気軽にやりとりしてもらいたい」と思っているのであれば、なんとなくまだ時期尚早な気がしています。（僕らと全く面識のない人から機能リクエストが来たりしたらニーズがある証拠かもしれませんが）

[2015-05-23 23:22] JunichiIto commented on #148
基本的に悪くないと思います。

細かい点でいうと、[StackOverflowのユーザー一覧](http://ja.stackoverflow.com/users)を参考にしたらもっと良いかなと思いました。
- 自分のアイコンは検索ボックスの左に移動する（ログアウトボタンは一番右の方が落ち着く）
- 「メンバー一覧」のような見出しがないと、何の情報を一覧表示しているのかわかりづらい。

![screen shot 2015-05-24 at 8 18 05](https://cloud.githubusercontent.com/assets/1148320/7786058/dfd3e158-01ed-11e5-84b8-1f34280acca1.png)

[2015-05-23 23:24] JunichiIto opened #271 "ページネーションで"Truncate"の文字が表示されている"
翻訳が当たってないのがたぶん原因。
通常は "..." のように表示されているのでは？

![screen shot 2015-05-24 at 8 23 36](https://cloud.githubusercontent.com/assets/1148320/7786069/56a0d3b8-01ee-11e5-873b-84e137b9ab14.png)

[2015-05-25 00:28] yuji-shimoda commented on #186
この意見は、一理ありですね。
各SNSアカウントすら登録していない人が、
チャットルームに join するとは思えませんし。
ひとまず、Twitter や Facebook ページもあるので知らない人から
何かしらの要望が届くようなサービスに成長してから考えた方が
現実的かもしれません。

＃一旦、再クローズでもいいかな

[2015-05-25 00:28] #186 closed, assigned to nobody

[2015-05-27 01:57] JunichiIto commented on #270
参考: Phantom.jsのバージョンに注意、とのこと（Gitter参照）

[code]

[2015-08-29 00:34] #259 closed, assigned to nobody

[2015-08-29 00:37] JunichiIto commented on #240
おそらく対応済み。

[2015-08-29 00:37] #240 closed, assigned to nobody

[2015-08-29 00:37] #233 closed, assigned to nobody

[2015-08-29 00:40] JunichiIto commented on #271
Duplicate https://github.com/rubyist-connect/rubyist-connect/issues/213

[2015-08-29 00:40] #271 closed, assigned to nobody

[2015-08-29 00:43] #148 closed, assigned to nobody

[2015-08-29 00:44] #134 closed, assigned to tanaka-yoshi10

[2015-08-29 00:45] JunichiIto commented on #133
Doorkeeper Syncで改善されたのでいったんクローズ。

[2015-08-29 00:45] #133 closed, assigned to nobody

[2015-08-29 00:46] #132 closed, assigned to nobody

[2015-08-29 00:50] JunichiIto commented on #228
マウスオーバーで吹き出しが出るようになっているので、いったんクローズ。

[2015-08-29 00:50] #228 closed, assigned to nobody

[2015-08-29 00:52] JunichiIto commented on #235
Duplicate https://github.com/rubyist-connect/rubyist-connect/issues/220

[2015-08-29 00:52] #235 closed, assigned to nobody

[2015-08-29 00:54] JunichiIto commented on #215
大きな問題ではないのでクローズ。

[2015-08-29 00:54] #215 closed, assigned to nobody

[2015-08-29 01:15] JunichiIto commented on #63
今日の英語勉強会でこのissueを対応しようと思います。

仕様はこんな感じ。
- プロフィール編集
  - プロフィール編集ページにメールアドレス欄を追加
  - 「新しいRubyistが参加したらメール通知する」チェックボックスを追加
  - 通知するにチェックを付けたらメールアドレス必須
  - できれば
    - チェックを入れたらメールアドレス欄を表示
    - 見た目を整える
    - メールアドレスのフォーマットチェック
- メール通知
  - 送信条件：自己紹介未入力 => 入力
    - introduction.blank? => present?
  - 更新に成功したら希望者にメール通知
    - BCCで一斉通知？
    - 送信者は誰？ noreply@rubyist.co ?
    - 自分には送らない
  - できれば
    - 通知はユーザ

[2015-08-30 03:19] JunichiIto opened #272 "RubyとRailsを最新版にアップデートする"

[2015-08-30 09:32] JunichiIto opened #274 "SendgridにSPFやDKIMの設定を追加する"
迷惑メール扱いされる可能性を減らす。
おそらくDNSの関係の設定変更も必要。

[2015-09-21 04:53] JunichiIto commented on #147
ユーザー詳細ページはユーザーの名前を表示する方が良いと思いました。

![screen shot 2015-09-21 at 13 51 42](https://cloud.githubusercontent.com/assets/1148320/9985508/1b44cb2a-6068-11e5-9f8b-f4232f8c2673.png)

「ユーザー表示」と書かれてもあまり嬉しくない。。

イベント表示の場合も同様ですね。

http://rubyist.co/nnect/events/11

全体的に見直した方が良さそうです。

[2015-09-21 04:57] JunichiIto opened #275 "ログに操作ユーザー名を表示する"
誰がどの操作をやったのかわかりすくするために、ログに操作ユーザー（current_user）名を表示したい。

背景：
参加通知メールが何度も送信された原因を調査していたときに、ログを見てもどれが誰の操作かぱっと見てわからなかったため。

[2015-09-23 23:48] JunichiIto opened #277 "Travis CIの環境を新しくする"
Travisを開いたときになんか警告が出てました。

この手順に従ってアップグレードするらしい。

http://docs.travis-ci.com/user/migrating-from-legacy/

が、詳しい内容は確認していません。

[2015-09-23 23:53] #272 closed, assigned to nobody

[2015-09-28 06:43] JunichiIto opened #278 "ogタグがたぶんおかしい。意図しない画像が表示される"
確認の上、修正する。

![image](https://cloud.githubusercontent.com/assets/1148320/10129297/9307356e-65f7-11e5-9b53-d4d1fa525b48.png)

[2016-01-06 05:38] yuji-shimoda commented on #268
Bootstrap Cards のイメージです。
http://v4-alpha.getbootstrap.com/components/card/

こんな感じにしたい
https://gist.github.com/yuji-shimoda/d97c9552c2e9bc290f1f

[2016-01-06 05:53] JunichiIto opened #279 "Doorkeeper Syncが機能しない"
ページデザインが変わった影響だと思われる。
やっぱりスクレイピングだと変更に弱いな・・・。

[2016-01-06 15:21] yuji-shimoda commented on #268
gist で、以下の定義が足りてませんでした。

[code]

イメージは、こんな感じです。
![2016-01-07 0 14 57](https://cloud.githubusercontent.com/assets/2437500/12145829/c36db054-b4d3-11e5-8599-74d8b97c3586.png)

画像使い回してますが、イベント画像は doorkeeper api の /events/:id からevent.banner のリンクアドレスを GET する必要があります。

[2016-01-06 15:23] yuji-shimoda commented on #268
あと、banner 画像が指定されてないイベントもあるみたいなので、ダミー用の画像を
用意しておいた方が良いかも？しれません

[2016-01-30 23:51] JunichiIto opened #280 "通知メールでニックネームが入っていない場合を考慮する"
<img width="475" alt="screen shot 2016-01-31 at 8 50 18" src="https://cloud.githubusercontent.com/assets/1148320/12699246/c8f17cea-c7f7-11e5-8c84-714d857e88f8.png">

[2016-03-07 15:05] yuji-shimoda commented on #279
原因について調べたところ、イベント参加メンバーの一覧を取得するには
event_url/participants への GET が必要そうだとわかりました。
手元の環境にて、以下の１行変更するだけで Doorkeeper Sync が動きました。

[code]

ただ、テストコードが修正出来ていないのですぐにプルリ出来そうもないです。
＃今日のところは、時間切れ

[2016-03-07 15:07] yuji-shimoda commented on #274
昨日、メール頂いた件はこの Issue でしょうか？

[2016-03-07 15:08] yuji-shimoda commented on #198
とりあえず、現状維持で。この issue はクローズしておきますー

[2016-03-07 15:08] #198 closed, assigned to nobody

[2016-03-07 19:57] JunichiIto commented on #274
そうです。クローズします。

[2016-03-07 19:57] #274 closed, assigned to nobody

[2016-03-07 19:58] JunichiIto commented on #279
おお、調査ありがとうございます！
テストコードの修正もできればお願いしますー :pray:

[2016-03-07 22:42] yuji-shimoda commented on #279
頑張ってテストコード修正してみますー

[2016-03-08 01:43] JunichiIto commented on #279
もしかするとVCRを使ってるところかな？
その場合はコードを修正した後、VCRのxmlファイルを削除して、もう一回再度記録を撮り直す（xmlを作り直す）必要がありそうですね。
難しそうなら相談してください。

[2016-03-10 15:03] yuji-shimoda commented on #279
先ほど、ステージング環境で動作検証を行い問題なかったので本番環境にデプロイしました。

[2016-03-10 15:03] #279 closed, assigned to nobody

[2016-03-10 21:49] JunichiIto commented on #279
:+1:

[2016-03-10 21:52] JunichiIto opened #283 "Doorkeeper syncでFB URLをうまくsyncできない場合がある"
## 下記issueの対応。

Doorkeeper 側のリンクが
https://www.facebook.com/app_scoped_user_id/100002229789614/　に設定されてました。
HTTP 302 が返ってきて、リダイレクトされますね。

[2016-03-14 01:08] JunichiIto commented on #274
SendGridの表示が消えたことを確認しました。

![screen shot 2016-03-14 at 10 07 51](https://cloud.githubusercontent.com/assets/1148320/13732746/a9d85404-e9cc-11e5-895b-ca253cb74c2d.png)
　　↓
![screen shot 2016-03-14 at 10 06 43](https://cloud.githubusercontent.com/assets/1148320/13732749/b26799d6-e9cc-11e5-9d6e-6b6589c6586f.png)

[2016-03-14 07:09] yuji-shimoda opened #284 "Doorkeeper API を認証付きAPI に移行する"
https://www.doorkeeper.jp/news/2016/3/1/update-to-api
2016年5月31日以降に、認証無しAPI の提供が停止するかもしれない

[2016-05-24 06:41] yuji-shimoda opened #285 "Unicorn から Puma に移行する"
heroku の推奨は、Puma らしい（以前は、Unicorn だった）
https://devcenter.heroku.com/changelog-items/594

以下の手順が公開されているみたい
- [Deploying Rails Applications with the Puma Web Server](https://devcenter.heroku.com/articles/deploying-rails-applications-with-the-puma-web-server)

[2016-05-24 06:50] yuji-shimoda opened #286 "Let's Encrypt で SSL(TLS)導入"
以下の記事が参考になりそう
- [LET'S ENCRYPT WITH A RAILS APP ON HEROKU](http://collectiveidea.com/blog/archives/2016/01/12/lets-encrypt-with-a-rails-app-on-heroku/)

あとは、heroku の blog
- [Announcing Heroku Free SSL Beta and Flexible Dyno Hours](https://blog.heroku.com/archives/2016/5/18/announcing_heroku_free_ssl_beta_and_flexible_dyno_hours)

[2016-06-04 12:25] yuji-shimoda opened #287 "イベント詳細ページのユーザ表示順序をランダムに変更する"
毎回、自己紹介の順番がトップバッターで不公平感があるから

[2016-06-04 13:41] yuji-shimoda commented on #285
本番環境に Deploy しました

[2016-06-04 13:41] #285 closed, assigned to nobody

[2016-06-04 15:24] yuji-shimoda commented on #286
acme-challenge は成功した。

[code]

しかし、Heroku での SSL 有効化は Hobby 以降の Dyno が必要（有料）

[code]

諦めた

[2016-06-04 15:24] #286 closed, assigned to nobody

[2016-06-05 07:06] kntmrkm commented on #270
#291

[2016-06-05 13:55] kntmrkm commented on #286
@yuji-shimoda

http://apserver.hatenablog.com/entry/2015/11/29/004340

これなら無料でいけました。何か問題あるかもしれませんが。完全無料です。

http://kntmrkm.hatenablog.jp/entry/2016/06/05/224945

[2016-06-06 00:13] yuji-shimoda commented on #286
@kntmrkm この設定だと、heroku 側の証明書がオレオレ証明書になってしまわないですか？

[2016-06-06 03:16] kntmrkm commented on #286
@yuji-shimoda
SSL詳しくはないのですが（書いておいてすみません）。
オレオレ証明書の動作とは違うようです。
http://qiita.com/Sheile/items/dc91128e8918fc823562

cloudflareの証明書で暗号化されるような設定になるようです。

個人のサービス公開レベルなら十分かもしれませんが、何か問題はあるかもしれませんね。

テストサイトはこんなかんじです。
https://test.orda.jp/

[2016-06-06 03:30] yuji-shimoda commented on #286
書き方が悪かったですね。ごめんなさい。
heroku の web server とブラウザが通信する時は、heroku に登録した証明書が使われる筈ですが、その証明書はどこで認証して貰ってますか？

[2016-06-06 03:34] kntmrkm commented on #286
恐らくこんな感じでしょうか。

Client（ブラウザ） <= Cloudflareの証明書 => Cloudflare <= Herokuappの証明書 => Heroku

PS 以下の記事によると香港経由のようです。
http://apserver.hatenablog.com/entry/2015/11/29/004340

[2016-06-06 04:01] yuji-shimoda commented on #286
Heroku 側の証明書が利用されるんですねー。なるほど

[2016-06-07 22:51] JunichiIto commented on #286
@yuji-shimoda
現在進行形なのかもしれませんが、もしLet's Encryptの導入を諦めた場合はコードをrevertしておいてくださいね。
https://github.com/rubyist-connect/rubyist-connect/pull/289
https://github.com/rubyist-connect/rubyist-connect/pull/290

[2016-06-08 03:12] yuji-shimoda commented on #286
Let's Encrypt 使いたければ、Heroku の Hobby プランに変更するか
VPS に移行するか AWS に移行するかどれかって感じですね。
どうしよう、、、

[2016-06-08 03:19] JunichiIto commented on #286
そもそもRubyist ConnectをSSL対応する必要があるの？
興味本位かつお金は払いたくない、であれば、ここでクローズかな～。
Herokuから引っ越してまでやる必要があるのかな？って思いますね。

[2016-06-08 03:59] yuji-shimoda commented on #286
もともとは、技術的な興味だけなのでクローズで

[2016-07-02 07:24] JunichiIto opened #292 "Update to Rails 5.0"
Rails 5.0 is released!

[2016-09-14 15:35] yuji-shimoda opened #294 "ユーザ一覧ページから、自ユーザの表示をやめてページ上部に移動させる"
一覧出来るユーザ表示数が増えるため、視認性が上がるはず
![2016-09-15 0 31 45](https://cloud.githubusercontent.com/assets/2437500/18518751/4acae32c-7adc-11e6-8c06-2ae47b93a616.png)

[2016-09-15 02:45] springaki commented on #294
LGTM

動きも見てみたいので、[WIP] タイトルのPull Request 送ってくれるとコードも見れて手元でも確認できて便利です。

[2016-09-15 05:43] yuji-shimoda commented on #294
まだ、VIEW 側しか変更しておらずロジック側を見直していないのですが
Work in Progress(作業中)のコードでも PR 送っていいよというコメントでしょうか？

[2016-09-15 10:46] springaki commented on #294
あー。別にいいんじゃないですかねぇ。壊れてなければ。
その上でディスカッションしながら作っていく事はよくありますよ。

[2016-09-16 02:18] yuji-shimoda commented on #294
![2016-09-16 11 16 07](https://cloud.githubusercontent.com/assets/2437500/18573518/1d7f8fb6-7bff-11e6-8b6d-497801b24eda.png)

個人的には、user#index ページでスクロールしたくないので１ページあたりの表示ユーザ数を
少なくし、スクロールしなくて良い感じにしたい

[2016-09-17 00:46] #63 closed, assigned to nobody

[2016-09-17 01:56] JunichiIto opened #296 "Doorkeeperだけでなく、Connpassからもイベント情報を取り込めるようにする"
APIはあるが、参加者各人の情報は取れないので、スクレイピングが必要そう。

[APIリファレンス - connpass](http://connpass.com/about/api/)

イベントのサンプル
[もくもく会＃８ - connpass](http://connpass.com/event/39406/)
[もくもく会＃８ - 参加者・申込者一覧 - connpass](http://connpass.com/event/39406/participation/#participants)

Rubyプログラミングキャンプ2016で実装予定。

[2016-09-18 06:52] JunichiIto opened #297 "イベント編集ページ、選択されているユーザーを一覧の上部に持ってくる"
選択されている人はかためて表示した方が編集しやすい。

[2016-09-18 06:55] JunichiIto opened #298 "イベント編集ページ、ページ内でユーザーをフィルタリングできるようにする"
GitHubでリポジトリをフィルタリングするようなイメージ

<img width="749" alt="screen shot 2016-09-18 at 15 53 48" src="https://cloud.githubusercontent.com/assets/1148320/18613545/28024540-7db8-11e6-9682-88a9c714b9b1.png">

ユーザー数が多いので、目的のユーザーを目視で検索するのはしんどい。

[2016-09-21 13:04] yuji-shimoda commented on #270
~~phantomjs 2.1.1 でもダメだった~~

[code]

macOS Sierra アップデート後の環境の問題でした。

[2016-09-25 04:24] yuji-shimoda commented on #213
本番環境にデプロイしておきました！

[2016-09-25 04:24] #213 closed, assigned to nobody

[2016-09-25 12:12] yuji-shimoda commented on #270
Wiki に書きました！

[2016-09-25 12:12] #270 closed, assigned to nobody

[2016-09-25 23:38] yuji-shimoda commented on #104
@0tofu 今時の Markdown editor ならプレビュー機能が付いていますし、積極的に追加したいと
思う理由（機能の追加開発に挑戦したいなど）がなければ、凍結でも良いかな？と考えています。
いかがでしょうか？

[2016-09-25 23:42] yuji-shimoda commented on #86
この件も、一旦凍結扱いで良いでしょうか？（issue 整理中）

[2016-09-25 23:49] yuji-shimoda commented on #248
個人的には、users#index も events#index もユーザやイベントを以下のカード表示で
一覧するように変更したいと考えています。
https://v4-alpha.getbootstrap.com/components/card/

特に異論がなければ、issue のタイトル変更を考えていますー

[2016-09-26 04:31] JunichiIto commented on #86
いいんじゃないかなー。

[2016-09-26 04:33] JunichiIto commented on #248
具体的にコレじゃないとダメ、というアイデアもないので、いったんカード表示で進めてみてもいいと思います。
ただ、実際にできあがったものを見て「あーだこーだ」言う可能性はありますがw

[2016-09-27 03:57] yuji-shimoda commented on #175
本番環境にデプロイしました！

[2016-09-27 04:37] JunichiIto commented on #175
ありがとうございます！

悪くはないのですが、こうやって見てみるとアイコンがすべて青系になって、ちょっと「寒い」印象があるかな？と思いました。（今更言うなよ、って感じですが）

![image](https://cloud.githubusercontent.com/assets/1148320/18860337/4c77831c-84b7-11e6-9601-ac29263f4a24.png)

[2016-09-27 06:55] yuji-shimoda commented on #175
https://github.com/logos
github サイトの説明では、色の変更はダメよと説明があるので、致し方ないかとー

[2016-09-27 08:00] springaki commented on #175
現状、黒or白から青に変えてしまっているのでは !?

[2016-09-27 08:04] JunichiIto commented on #175
標準状態は黒、hoverで青、みたいにする方がいいかもですね。

[2016-09-27 08:06] yuji-shimoda commented on #175
なるほど、github トップページのアイコン動作に合わせる感じですねー

[2016-09-29 01:15] yuji-shimoda commented on #175
イメージとしては、こーゆー感じです。
http://codepen.io/yuji-shimoda/pen/ALrkBx

[2016-09-29 02:24] JunichiIto commented on #175
いいと思います－。

[2016-09-29 08:17] springaki commented on #175
LGTM

[2016-09-29 08:32] yuji-shimoda commented on #175
ありがとうございます。 @JunichiIto @springaki
ちなみに実際のコードだと、user.github_url.present? の場合のみ
hover でカラーコードを変更する処理を入れないといけないはずなんですが
そもそも GitHub ログインを前提としたサービスなので分岐処理は必要？と疑問に感じていました。

https://github.com/rubyist-connect/rubyist-connect/blob/master/app/views/users/_sns_links.html.slim#L3

別のログイン認証がサポートされて、GitHub ログインが必須じゃなくなった場合に
必要となるコードであることは理解していますが、css 側で fa_icon が active かどうかで
hover の処理を分岐させる？というあたりのコードをどう書けば良

[2016-10-01 02:36] tanaka-yoshi10 opened #302 "イベントページから編集できるようにしたい"
現状、イベントの編集はイベント一覧からはできるが、
イベントページからはリンクがない。
(イベントページを見ててすぐに修正したい場合がある)

[2016-10-01 03:54] springaki commented on #302
👍
PRお待ちしております 😄

[2016-10-01 06:09] tanaka-yoshi10 commented on #302
タイトルの下に編集リンクをつけようと思います。

<img width="1181" alt="2016-10-01 15 02 50" src="https://cloud.githubusercontent.com/assets/6820311/19012170/63457548-87e8-11e6-88f5-3cf25e1be721.png">
<img width="421" alt="2016-10-01 15 03 10" src="https://cloud.githubusercontent.com/assets/6820311/19012169/6031a584-87e8-11e6-8ece-d025011fa59b.png">

本当はタイトル(h1)の右につけたかったのですが、
CSSの調整が必要そう(時間かかりそう)なので、まずは簡単なやり方にします。
参考)
ht

[2016-10-01 08:28] #292 closed, assigned to nobody

[2016-10-01 10:03] JunichiIto opened #305 "Rails 5のwarning対応"
まだ残ってた?

[code]

[2016-10-01 11:33] tanaka-yoshi10 commented on #302
やっぱりタイトルの右横に編集へのリンクをつけました。

<img width="860" alt="big" src="https://cloud.githubusercontent.com/assets/6820311/19013788/2abe9df2-8816-11e6-9132-c1f42a62daa9.png">
<img width="395" alt="sm" src="https://cloud.githubusercontent.com/assets/6820311/19013789/2d050312-8816-11e6-9bba-96785a215f01.png">

[2016-10-01 12:48] yuji-shimoda commented on #175
本番環境にデプロイ済みなのでクローズします！

[2016-10-01 12:48] #175 closed, assigned to nobody

[2016-10-01 12:55] yuji-shimoda opened #307 "users#index のユーザ数を調整可能にする"

[2016-10-01 21:25] JunichiIto opened #310 "app_scoped_user_idからFacebookアカウント名を割り出す"
Doorkeeper Sync / Connpass Syncでは以下のようなURLだとFacebookのアカウント名を取得できない

https://www.facebook.com/app_scoped_user_id/12345/

しかし、実際にこのリンクにアクセスするとリダイレクトしてURLからFBアカウント名を取得できるので、これもユーザー割り出しの手段にしたい。

[2016-10-01 21:26] #302 closed, assigned to nobody

[2016-10-01 21:26] JunichiIto commented on #283
重複しているのでこちらをクローズ。

https://github.com/rubyist-connect/rubyist-connect/issues/310

[2016-10-01 21:26] #283 closed, assigned to nobody

[2016-10-01 23:38] yuji-shimoda commented on #302
👍  ありがとうございましたー

[2016-10-02 04:33] #296 closed, assigned to nobody

[2016-10-02 04:53] JunichiIto commented on #307
クローズしますね。

[2016-10-02 04:53] #307 closed, assigned to nobody

[2016-10-02 04:55] JunichiIto commented on #305
調査したところ、gemの中のコードっぽい。
昨日全部最新化したので、こちらでできることはほとんどない。
よってしばらく様子見。

[2016-10-02 05:07] JunichiIto commented on #294
クローズしますね。

[2016-10-02 05:07] #294 closed, assigned to nobody

[2016-10-02 05:15] JunichiIto commented on #246
これ、スクリーンショットが見たいです。

[2016-10-02 05:20] yuji-shimoda commented on #246
さきほど、確認しましたが普通に表示されてました。
ひとまずクローズしておきます。

[2016-10-02 05:20] #246 closed, assigned to nobody

[2016-10-02 05:22] tanaka-yoshi10 commented on #262
これでどうでしょうか。

## before

<img width="990" alt="2016-10-02 14 19 02" src="https://cloud.githubusercontent.com/assets/6820311/19018856/476e96ce-88ab-11e6-95f3-101fbb2e7c55.png">

## after

<img width="1067" alt="2016-10-02 14 47 19" src="https://cloud.githubusercontent.com/assets/6820311/19018957/2e3cfcf0-88af-11e6-8bec-954d4b912df6.png">
<img width="406" alt="2016-10-02 14 45 32" src="https://cloud.

[2016-10-02 05:30] yuji-shimoda commented on #284
この issue 必要ないかも？と思い始めています。ひとまず、クローズします？

[2016-10-02 05:48] tanaka-yoshi10 commented on #262
字を薄くしました。

[2016-10-02 06:09] JunichiIto commented on #262
Done! 🎉

[2016-10-02 06:09] #262 closed, assigned to nobody

[2016-10-02 06:11] JunichiIto opened #315 "Connpass連携で存在しないURLを指定された場合を考慮する"
http://x.connpass.com/event/38763/ を入力するとエラーになる。
（403を考慮していないため）

[2016-10-02 06:20] JunichiIto commented on #284
とあるので、いつか対応しないといけないと思ってる。

[2016-10-02 06:22] JunichiIto opened #316 "「top_spec.rb > ランダムにユーザーが21名表示されること」がよく落ちる"
「top_spec.rb > ランダムにユーザーが21名表示されること」結構な頻度で落ちる。

とあるが、もうちょっと落ちる頻度を少なくしたい。

[2016-10-02 06:58] JunichiIto commented on #316
リトライするようにした。

https://github.com/rubyist-connect/rubyist-connect/commit/abc7c0ff213fbd5fee77499f7a629d95e5ff1f27

[2016-10-02 06:58] #316 closed, assigned to nobody

[2016-10-04 01:12] yuji-shimoda commented on #87
events#Index に、複数のコミュニティ・イベントが散見される状態なので
コミュニティ単位でグルーピングしたいなと思いました。#222 も同じようなリクエストかと

[2016-10-05 08:14] yuji-shimoda commented on #229
この問題は、既に修正済みっぽい

[2016-10-05 08:14] #229 closed, assigned to nobody

[2016-10-05 12:49] yuji-shimoda commented on #138
この機能から、Ruby Kaigi 2016 で掲示されていた Rubyist の World Map みたいなことを
Rubyist Connect 上でしたいなぁと考えてます。

以下の Blog Post の世界地図の写真みたいなイメージです。
https://aaronlasseigne.com/2016/09/15/rubykaigi-2016/

[2016-10-05 14:14] yuji-shimoda commented on #248
デザインセンス無さ過ぎて辛いですが、イメージとしてはこんな感じです。
![2016-10-05 23 11 18](https://cloud.githubusercontent.com/assets/2437500/19116632/2c5fda3e-8b51-11e6-8284-6ff9f352def3.png)

ユーザは、そのままにイベントのみカード表示に変更する方が良いかも？

[2016-10-06 03:13] yuji-shimoda opened #317 "ヘッダメニューの Home アイコンを廃止し、イベント作成ボタンに変更する"
サイト名が同じ機能を提供しているため、不要な気がする。
また、イベント作成ページへのリンクがあった方が、便利な気がする。

カレンダーアイコンの tooltip を、ドロップダウンリストにして
一覧と作成のリンクを設ける方が直観的ではあるが（好みによるかも）

[2016-10-06 16:38] yuji-shimoda commented on #268
![2016-10-07 1 35 20](https://cloud.githubusercontent.com/assets/2437500/19161364/77814614-8c2e-11e6-9b39-bf5ce9c5162c.png)

イメージは、こんな感じで考えているのですが CSS 難し過ぎて理解出来てません。
＃というか、リンクがクリック出来なくなってたりする

[2016-10-07 00:14] JunichiIto commented on #87
このリクエストはDoorkeeper上のコミュニティ（西脇.rbとか新大阪.rb）をまとめるもので、 https://github.com/rubyist-connect/rubyist-connect/issues/222 はユーザーの属性をまとめるものなので、微妙に違う気もします。

いずれにしても、コミュニティの管理機能を付けたりするのは結構大変なので、イベントやユーザーに「タグ」を付けられるようにして、タグレベルで管理できるようになればいいのかな～とか思ったりもします。（雑な解決案）

[2016-10-07 00:19] JunichiIto commented on #138
そうですね、実現できると面白そうですが、なかなか大変そう・・・。

[2016-10-07 00:21] yuji-shimoda commented on #138
どうやって実装するかは、現状の私のスキルレベルでは
想像出来ませんでした。 :sweat:

[2016-10-07 00:22] JunichiIto commented on #248
ユーザーの顔写真の右横にスペースができるのがちょっと気になるかなー。
そもそもこの改善をしたいのはなぜなんだっけ？
現行のデザインと比べて何か特別良くなった気もしないんですが・・・。（失礼）

[2016-10-07 00:24] JunichiIto commented on #317
確かにHomeアイコンはなくても支障がなさそうですね。

これはその方がいい気がします。
でもHomeアイコン廃止とカレンダーアイコンの改善は別issueに分けた方がいいのでは。

[2016-10-07 00:27] JunichiIto commented on #268
この中にイベントの画像が表示されたら雰囲気が出そうですね。
細かいことをいうと、EditボタンとDeleteボタンが近すぎて押し間違いが発生しそう。
Deleteボタンは表示せずに編集画面にさりげなく配置するぐらいでいい気がする。
（ユーザー編集画面の削除リンクのように）

これは勉強だと思って頑張って！！！

[2016-10-07 00:30] yuji-shimoda commented on #248
当初は、アイコンを丸型に変更したいだけだったと思います。
で、bootstrap 4 のカードデザインを見たときに「このデザインでユーザ表示したら良さそう」と
思っただけですね。

いや、むしろ今のデザインの方が良いなと思いました。 :sweat_drops:

アイコンを丸く表示したいというリクエストも無いですし、クローズしたいと思います。

[2016-10-07 00:30] #248 closed, assigned to yuji-shimoda

[2016-10-07 00:33] JunichiIto commented on #248
とりあえず「やってみた」っていうことですね。
そのチャレンジ精神は 👍  です！

[2016-10-07 00:37] yuji-shimoda commented on #268
はい、イベントAPI でイベント画像の URL を取得したり、モデル側の
変更が必要だと考えてますが、画像が表示されていたら良い感じかな？と思いました。

events#index 側には、編集と削除ボタンは不要かなと思ってます。
＃今は、card-footer 無しで画像のみの表示を試しているところ

ですね、頑張るしかない :+1:

[2016-10-07 00:41] yuji-shimoda commented on #248
仰るとおりです。
＃とにかく、やってみないと分かりませんもんね :+1:

[2016-10-07 00:44] yuji-shimoda opened #318 "ヘッダメニューの イベントアイコンにドロップダウンリストを導入する"
一覧表示(events#index)と、作成(event#new)が欲しい
#317

[2016-10-07 01:00] yuji-shimoda commented on #87
group モデルに、name/owner/url くらいのデータと
ユーザおよびイベントへのリレーションを持たせ
作成されたグループは、それを作成したオーナーにしか削除出来ない
程度の機能でも良いかな？とか雑に考えてました。

＃イメージとしては現状のイベントモデルに、has_many :events のリレーションと
＃イベントを作った人しか削除させない的な機能追加で
＃グループ単位でのイベント表示が可能(要件が満たせる)かなと考えてました。

[2016-10-07 02:22] JunichiIto commented on #87
ん？このissueってイベントの削除権限を管理するものでしたっけ？

ここのつながりがちょっとよくわかりませんでした。
削除権限のコントロールとイベントのグルーピングがどうつながるのか？
イベントの作成者ごとにイベントをグルーピングするつもり？

[2016-10-07 02:46] yuji-shimoda commented on #87
説明が下手で混乱させてしまいました、すみません。

何となくのイメージですが、グループをイベントとして作成してしまい
グループとして作成されたイベントが、複数のイベントを持てるように
変更すれば、グループ機能っぽいことが出来るのかなと考えてました。
1. イベントとしてグループを作成(イベント名にグループ名を指定して、グループ参加メンバを登録する)
2. グループとして登録されたイベントが複数のイベントを持てるように変更
3. グループとして登録されたイベントのみを一覧表示
4. グループとして登録されたイベントを event#show すると、過去のイベントが一覧表示される

ただし、グループとして登録されたイベントは削除されると困るので
グループとして登録されたイベントの作成者（オーナー）のみに削除権限を与える
という感じで考えてました。

普通に Group モデルを追加する方がいい

[2016-10-07 07:33] yuji-shimoda commented on #87
そもそものリクエストとしては、作成されたイベントが、どのコミュニティの主催するイベントなのかをフィルタリングするための機能追加という理解で正しいですか？
上記の理解が正しいのならば、タグ機能を追加し、タグでフィルタリング出来るようにする方が
簡単なのかなーと思いました。

[2016-10-07 10:12] JunichiIto commented on #87
はい、イベントが親子構造になるのはトリッキーだし、この場合はメリットがなさそうです。

はっきり覚えてないんですが、AとCとDは西脇.rb＆神戸.rbのイベント、BとEは新大阪.rbのイベント、みたいに分けたかったんじゃないかなーと思います。
が、そもそも現状そこまでその機能を必要としていないので、今は真剣に設計する必要もないかなーという感じです。

[2016-10-07 16:00] yuji-shimoda commented on #268
![2016-10-08 0 56 41](https://cloud.githubusercontent.com/assets/2437500/19196900/42df5490-8cf2-11e6-8c91-26e9b4f98ed5.png)

こちらも作業中ですが、ユーザ一覧で適用されているスタイルをあててみました。
画像の表示サイズがカードスタイルに比べて小さくなりますが、サイト全体でのまとまりは
こちらの方が良さそうです。

[2016-10-07 22:00] JunichiIto commented on #268
おお、基本路線としては悪くないですね。ユーザー一覧と一貫性も出ますし。
改善するとすれば、
- 編集と削除のボタンは不要（イベント詳細ページから編集ページに飛ぶ。イベントの削除もイベント編集ページから行うようにする）
- タイトルのリンクの文字色は赤だとちょっとうるさい（黒で表示して、hoverで赤くするとか？）
- 編集ボタン/削除ボタンの代わりに、DoorkeeperやConnpassへのリンクを表示するといいかも（設定されている場合）

みたいな感じでしょうか。
しかし、そもそもイベントの画像を取ってこないと、このレイアウトをリリースできないですね。。

[2017-08-28 16:07] yuji-shimoda commented on #286
CloudFront と AWS Certificate Manager 使って、HTTPS 対応しました。

[2017-08-28 20:49] JunichiIto commented on #286
お疲れ様です！HTTPS化されているのを確認しました。

ただ僕からすると完全にブラックボックスというか、何をどうやってHTTPS化したのか見当が付かないので、どこかにやったことを簡単にまとめてもらえると嬉しいなーと思います。
よろしくお願いします。

[2017-10-06 01:38] JunichiIto opened #328 "GitHub認証に失敗すると500エラーが発生する"
以下のようなエラーログがあったのでメモ。

``NoMethodError (undefined method `new_session_path' for #<Users::OmniauthCallbacksController:0x007fc7841f56c8>``が500エラーの原因。

要修正。

[code]

[2017-10-06 06:33] springaki commented on #328
エラー通知来るようにしとかないとですね...

[2017-10-06 10:11] JunichiIto commented on #328
エラー通知、実は僕個人宛に届くようにしていました。
なので、このエラーにも気づけました。
（先日メールが飛ばない不具合にかなり遅れてから気づいたので、この通知を入れ始めた）

設定場所はHeroku管理画面 > PaperTrailにある、アラート設定です。

![screen shot 2017-10-06 at 19 07 59](https://user-images.githubusercontent.com/1148320/31273483-e19f4e96-aac9-11e7-902b-1c4c9069a4e3.png)

今はそこまで利用者もいないので、1日に1回、エラーに該当しそうなログをメールで飛ばすように設定しています。
@springaki さんと @yuji-shimoda さんも追加しておいたので、今後はお二人もメールを受け取れるはずです 👍

[2017-10-07 03:53] springaki commented on #328
@JunichiIto おっ。ありがとうございます !!

[2017-10-10 02:36] yuji-shimoda commented on #328
@JunichiIto 設定ありがとうございます！

[2017-10-16 21:21] JunichiIto opened #329 "Ruby 2.4 & Rails 5.1アップデート"
最新環境にアップデートする。

[2017-10-16 21:21] JunichiIto commented on #329
やります。

[2017-10-16 21:22] JunichiIto opened #330 "PhantomJS/Poltergeist => Chrome Headless移行"
PhantomJSのメンテナンスが停止するので、Chrome Headlessへ移行する。
完了したらWikiも修正する。

[2017-10-16 22:03] JunichiIto opened #331 "pow => puma-devに切り替える"
Wikiを更新する。

参考
[puma & puma\-dev にRails開発環境をより良く。pow代替＆簡単・安全・安定 \- Qiita](https://qiita.com/cyborg__ninja/items/7bfbc9e9f1669e3eed02)

[2017-10-16 22:28] JunichiIto opened #332 "heroku_sanを使わないデプロイ手順にする"
heroku_sanはサポートされなくなったので、Wikiを更新する。

[2017-10-16 22:52] JunichiIto commented on #331
修正しました。
みなさんもPuma-devに乗り換えましょう！

https://github.com/rubyist-connect/rubyist-connect/wiki/How-to-create-local-environment/_compare/07d6b75392c0aa75a6da840ba2ceb1073186abe6

[2017-10-16 22:52] #331 closed, assigned to nobody

[2017-10-16 22:59] JunichiIto commented on #329
変更＆デプロイ完了しました 👍

https://github.com/rubyist-connect/rubyist-connect/pull/333

[2017-10-16 22:59] #329 closed, assigned to nobody

[2017-10-16 23:00] JunichiIto commented on #328
コードの修正はしました。
テストコードはまだです。

https://github.com/rubyist-connect/rubyist-connect/pull/333

テストコードだけ別issue立てます。

[2017-10-16 23:00] #328 closed, assigned to nobody

[2017-10-16 23:00] JunichiIto opened #334 "GitHub認証失敗時のテストコードを書く"
https://github.com/rubyist-connect/rubyist-connect/issues/328 の続きです。

[2017-10-16 23:08] JunichiIto commented on #332
修正しました。
今後heroku_sanは使えないので、新しい手順でデプロイしてください。

https://github.com/rubyist-connect/rubyist-connect/wiki/How-to-deploy/_compare/6d19b8d7ba69a35d68c2b288791911c130278dfb

[2017-10-16 23:08] #332 closed, assigned to nobody

[2017-10-16 23:14] JunichiIto commented on #305
修正しました。

https://github.com/rubyist-connect/rubyist-connect/pull/333

[2017-10-16 23:14] #305 closed, assigned to nobody

[2018-06-30 05:28] JunichiIto opened #339 "Rubyist connectの更新（2018.06.30）"
@yuji-shimoda @springaki

環境をいろいろと最新化しました。詳細は下記pull reqのdescriptionを参照。
Herokuにstaging/productionともにデプロイ済みです。

https://github.com/rubyist-connect/rubyist-connect/pull/337

その他、以下の作業を実施しています。

- Wiki&README更新
  - PhantomjsのインストールをChromeのインストールに変更
  - ローカルとステージングもhttps接続するようにしたので、URLを変更
  - ローカルで証明書エラーが出る場合の対処法を追記
- OAuth appのAuthorization callback URLを変更
  - ローカルとステージングをhttpからhttpsに

何か気になる点があればご連絡

[2019-01-02 21:11] JunichiIto opened #343 "Dockerのセットアップ方法をWikiに載せる"
https://github.com/rubyist-connect/rubyist-connect/pull/340

とのことなので、アップデートお願いしたいです。（僕はDockerに関してはあまり詳しくない・・・）

[2019-01-02 21:11] #339 closed, assigned to nobody

[2019-01-02 21:11] #330 closed, assigned to nobody

[2019-01-02 21:12] #277 closed, assigned to nobody

[2019-01-03 06:41] yuji-shimoda commented on #343
@JunichiIto Docker 版の環境構築手順（Wiki）作成しました！
- https://github.com/rubyist-connect/rubyist-connect/wiki/Procedure-for-setting-up-the-environment-when-using-Docker

検証確認して、Wiki の内容に問題がなければ Issue はクローズします。

[2019-01-03 07:02] yuji-shimoda commented on #343
検証したところ、Action Controller で下記のエラーが発生しました。
Showing /app/app/views/layouts/top.html.slim where line #6 raised:
Autoprefixer doesn’t support Node v4.8.2. Update it.

コンテナ内の nodejs を確認したところ、確かにバージョンは v4.8.2 でした。
[code]

下記の記事を参考に Dockerfile を修正したところ、対処できました。
- [Autoprefixer doesn’t support Node v4\.8\.2\. Update it \- Qiita](https://qiita.com/m-dove/items/a60b1a09d32299d215bb)

[2019-01-03 22:09] JunichiIto commented on #343
ありがとうございます！僕もローカルで試してみました。

起動はうまくできましたが、docker-composeコマンドの使い方がいまいちわからなかったので、Wikiにリンクを追記しています。

https://github.com/rubyist-connect/rubyist-connect/wiki/Procedure-for-setting-up-the-environment-when-using-Docker

また、Wiki homeにもDocker版手順のリンクを追加しました。

https://github.com/rubyist-connect/rubyist-connect/wiki

というわけでこちらのissueはcloseしておきますね。

[2019-01-03 22:09] #343 closed, assigned to nobody

[2019-03-21 06:48] yuji-shimoda opened #346 "Heroku -> AWS へ移行したい"
学習を兼ねて AWS への移行を検討する。
現状のまま移行した場合、運用面での課題が残るため CD 環境を予め整えておく必要あり

[2019-03-22 06:09] JunichiIto commented on #346
CD 環境って何の略？？

[2019-03-22 06:11] yuji-shimoda commented on #346
Continuous Deployment の略です！

[2019-03-22 06:22] JunichiIto commented on #346
なるほど。であれば現行のHeroku環境もCDが実現できてるわけではないよね。

まあいずれにしても、AWSでさくっとデプロイできる仕組みがほしいのはたしか。

[2019-10-11 23:42] JunichiIto opened #348 "Connpass連携でエラーが出る"
昨日、誰かが https://67ws.connpass.com/event/141508/ を同期しようとしてエラーが出た様子。

詳細は未調査です。

<img width="1029" alt="Screen Shot 2019-10-12 at 8 41 13" src="https://user-images.githubusercontent.com/1148320/66690612-1e755400-eccc-11e9-886c-ba7054541c0e.png">

[code]

[2019-11-10 05:09] springaki commented on #265
このチケットを "西脇.rb & 神戸.rb プログラミングキャンプ2019" で今からやりますー

[2019-11-10 06:21] springaki commented on #265
released.
Thank you @rubyist-connect/camp2019-commiter team 😊

[2019-11-10 06:25] springaki commented on #287
"西脇.rb & 神戸.rb プログラミングキャンプ2019" 用の暫定仕様

- リロードしても順番は変更されないこと
- 参加者を追加・削除したら順番をランダムにしなおす
- イベント自己紹介中に参加者が追加される事は今回は考慮しなくてよい

[2019-11-10 23:51] JunichiIto commented on #287
設計案
![ios__________](https://user-images.githubusercontent.com/1148320/68552975-71bffb00-0460-11ea-96f8-08ae1c141acc.jpg)

[2019-11-10 23:59] JunichiIto commented on #287
設計案へのフィードバックです。

- 削除のときは順番を入れ替える必要はないかも
- 参加者を追加した際に順番入れ替えだと利用者がビックリするかもしれないので、「順番シャッフルボタン」みたいなものを用意して、それがクリックされたタイミングでシャッフルするのもひとつの手かなー。
- 「イベント自己紹介中に参加者が追加されるたときは（というか、どのタイミングであれ参加者が追加されたら）一番最後に追加」という仕様にしておくと、新しく追加された人にも自己紹介の順番が回ってきそう
- orderカラムだとSQLやRailsの用語とかぶって混乱を招くので、名前はpositionの方がよさそう。
- null不許可、初期値0、ユニーク制約あり、だとmigrationを実行したときにユニーク制約違反が発生する（既存データが2件以上存在する場合）
- 既存のイベントの参加者の順番はどうなりますか？

[2019-11-14 02:12] ml-okuda commented on #287
@JunichiIto

レビューありがとうございます。

こういう場合、どのように対応すべきでしょうか？
ユニーク制約を外して migration した後、データを適切に変更(postion にユニークな値を入れる)してから、ユニーク制約をかける migration を実行する、というように段階を踏むべきでしょうか。

[2019-11-14 03:39] JunichiIto commented on #287
これ、僕が回答してもいいんだけど、せっかくなのでわいわいの他の3人の意見も聞いてみたいな〜。（ちょっと難しいかもしれないけど） > @rlho @rururu16 @kazuhi-ra

[2019-11-18 08:22] springaki commented on #287
そうね〜。回答できるし、パッと思いつくとこうなるかな〜みたいなヤツはありそうですね〜。
自分達で編み出した"こうしなければならない"制約を作ってそうなので、元々どうしたかったんだっけ？に立ち返ってみるともっと簡単な方法思いつくかもよ？もっと楽な方法でやろう 😊

せっかくだし、OSS 界隈でのやりとりではタイムゾーンの違う非同期コミュニケーションもよくあることなので、ここで議論できるならしてみてもよさそう〜

もしくは オンラインで集まって会話した結果をココに書いてくれるとかでもいいかもー :)

[2019-11-21 00:19] JunichiIto commented on #287
ちょっと日が空いてきたので、僕からコメントしておきますね。

まず、今回の場合はpositionカラムにユニーク制約を付ける必要がそもそもあるかな？というところから考えた方がいいかもしれません。
もちろん、ユニークである方が望ましいですが、ユニークでないと人が死ぬ or 大金が失われる、というような致命的な問題は発生しません。（しょせん自己紹介の発表順だし！！）
また、`ORDER BY position, id` のようにしておけば、positionが重複した場合はid順にして並び順のユニーク性を保証することができます。
というわけで、ここは「Ruby側でなるべくユニーク性を担保するように努めるが、DB側にはあえて制約は付けない」とした方が費用対効果が高いのではないか、と僕は考えます。

もし仮にこの要件が「ユニークでないと人が死ぬ or 大金が失われる」というぐらい重要なものであれば、

[2019-11-25 03:02] ml-okuda commented on #287
間空いてしまいました、ありがとうございます！
確かに今回の場合であれば、必ずしもユニークでなくてもよさそうです！

[2020-03-13 13:45] soruma commented on #348
このエラーは2パターンの発生条件があります(他にもあるかもですが、見つけれてない)。

### イベント申込者が 0人

対象イベント:  https://67ws.connpass.com/event/141508/

イベント申請者一覧を取得すると「イベント申込者はいません。」の1行が取得されます。

https://github.com/rubyist-connect/rubyist-connect/blob/fd59057c0f3018f53a1ad56e84a6662d1c32d582/app/models/connpass_api.rb#L40-L43

`row` には `<tr class="empty"><td colspan="2">イベント申込者はいません。</td></tr>` が入っています。

### イベント申込者の中に `(退会ユーザー)` が含まれる

対

[2020-03-15 23:18] #348 closed, assigned to nobody

[2020-03-19 11:47] soruma opened #360 "Net::ReadTimeout with #<TCPSocket:(closed)> がCIで発生したりしなかったりします"
[Travis CI のエラー内容](https://travis-ci.org/github/rubyist-connect/rubyist-connect/builds/663959872?utm_source=github_status&utm_medium=notification)(CIは rebuild されているのでグリーンになっています。)

エラーの詳細
[code]

これは、どのように修正すれば良いでしょうか?
私が考えてみた対応策は以下です。
どちらも試したわけではないので、本当に状況が改善するかはわからないです。

**wait_time を変更する**

[code]

**retry回数を増やす**

[code]

[2020-03-19 23:59] #298 closed, assigned to nobody

[2020-03-20 00:06] JunichiIto opened #361 "イベント編集画面のユーザー検索は大文字小文字を無視したい"
イベント編集画面のユーザー検索は大文字小文字を区別するが、挙動として直感に反する。
大文字小文字を区別せずに検索してほしい。

![6Q4LizsDyE](https://user-images.githubusercontent.com/1148320/77125711-09c29680-6a8a-11ea-9f65-f689476e31a6.gif)

[2020-03-20 00:07] JunichiIto commented on #361
@soruma すいません、ステージング環境で動作確認したらこの動きが気になりました。
これも対応してもらえると助かります！ 🙏

[2020-03-20 00:13] JunichiIto commented on #360
これ、発生頻度も高くないし、致命的な問題でもないので、根本原因がわかるまではいったん放置しようかなと思います。

devやtestのgemを最新にしたら解決しないかな〜とも思ったり。（あてずっぽう）

[2020-03-23 10:54] soruma commented on #361
@JunichiIto このチケットやります。

[2020-03-23 15:39] soruma opened #363 "Doorkeeper のイベント情報取得に失敗します"
https://nishiwaki-koberb.doorkeeper.jp/events/94827 のイベントを作成すると「イベントが見つかりません。URLを確認してください。」になります(既に同イベントを作成済みなので、このエラーはおかしい)。
`participants` ページのDOMが変更されているようで、参加者の取得に失敗しているため、イベント自体の取得に失敗しています。

[ChangeLog](https://www.doorkeeper.jp/changelog) を確認するとおそらく `2019-08-17` の更新からDOMが変更されたと思われます。

[2020-03-23 15:48] soruma commented on #363
軽く確認した限り

* `user-profile-details` ➡ `member-list`
* `user-name` ➡ `member-name`
* `user-social` > `a` ➡ ~~`member-list-item` > `a`~~ ユーザー詳細ページの `external-profile-link` > `a`

と変更する必要がありそうです。

[2020-03-23 22:53] JunichiIto commented on #363
報告ありがとうございます！
なるほど・・・スクレイピングあるあるな不具合ですね。
VCRのカセットもアップデートしないと。

[2020-03-28 23:18] #361 closed, assigned to nobody

[2020-03-28 23:25] JunichiIto commented on #361
@soruma 対応ありがとうございました！ 本番リリース済みです。

[2020-04-22 10:26] #363 closed, assigned to nobody

[2020-04-24 15:58] soruma commented on #278
rubyist-connect には `og:image` は設定されていませんでした。
Twitter, Facebook で`og:image` あり・なしページへのリンクを貼り付けてみて検証した結果はこちらです。

| | Twitter | Facebook |
|--|--|--|
| `og:image` あり | og:image が表示される | og:image が表示される |
| `og:image` なし | イメージは表示されない | (おそらく)ページ配置されたイメージを選択できる |

この検証結果から、 `og:image` をページに設定すればこの問題は解決すると思われます。

@JunichiIto `og:image` には何を設定すれば良いでしょうか?
私の方で考えてみたのですが、これで良いでしょうか?

* トップページの場合
  * `touch

[2020-04-24 23:29] soruma commented on #278
OGP タグについて [Twitter card validator](https://cards-dev.twitter.com/validator) と [Facebook シェアデバッガー](https://developers.facebook.com/tools/debug) で検証してみました。
それぞれの SNS で同じように表示するには、 `og:image`, `og:title`, `og:description` を設定する必要があるようでした。
それに加えて Twitter では `twitter:card` も設定が必要でした。

## `og:image` を設定した場合

### Twitter

<img width="550" alt="Twitter-only-og-image" src="https://user-images.githubuserco

[2020-04-25 23:31] JunichiIto commented on #278
@soruma ご確認どうもありがとうございます！

og:imageは最低限、全ページでルビーのアイコンが出てくればOKです。

ユーザーのアイコンやイベントの画像は別ドメインからの取得になるので、Twitterでは表示されない可能性が高いです。（経験あり）

[Twitterカードの設定は正しいのに画像が表示されない原因 \| あぱーブログ](https://blog.apar.jp/web/9844/)

[2020-04-28 00:26] JunichiIto opened #367 "プロフィールページの画像が横にはみ出す場合がある"
画像が大きいと枠をはみ出してしまうことがある。

https://rubyist.co/nnect/yukihirop

<img width="1009" alt="Screen Shot 2020-04-28 at 9 24 39" src="https://user-images.githubusercontent.com/1148320/80433588-4bb8e500-8932-11ea-9dc6-d84ab2e83141.png">

[2020-04-30 00:13] #278 closed, assigned to nobody

[2020-05-01 22:44] soruma commented on #315
どのようなメッセージが良いでしょうか?
私は、`404` と同じ「イベントが見つかりません。URLを確認してください。」で良いかなと思っています。

[2020-05-02 02:06] JunichiIto commented on #315
@soruma そうですね。特に違和感はないので、それで良いと思います。

[2020-05-07 23:27] #315 closed, assigned to nobody

[2020-05-11 00:11] JunichiIto opened #370 "manifest.jsの修正"
https://github.com/rubyist-connect/rubyist-connect/blob/master/app/assets/config/manifest.js#L9-L15

画像の部分を以下の記述に置き換える。

[code]

[2020-05-11 14:33] yuji-shimoda opened #371 "Qiita ブランドガイドラインのテキストロゴに差し替え"
下記でブランドガイドラインが、公開されていました。
- https://help.qiita.com/ja/articles/others-brand-guideline

利用可能なロゴは、テキストロゴのみの模様

[2020-05-11 14:50] soruma commented on #310
Doorkeeper のプロフィールページに表示される Facebook リンクをクリックすると必ず「このコンテンツは現在ご利用いただけません」と表示される様になっていたので、 Doorkeeper サポートに問い合わせをすると

引用元: https://www.doorkeeper.jp/changelog

という様に、プロフィールページからFacebookリンクを削除する対応が取られた様です。
実際にプロフィールページからリンクが消えていました。

<img width="200" alt="Screen Shot 2020-05-11 at 23 50 20" src="https://user-images.githubusercontent.com/3359685/81575615-2fad4d00-93e2-11ea-84f8-5b6dcdaf4645.png">

[2020-05-11 14:57] yuji-shimoda commented on #268
![スクリーンショット 2020-05-11 23 53 38](https://user-images.githubusercontent.com/2437500/81576082-c24dec00-93e2-11ea-977a-8bb2399884b6.png)

イベントの一覧ページにデザインを適用する前に、ユーザー一覧ページに
Card デザインを適用しようと Try 中です。
（別 Issue で対応した方が良い気がしますが、一旦こちらでご意見いただきたく）

[2020-05-11 14:58] soruma commented on #310
connpass を確認すると Facebookの `app_scoped_user_id` が消えてしまっていました。

<img width="500" alt="Screen Shot 2020-05-11 at 23 51 43" src="https://user-images.githubusercontent.com/3359685/81575898-874bb880-93e2-11ea-8ace-5516e68573ec.png">

Facebook のリンクからユーザーを割り出すことができなくなっている様でした。

Rubyist Connect には Facebook のアカウントを登録してもらう機能は残しつつ、 Doorkeeper と connpass のFacebookからアカウントを割り出す機能を消した方がいいと思います。

[2020-05-12 00:06] JunichiIto commented on #268
@yuji-shimoda ぱっと見、良さそうですが、以下の2点が気になりました。

- 現在表示されている自己紹介文の一部がまったく表示されないので、どんな人なのかリンクをクリックしないと想像が付かない（以下は今のデザイン）

<img width="279" alt="Screen Shot 2020-05-12 at 9 04 21" src="https://user-images.githubusercontent.com/1148320/81623897-bccac300-942f-11ea-852e-87eb77b7a59b.png">

- 念のため、スマホ表示のレイアウトも見てみたい

[2020-05-12 00:08] JunichiIto commented on #310
@soruma

なるほど、このあたりはどんどん制約が厳しくなってきてますからね・・・。
細谷さんが提案してくれた対応でagreeです。

[2020-05-12 15:04] yuji-shimoda commented on #268
意図的に自己紹介文を表示させてなかったんですが、やっぱり一部表示しておいた方が良いですよね

スマホ版でどう見えるかまでは、全く考慮してなかったです 😅

[2020-05-12 15:12] yuji-shimoda commented on #268
https://getbootstrap.com/docs/4.0/components/card/
Card layout

レスポンシブ非対応らしいです、、、

[2020-05-12 15:58] yuji-shimoda commented on #268
users.sass 側でウィンドウ幅に応じて、カラム数を可変にしたらうまくいきました
[code]
合わせて、自己紹介文も表示させて見ました。
![スクリーンショット 2020-05-13 0 55 55](https://user-images.githubusercontent.com/2437500/81716860-d4985a80-94b4-11ea-9f71-f70420133499.png)

[2020-05-12 16:00] yuji-shimoda commented on #268
スマホ表示版です。
![スクリーンショット 2020-05-13 0 59 40](https://user-images.githubusercontent.com/2437500/81717061-0f9a8e00-94b5-11ea-870d-a5ff4d53279a.png)

[2020-05-12 16:19] yuji-shimoda commented on #268
現状の実装では、Last Page でユーザー数が、24 より少ない場合
レイアウトが崩れる問題が発生していました。。。

[2020-05-13 04:14] JunichiIto commented on #268
デザイン、よくなりました 🙆

細かいところでいうと、以下の2点を調整してほしいです。（対応はいつでもOK）

- アイコン上下のマージンをもう少し取りたい＆同じ幅にしたい（赤線部分）
- 自己紹介の左右のマージンをもう少し取りたい（青線部分）

![81716860-d4985a80-94b4-11ea-9f71-f70420133499](https://user-images.githubusercontent.com/1148320/81770391-19ef7300-951b-11ea-81c4-f46226f77ad5.png)

[2020-05-14 10:18] yuji-shimoda commented on #268
レビューありがとうございます！後日、時間見つけて確認します！

[2020-05-16 01:45] #310 closed, assigned to nobody

[2020-05-16 01:54] JunichiIto opened #373 "inactiveなユーザーもカウントされている"
トップページの "999 rubyists" の表示にinactiveなユーザーも含まれている。

たとえば以下の例では 10 rubyists と表示されているが、アイコンは5つしかない。（つまり5人がinactive）

<img width="796" alt="Screen Shot 2020-05-16 at 10 51 50" src="https://user-images.githubusercontent.com/1148320/82107518-688f4e00-9763-11ea-8d36-f4b9db8b1be7.png">

ref: https://github.com/rubyist-connect/rubyist-connect/pull/369

[2020-05-16 01:55] JunichiIto commented on #373
@gazayas これも修正してもらえると助かります 🙏

[2020-05-21 23:34] #373 closed, assigned to nobody

[2020-05-21 23:34] #370 closed, assigned to nobody

[2020-05-26 10:09] soruma commented on #265
@JunichiIto @springaki すでに対応済みなので、クローズしても良いと思います。

<img width="660" alt="スクリーンショット 2020-05-26 19 03 23" src="https://user-images.githubusercontent.com/3359685/82888500-5a6fd780-9f84-11ea-93f2-6c7cc058ef05.png">

[2020-05-26 10:40] JunichiIto commented on #265
ですね。Closeします。
報告ありがとうございます！！

[2020-05-26 10:40] #265 closed, assigned to nobody

[2020-05-26 10:45] springaki commented on #265
@soruma ありがとうございます !! 😊

[2020-05-26 13:01] soruma commented on #147
次のページのタイトルは変更した方が良いと思います。

* `/:nickname`: ユーザー表示 | Rubyist Connect :arrow_right: 原田 優奈 | Rubyist Connect
* `/events/:id`: イベント表示 | Rubyist Connect :arrow_right: Rubyハッカソン in 大さくら村 | Rubyist Connect

次のページは変更しなくても良いと思います。

* `/`: ユーザー | Rubyist Connect
* `/edit`: ユーザー編集 | Rubyist Connect
* `/events`: イベント | Rubyist Connect
* `/events/new`: イベント作成 | Rubyist Connect
* `/events/:id/edit`: イベント編集 | Ru

[2020-05-27 10:25] JunichiIto commented on #147
検討ありがとうございます。こちらも後日確認しますね。

[2020-05-28 05:12] JunichiIto opened #378 "GitHub Actionsでテストを自動実行する"
現状Travis CIがいちおう動いているが、GitHub Actionsも気になる。
（PRにCIの結果を自動的に表示させたい）

参考 [Rails \+ RSpec \+ postgresをGitHub Actionsで自動テスト \| このコードわからん](https://hai3.net/blog/rails-rspec-postgres-github-action/)

[2020-05-28 12:11] soruma commented on #378
@JunichiIto GitHub Action の設定したことあるので、お手伝いできます!!

[2020-05-29 02:32] JunichiIto commented on #378
@soruma おお、すばらしい！時間があるときに試してもらえると嬉しいです😄

[2020-05-30 00:27] JunichiIto commented on #147
@soruma 確認しました。
たしかにユーザー表示とイベント表示の部分が変わるだけで、かなり改善される気がしますね。
方針は良いと思います🙆‍♂️

[2020-05-30 00:30] #280 closed, assigned to nobody

[2020-05-30 00:37] JunichiIto opened #381 "TravisCIのリタイア"
GitHub Actionに移行したので。

- [ ] コードベースから設定を削除
- [ ] TravisCI上の設定を削除

Ref: https://github.com/rubyist-connect/rubyist-connect/issues/378

[2020-05-30 00:43] JunichiIto opened #382 "gemの最新化とRuby 2.7への移行"

[2020-05-30 01:12] JunichiIto commented on #382
https://github.com/rubyist-connect/rubyist-connect/pull/383

[2020-05-30 01:12] #382 closed, assigned to JunichiIto

[2020-05-30 22:57] #378 closed, assigned to nobody

[2020-05-30 23:19] #147 closed, assigned to nobody

[2020-06-17 13:07] soruma commented on #249
@JunichiIto この issue は #376 と #369 で対応済みなので、クローズしても良いと思います。

[2020-06-18 07:52] JunichiIto commented on #249
@soruma たしかに！closeします〜。

[2020-06-18 07:52] #249 closed, assigned to nobody

[2020-06-19 13:20] soruma commented on #275
@JunichiIto
ログには 出力イメージのように `User#nickname` を表示すれば良いでしょうか?

出力イメージ
[code]

コードとしては、 `config/environments/production.rb` の `config.log_tags` に session からユーザーIDを取得して `User.find(user_id).nickname` を設定する予定です。

[2020-06-20 12:25] JunichiIto commented on #275
そうですねー、nicknameでいい気がします！

[2020-07-04 10:23] soruma commented on #360
どのタイミングからかは分かりませんが、ここのところエラーが発生していないようですので、クローズします。

[2020-07-04 10:23] #360 closed, assigned to nobody

[2020-07-04 22:46] #275 closed, assigned to nobody

[2020-07-04 22:56] JunichiIto commented on #360
そもそもGithub Actionsに移行したので状況が変わっている可能性もありますね。
クローズ、了解です！

[2020-07-04 23:05] JunichiIto opened #390 "ログのuser_id表示をuser_idであることを明示的に表示したい"
https://github.com/rubyist-connect/rubyist-connect/pull/388 の対応してuser_idが表示されるようになったが、`[9]`だけだと何を表しているのか分かりづらい。`[user_id=9]`のような表記にした方がわかりやすそう。

<img width="1525" alt="Screen Shot 2020-07-05 at 8 01 45" src="https://user-images.githubusercontent.com/1148320/86522261-30200c80-be96-11ea-9d37-c774af4a6d81.png">

[2020-07-09 23:47] soruma commented on #390
未ログインの場合は、どのように表示すれば良いでしょうか?
`[user_id=]`で良いでしょうか? それとも、`[user_id=]`を出さない方が良いでしょうか?

行っていないと思いますが、ログ解析のことを考えると`[user_id=]`の方が良いかなと思います。

[2020-07-10 01:56] JunichiIto commented on #390
@soruma 特にこだわりはないです。が、なんとなくですが、`[user_id=]`だと「あれ？バグってる？？」と思われるような気もするので、どちらかといえば何も出さないがいいかなーと思います。ログ解析のニーズは今のところないので考慮不要です〜。

[2020-07-17 10:50] #390 closed, assigned to nobody

[2020-10-10 06:16] #220 closed, assigned to nobody

[2021-03-22 02:37] #367 closed, assigned to nobody

[2022-09-23 07:15] JunichiIto opened #414 "Heroku無料プラン廃止に対応する"
https://blog.heroku.com/next-chapter の要点まとめ↓

- 2022/10/26から1年以上活動のないアカウントとそのストレージを削除する
- 2022/11/28から無料プランの提供を停止し、無料Dynoと無料DBの稼働を停止していく
- 影響を受けるユーザーにはメールで通知する
- Dynoは7$/月〜、Postgresは9$/月〜、Redisは$15月〜

2022/11/28までに「お金を払う（16$/月）」「別のプラットフォームにお引っ越しする」「停止する」の判断が必要になりそう。

[2022-09-23 07:16] JunichiIto commented on #414
@yuji-shimoda 下田さんの中では何か方針は決まってますか？vercel + supabase？（詳しく知らないけど）

https://twitter.com/yuji_shimoda/status/1563010504922017793

[2022-09-23 07:55] yuji-shimoda commented on #414
@JunichiIto

これまで、Rubyist Connect のサービス維持費としてはドメイン代（年間で 4000円弱）のみでした。
Heroku へ課金してサービス提供を維持しようとは考えていない状況です。
現状、rubyist.co ドメインは 2023/6/1 まで利用可能ではあります。

そのため、選択肢としては下記のいずれかを考えております。
- 別のプラットフォームにお引っ越しする
- 停止する

こちらは、技術的な興味からサービスを維持する場合の代替手段として色々と触っておりまして
機能足らずですが、それっぽいのを作りかけの状態です。
https://www.rubyist.co/

もし、サービスを継続して開発するのであれば、たくさんのユーザーに対して
価値を提供しつつ利用してもらえるサービスにしたいと思いつつも、何もアイデアがありません。
（サービスの開発を始めた頃

[2022-09-23 08:14] JunichiIto commented on #414
返信ありがとうございます！

vercel + supabaseの移行は技術的には面白そう、と思いつつも、じゃあ下田さんと一緒に開発・運用していく強いモチベーションがあるかどうかと言われると、僕もちょっと厳しい感じですね。。
僕の場合、コロナ禍の影響で西脇.rb＆神戸.rbの活動も事実上停止してしまい、rubyist-connectを利用することもなくなってしまった、という理由が大きいです。

Heroku 無料プランの提供廃止と共にサービス停止でも良いかなと考えております。

ですねー。残念ですが僕も同意見です。
将来的にまたrubyist-connectが必要になる状況が出てきたら、何らかの再稼働プランを考えるかもしれませんが、現時点の状況を考えるとサービス停止が一番妥当な気がしています。

### To このスレッドを読んだ他のみなさん

何かご意見・ご感想があればこのスレッドに返信

[2022-09-23 08:19] yuji-shimoda commented on #414
当初は勉強会で利用する前提の自己紹介タイム効率化を目的としたサービスだったので、
コロナの影響で勉強会の開催＆参加が難しい現状だと利用する機会が無いのは仕方がないですよねぇ。。。

[2022-09-30 06:04] yuji-shimoda commented on #414
Rubyist Connect サービス停止の方針で問題なければ、Heroku の課金が発生しないように
早めに撤収作業を実施しても良いのではないかと考えております。
特に異論が無いようであれば、10月のどこかで諸々作業を進めようかと考えておりますがいかがでしょうか？

[2022-10-03 01:33] JunichiIto commented on #414
Herokuから低コストプランが発表されていたので確認しましたが、結局$10/月ぐらいはかかってしまいますね。。

https://twitter.com/jnchito/status/1576452243607298049

ポケットマネーで払えない額ではないですが、アクティブに使われていないことを考えると10月中にクローズでもいいと思います。

[2022-10-08 06:45] yuji-shimoda commented on #414
Rubyist Connect サービス終了について、アナウンスしておきました！
https://twitter.com/RubyistConnect/status/1578636802445180929?s=20&t=rz5thC-xF1nb986o6bEGNg

[2022-10-08 07:41] #414 closed, assigned to nobody

[2022-10-10 02:13] #166 closed, assigned to nobody

[2022-10-10 02:13] #171 closed, assigned to nobody

[2022-10-10 02:13] #173 closed, assigned to nobody

[2022-10-10 02:13] #180 closed, assigned to nobody

[2022-10-10 02:13] #181 closed, assigned to nobody

[2022-10-10 02:13] #183 closed, assigned to nobody

[2022-10-10 02:13] #191 closed, assigned to nobody

[2022-10-10 02:13] #196 closed, assigned to nobody

[2022-10-10 02:13] #204 closed, assigned to nobody

[2022-10-10 02:13] #222 closed, assigned to nobody

[2022-10-10 02:13] #223 closed, assigned to nobody

[2022-10-10 02:13] #232 closed, assigned to nobody

[2022-10-10 02:13] #256 closed, assigned to nobody

[2022-10-10 02:13] #264 closed, assigned to nobody

[2022-10-10 02:13] #268 closed, assigned to nobody

[2022-10-10 02:13] #269 closed, assigned to nobody

[2022-10-10 02:13] #284 closed, assigned to nobody

[2022-10-10 02:13] #287 closed, assigned to nobody

[2022-10-10 02:13] #297 closed, assigned to nobody

[2022-10-10 02:13] #317 closed, assigned to nobody

[2022-10-10 02:13] #318 closed, assigned to nobody

[2022-10-10 02:13] #334 closed, assigned to nobody

[2022-10-10 02:13] #346 closed, assigned to nobody

[2022-10-10 02:13] #371 closed, assigned to nobody

[2022-10-10 02:13] #381 closed, assigned to nobody

[2022-10-10 02:13] #56 closed, assigned to JunichiIto

[2022-10-10 02:13] #62 closed, assigned to nobody

[2022-10-10 02:13] #64 closed, assigned to nobody

[2022-10-10 02:13] #65 closed, assigned to nobody

[2022-10-10 02:13] #83 closed, assigned to nobody

[2022-10-10 02:13] #86 closed, assigned to nobody

[2022-10-10 02:13] #87 closed, assigned to nobody

[2022-10-10 02:13] #104 closed, assigned to nobody

[2022-10-10 02:13] #138 closed, assigned to nobody